<template>
  <NetView />
</template>
<script>
import NetView from '@/components/pages/net-view/NetView'
import { core } from '@/config/pluginInit'

export default ({
  name: 'TrangNetView',
  components: {
    NetView
  },
 mounted () {
    core.index()
  }
})
</script>
