<template>
  <div v-if="activeMenu && activeMenu.label === 'Tổng quan'">
    <iq-card>
      <div class="outer">
        <iframe
          class="inner iframeAP"
          src="https://app.powerbi.com/view?r=eyJrIjoiN2ViNDY2ZGItNzg1YS00ZTRkLTg2MDQtNTM1MDNkNzlhNTJhIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D&pageName=ReportSection"
          frameborder="0"
        ></iframe>
      </div>
    </iq-card>
  </div>
  <div v-else>
    <b-row>
      <b-col xl="6">
        <iq-card class="p-3 overview-nhiem-vu">
          <div class="progress-list">
            <div class="mb-1">
              <span class="thong-tin" style="cursor: pointer"
                >Ý kiến người dân</span
              >
            </div>
            <b-progress class="mt-2" :max="getTotal(ojMenuLeft)">
              <b-progress-bar :value="getNumber(ojMenuLeft, 'Đã xử lý')">
                <span
                  class="cursor-pointer nut-progress-bar poiter"
                  @click.stop="setMenuLeft(getMenu('Đã xử lý'))"
                >
                  {{ getNumber(ojMenuLeft, 'Đã xử lý') }}
                </span>
              </b-progress-bar>
              <b-progress-bar :value="getNumber(ojMenuLeft, 'Chờ xử lý')">
                <span
                  class="cursor-pointer nut-progress-bar poiter"
                  @click.stop="setMenuLeft(getMenu('Chờ xử lý'))"
                >
                  {{ getNumber(ojMenuLeft, 'Chờ xử lý') }}
                </span>
              </b-progress-bar>
              <b-progress-bar :value="getNumber(ojMenuLeft, 'Đang xử lý')">
                <span
                  class="cursor-pointer nut-progress-bar poiter"
                  @click.stop="setMenuLeft(getMenu('Đang xử lý'))"
                >
                  {{ getNumber(ojMenuLeft, 'Đang xử lý') }}
                </span>
              </b-progress-bar>
            </b-progress>
            <b-row class="mx-0 progress-tac-vu-1">
              <b-col xl="4" lg="12" sm="12" class="px-0 mb-1">
                <span class="cho-phan-xu-ly"></span>
                <span>Đã xử lý</span>
              </b-col>
              <b-col xl="4" lg="12" sm="12" class="px-0 mb-1">
                <span class="chua-thuc-hien"></span>
                <span>Chờ xử lý</span>
              </b-col>
              <b-col xl="4" lg="12" sm="12" class="px-0 mb-1">
                <span class="dang-thuc-hien"></span>
                <span>Đang xử lý</span>
              </b-col>
            </b-row>
            <div class="border-top progress-tac-vu-2">
              <div class="progress-tac-vu-item">
                <div class="cursor-pointer">
                  <span class="qua-han">{{
                    getNumber(ojMenuLeft, 'Quá hạn xử lý')
                  }}</span>
                  <span>Quá hạn</span>
                </div>
              </div>
              <div class="progress-tac-vu-item">
                <div class="cursor-pointer">
                  <span class="den-han">23</span>
                  <span>Đến hạn</span>
                </div>
              </div>
              <div class="progress-tac-vu-item">
                <div class="cursor-pointer">
                  <span class="trong-han">14</span>
                  <span>Trong hạn</span>
                </div>
              </div>
            </div>
          </div>
        </iq-card>
      </b-col>
      <b-col xl="6">
        <iq-card class="p-3 fixHeight fixThemeMode">
          <div class="progress-list">
            <div class="mb-1">
              <span class="thong-tin" style="cursor: pointer">
                Thống kê ý kiến chưa xử lý theo đơn vị
              </span>
            </div>
            <b-row
              class="mb-2"
              v-for="(o, i) of ojThongKe"
              :key="i"
              v-show="o.number !== 0"
            >
              <b-col xl="4" sm="6">{{ o.label }}</b-col>
              <b-col xl="8" sm="6">
                <b-progress
                  class="height-30"
                  :value="o.number"
                  :max="listData.length"
                  variant="danger"
                  show-value
                ></b-progress>
              </b-col>
            </b-row>
          </div>
        </iq-card>
      </b-col>
    </b-row>
    <iq-card>
      <div class="iq-card-body">
        <ListData />
      </div>
    </iq-card>
  </div>
</template>

<script>
import ListData from '@/views/YKienNguoiDan/ListData'
import { mapGetters, mapMutations } from 'vuex'
export default {
  name: 'BaoCaoThongKe',
  components: { ListData },
  data () {
    return {
      isDetail: false
    }
  },
  methods: {
    ...mapMutations('YKienNguoiDan', ['setMenuLeft']),
    getTotal (o) {
      let number = 0
      number += this.getNumber(o, 'Đã xử lý')
      number += this.getNumber(o, 'Chờ xử lý')
      number += this.getNumber(o, 'Đang xử lý')
      return number
    },
    getNumber (o, text) {
      return o.find(f => f.label === text).number
    },
    getMenu (label) {
      return this.ojMenuLeft.find(e => e.label === label)
    }
  },
  computed: {
    ...mapGetters('YKienNguoiDan', [
      'ojThongKe',
      'listData',
      'ojMenuLeft',
      'activeMenu'
    ])
  }
}
</script>

<style lang="scss" scoped>
.height-30 {
  height: 30px;
}
$color-primary: #44afbe;
$color-secondary: #2c3374;
$color-gray: #c9e4ea;

$color-primary-hover: #138496;

$color-bg-menu-left: #006e80;

$color-orange: #e7843f;
$color-orange-1: #f2994a;
$color-red: #e73a0a;

$mau-chua-phan-xu-ly: #06c270;
$mau-chua-thuc-hien: var(--iq-dark-2-hover-bg);
$mau-dang-thuc-hien: var(--iq-secondary);
$mau-thu-hoi: #9b7938;
$mau-tra-lai: #e5f52f;
$mau-da-hoan-thanh: #42b432;
$mau-qua-han: #d9001b;
$mau-den-han: #f59a23;
$mau-trong-han: #000000;
$mau-phoi-hop: #b16a6a;
$mau-nhan-de-biet: #000000;
$mau-chu-tri: #00ffca;
$mau-cho-vao-so: #0034ff;
$mau-cho-phan-xu-ly: #ff0000;

body.dark,
body.dark-2,
body.dark-3 {
  .fixThemeMode .progress-list .row {
    & > div:nth-child(1) {
      opacity: 0.85;
    }
  }
}
body.dark {
  .fixThemeMode .progress-list .row {
    & > div:nth-child(2) .progress {
      background-color: var(--iq-dark-hover-bg);
    }
  }
}
body.dark-2 {
  .fixThemeMode .progress-list .row {
    & > div:nth-child(2) .progress {
      background-color: var(--iq-dark-2-hover-bg);
    }
  }
}
body.dark-3 {
  .fixThemeMode .progress-list .row {
    & > div:nth-child(2) .progress {
      background-color: var(--iq-dark-hover-bg);
    }
  }
}

.thong-tin {
  font-size: 18px;
  font-weight: bold;
}

.gap {
  background-color: $mau-cho-phan-xu-ly !important;
}

.quan-trong {
  background-color: $color-orange !important;
}

.binh-thuong {
  background-color: $mau-da-hoan-thanh !important;
}

.overview-nhiem-vu {
  .couter {
    &:hover {
      color: $color-primary-hover;
    }
  }
  .block-menu {
    right: 24px;
    z-index: 2;
    bottom: -14px;
    & svg {
      color: #1a62b3;
      font-size: 35px;
    }
  }

  .highcharts-series.highcharts-series-0.highcharts-pie-series.highcharts-tracker {
    cursor: pointer;
  }
  .progress-bar:nth-child(3),
  .dang-thuc-hien {
    background: $mau-dang-thuc-hien !important;
  }
  .progress-bar:nth-child(4),
  .da-hoan-thanh {
    background: $mau-da-hoan-thanh !important;
  }
  .progress-bar:nth-child(2),
  .chua-thuc-hien {
    background: $mau-chua-thuc-hien !important;
  }
  .progress-bar:nth-child(5),
  .tra-lai {
    background: $mau-tra-lai !important;
    color: #4b4b4b !important;
  }
  .progress-bar:nth-child(6),
  .thu-hoi {
    background: $mau-thu-hoi !important;
  }
  .progress-bar:nth-child(1),
  .cho-phan-xu-ly {
    background: $mau-chua-phan-xu-ly !important;
  }
  .progress-muc {
    margin: 5px 0;
    flex: 33.333% 0 0;
    max-width: 33.333%;
  }
  .cho-phan-xu-ly,
  .chua-thuc-hien,
  .dang-thuc-hien,
  .da-hoan-thanh,
  .tra-lai,
  .thu-hoi {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: -2px 5px;
  }
  .progress-list {
    height: 100%;

    .thong-tin {
      font-size: 18px;
      font-weight: bold;

      & strong {
        color: #000;
        font-size: 22px;
        margin-left: 7px;
      }
    }
  }
  .progress {
    height: 30px;
  }
  .nut-progress-bar {
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    &:hover {
      color: $color-primary-hover;
    }
  }
  .progress-tac-vu-1,
  .progress-tac-vu-2 {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .progress-tac-vu-item {
      margin: 0 10px;
      font-size: 14px;
    }
  }
  .progress-tac-vu-2 {
    .progress-tac-vu-item {
      margin-top: 15px;
      font-size: 16px;
    }
  }
  .qua-han {
    color: $mau-qua-han;
    margin-right: 10px;
    &:hover {
      color: $color-primary-hover;
    }
  }
  .den-han {
    color: $mau-den-han;
    margin-right: 10px;
    &:hover {
      color: $color-primary-hover;
    }
  }
  .trong-han {
    color: $mau-trong-han;
    margin-right: 10px;
    &:hover {
      color: $color-primary-hover;
    }
  }
}
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  background: var(--iq-light-dark);
  padding: 0.4rem;
}
.t-body {
  overflow-x: hidden;
  max-height: 32rem;
}
.t-body-list {
  //justify-content: space-between;
  padding: 0.4rem;
  //opacity: 1;
  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.table-b-table-default {
  background: var(--iq-light-border) !important;
  color: #212529 !important;
}

.cs-table {
  font-size: 14px;
  color: #000;
}

.progress-bar {
  align-items: center;
}

.fixHeight {
  overflow-y: auto;
  max-height: 231px;
}

.iframeAP {
  width: 100%;
  // height: calc(100% + 37px);
  height: 100%;
}
.outer {
  position: relative;
  &:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: calc((9 / 16) * 100% + 37px);
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.poiter {
  cursor: pointer;
}
</style>
