<template>
  <tab-content>
    <div class="">
      <div class="t-header d-flex heading-list">
        <div class="w-10">STT</div>
        <div class="w-40">Nội dung phản ánh</div>
        <div class="w-20">Cơ quan xử lý</div>
        <div class="w-12">Ngày tiếp nhận</div>
        <div class="w-10">Hạn xử lý</div>
        <div class="w-10">Tình trạng</div>
      </div>
      <template v-if="dataShow.length > 0">
        <div
          class="t-body d-flex t-body-list"
          v-for="(o, i) in dataShow"
          :key="i"
          @click.stop="clickLink(o)"
        >
          <div class="w-10">{{ i + 1 }}</div>
          <div class="w-40">{{ o.noiDungPhanAnh }}</div>
          <div class="w-20">{{ o.coQuanXuLy }}</div>
          <div class="w-12">{{ o.ngayTiepNhan }}</div>
          <div class="w-10">{{ o.hanXuLy }}</div>
          <div class="w-10">
            <span :class="getCTT(o.tinhTrang)">{{ o.tinhTrang }}</span>
          </div>
        </div>
      </template>
      <template v-else>
        <div class="t-body d-flex t-body-list">
          <div class="w-100" style="text-align: center">
            Không có dữ liệu
          </div>
        </div>
      </template>
    </div>
  </tab-content>
  <!-- <iq-card>
    <b-table
      @row-clicked="rowClickHandler"
      hover
      responsive
      :items="items"
      :fields="fields"
      class="mb-0 table-borderless"
    >
      <template v-slot:cell(TrangThai)="data">
        <b-badge pill :variant="data.value.color">{{
          data.value.name
        }}</b-badge>
      </template>
      <template v-slot:cell(HoanThanh)="data1">
        <Progressbar
          :title="'Mức độ hoàn thành:' + data1.value.count + '%'"
          :value="data1.value.count"
          :color="data1.value.color"
        />
      </template>
    </b-table>
  </iq-card> -->
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'DanhSachBaoCao',
  data () {
    return {
      active: false
    }
  },
  methods: {
    rowClickHandler (record, index) {
      console.log(record, index, this.$route)
      this.routeCallback(record.ID)
    },
    openDetail (item) {
      this.active = true
      console.log(item)
    },
    closeDetail (item) {
      this.active = false
      console.log(item)
    },
    clickLink (e) {
      // const url = new URL(window.location.href)
      // this.$router.push({ path: '/app/y-kien-nguoi-dan/phan-anh', query: e })
      const tagA = document.createElement('a')
      tagA.href =
        'http://ubndtinhdongnai-pakn.chinhquyendientu.vn/tiep-nhan-pakn/pakn-cho-tiep-nhan/KHDT.20210325092204920'
      tagA.target = '_blank'
      tagA.click()
      tagA.remove()
    },
    getCTT (label) {
      return this.ojMenuLeft.find(e => e.label === label).colorNumber
    }
  },
  computed: {
    // ...mapGetters({
    //   dataShow: 'YKienNguoiDan/dataShow',
    //   listData: 'YKienNguoiDan/listData'
    // })
    ...mapGetters('YKienNguoiDan', ['listData', 'dataShow', 'ojMenuLeft'])
  }
}
</script>
<style lang="scss" scoped>
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //background-color: var(--iq-light-border) !important;
  padding: 0.4rem;
  font-size: 14px;
}
.t-body-list {
  //justify-content: space-between;
  padding: 0.4rem;
  //opacity: 1;
  border-bottom: 1px solid rgb(222, 226, 230);
  &:nth-child(1) {
    padding: 10px;
  }
  div {
    margin: 0.2rem;
  }
  &:hover {
    background-color: var(--iq-progress-light);
    cursor: pointer;
  }
}
body.dark,
body.dark-2,
body.dark-3 {
  .badge-primary {
    color: var(--iq-white);
    background-color: var(--iq-primary) !important;
  }
  .t-body-list {
    background-color: transparent;
  }
}
body.dark {
  .heading-list {
    // background-color: var(--iq-dark-hover-bg);
  }
  .t-body-list {
    background: var(--iq-dark-body-bg);
  }
  .t-body-list:hover {
    background-color: var(--iq-dark-hover-bg);
  }
}
body.dark-2 {
  .heading-list {
    // background-color: var(--iq-dark-2-hover-bg);
  }
  .t-body-list {
    background: var(--iq-dark-2-body-bg);
    border-color: rgba(255, 255, 255, 0.1);
  }
  .t-body-list:hover {
    background-color: var(--iq-dark-2-hover-bg);
  }
}
body.dark-3 {
  .heading-list {
    // background-color: var(--iq-dark-hover-bg);
  }
  .t-body-list {
    background: var(--iq-dark-3-body-bg);
  }
  .t-body-list:hover {
    background-color: var(--iq-dark-hover-bg);
  }
}
.w-10 {
  width: 10%;
}
.w-12 {
  width: 12%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-21 {
  width: 21%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
</style>
