<template>
  <iq-card>
    <div class="iq-card-body">
      <b-container v-if="ojR">
        <h5 style="font-weight: 600; margin-bottom: 18px">
          Thông tin phản ánh
        </h5>
        <b-row>
          <div class="col-8 text-field">
            <label>Tiêu đề:</label>
            <p class="content">...</p>
          </div>
          <div class="col-4 text-field">
            <label>Trạng thái:</label>
            <p class="content">{{ ojR.tinhTrang }}</p>
          </div>
        </b-row>
        <div class="text-field">
          <label>Nội dung:</label>
          <p class="content">{{ ojR.noiDungPhanAnh }}</p>
        </div>
        <div class="text-field">
          <label>Cơ quan xử lý:</label>
          <p class="content">{{ ojR.coQuanXuLy }}</p>
        </div>
        <b-row>
          <div class="col text-field">
            <label>Ngày tiếp nhận:</label>
            <p class="content">{{ ojR.ngayTiepNhan }}</p>
          </div>
          <div class="col text-field">
            <label>Hạn xử lý:</label>
            <p class="content">{{ ojR.hanXuLy }}</p>
          </div>
        </b-row>
      </b-container>
    </div>
  </iq-card>
</template>

<script>
export default {
  data () {
    return {
      ojR: undefined
    }
  },
  created () {
    this.ojR = this.$route.query
  }
}
</script>

<style lang="scss" scoped>
.text-field {
  margin-bottom: 24px;
  & > label {
    margin-bottom: 6px;
    display: block;
    width: fit-content;
    font-weight: 600;
  }
  & > .content {
  }
  & > p.content {
  }
  &.nmb {
    margin-bottom: 0;
  }
}
</style>
