<template>
  <iq-card>
    <template v-slot:body>
      <div class="iq-todo-page">
        <ul class="list-bao-cao p-0 m-0">
          <li v-for="(o, i) of ojMenuLeft" :key="i">
            <!-- v-show="!isTinhTrang(o.label)" -->
            <a
              target="_self"
              v-if="o && o.head"
              :class="{ active: activeMenu === o }"
              class="headTitle"
            >
              {{ o.label }}
              <span class="ml-2 float-right" :class="o.colorNumber">
                {{ o.number }}
              </span>
            </a>
            <a
              target="_self"
              @click="$nextTick(() => setMenuLeft(o))"
              v-else-if="o.child.length === 0"
              :class="{ active: activeMenu === o }"
            >
              <i class="ri-stack-fill mr-2" />
              {{ o.label }}
              <span
                class="ml-2 float-right"
                :class="o.colorNumber"
                v-show="o.label !== 'Tổng quan'"
              >
                {{ o.number }}
              </span>
            </a>
            <template v-else-if="o.child.length > 0">
              <a
                target="_self"
                class="parentMenu"
                @click="
                  $nextTick(() => setMenuLeft(o))
                  $nextTick(() => setActiveMenu({ i: i, b: !o.active }))
                "
                :class="{ active: activeMenu === o }"
              >
                <i class="ri-stack-fill mr-2" />
                {{ o.label }}
                <span class="ml-2 float-right" :class="o.colorNumber">
                  {{ o.number }}
                </span>
              </a>
              <template v-if="o.active">
                <a
                  target="_self"
                  v-for="(o2, i2) of o.child"
                  :key="i2"
                  @click="$nextTick(() => setMenuLeft(o2))"
                  class="subMenu"
                  :class="{ active: activeMenu === o2 }"
                >
                  <!-- <i class="ri-stack-fill mr-2" /> -->
                  <i class="ri-checkbox-blank-circle-fill text-success" />
                  {{ o2.label }}
                  <span class="ml-2 float-right" :class="o2.colorNumber">
                    {{ o2.number }}
                  </span>
                </a>
              </template>
            </template>
          </li>
        </ul>
      </div>
    </template>
  </iq-card>
</template>
<script>
import moment from 'moment'
import { mapMutations, mapGetters } from 'vuex'
export default {
  name: 'SidebarLeft',
  mounted () {
    this.loadData()
  },
  methods: {
    ...mapMutations('YKienNguoiDan', [
      'loadData',
      'setShowData',
      'addShowData',
      'setMenuLeft',
      'setNML',
      'setNML2',
      'setActiveMenu'
    ]),
    momentRT (date) {
      return moment(date)
        .set('hours', 0)
        .set('minutes', 0)
        .set('seconds', 0)
        .set('milliseconds', 0)
    },
    isDiaPhuong (label) {
      if (
        label === 'UBND thành phố Biên Hòa' ||
        label === 'UBND thành phố Long Khánh' ||
        label === 'UBND huyện Tân Phú' ||
        label === 'UBND huyện Vĩnh Cửu' ||
        label === 'UBND huyện Định Quán' ||
        label === 'UBND huyện Trảng Bom' ||
        label === 'UBND huyện Thống Nhất' ||
        label === 'UBND huyện Cẩm Mỹ' ||
        label === 'UBND huyện Long Thành' ||
        label === 'UBND huyện Nhơn Trạch' ||
        label === 'UBND huyện Xuân Lộc'
      ) {
        return true
      } else {
        return false
      }
    },
    isSoBanNganh (label) {
      if (
        label === 'Sở Tài chính' ||
        label === 'Sở Kế hoạch và Đầu tư' ||
        label === 'Sở Nông nghiệp và Phát triển Nông thôn' ||
        label === 'Sở Công thương' ||
        label === 'Sở Xây dựng' ||
        label === 'Sở Giao thông vận tải' ||
        label === 'Sở Tài nguyên và Môi trường' ||
        label === 'Sở Khoa học và Công nghệ' ||
        label === 'Sở Giáo dục và Đào tạo' ||
        label === 'Sở Y tế' ||
        label === 'Sở Văn hóa, Thể thao và Du lịch' ||
        label === 'Sở Lao động - Thương binh và Xã hội' ||
        label === 'Sở Tư pháp' ||
        label === 'Sở Thông tin và Truyền thông' ||
        label === 'Sở Nội vụ' ||
        label === 'Sở Ngoại vụ' ||
        label === 'Thanh tra tỉnh' ||
        label === 'Ban quản lý khu công nghệ cao' ||
        label === 'Ban quản lý các khu công nghiệp Đồng Nai' ||
        label === 'Ban Dân tộc'
      ) {
        return true
      } else {
        return false
      }
    },
    isTinhTrang (label) {
      if (
        label === 'Chờ xử lý' ||
        label === 'Đang xử lý' ||
        label === 'Đã xử lý'
      ) {
        return true
      } else {
        return false
      }
    }
  },
  computed: {
    ...mapGetters('YKienNguoiDan', [
      'dataShow',
      'listData',
      'ojMenuLeft',
      'activeMenu'
    ])
  },
  watch: {
    activeMenu () {
      if (
        this.activeMenu.label === 'VP UBND tỉnh' ||
        this.activeMenu.label === 'Sở ban ngành' ||
        this.activeMenu.label === 'Địa phương'
      ) {
        this.setShowData(
          this.listData.filter(e => e.coQuanTiepNhan === this.activeMenu.label)
        )
      } else if (this.isDiaPhuong(this.activeMenu.label)) {
        this.setShowData(
          this.listData.filter(e => e.coQuanXuLy === this.activeMenu.label)
        )

        const oj = this.ojMenuLeft.find(e => e.label === 'Địa phương')
        this.setNML2({
          i: this.ojMenuLeft.findIndex(e => e.label === 'Địa phương'),
          i2: oj.child.indexOf(this.activeMenu),
          number: this.dataShow.length
        })
        return
      } else if (this.isSoBanNganh(this.activeMenu.label)) {
        this.setShowData(
          this.listData.filter(e => e.coQuanXuLy === this.activeMenu.label)
        )

        const oj = this.ojMenuLeft.find(e => e.label === 'Sở ban ngành')
        this.setNML2({
          i: this.ojMenuLeft.findIndex(e => e.label === 'Sở ban ngành'),
          i2: oj.child.indexOf(this.activeMenu),
          number: this.dataShow.length
        })
        return
      } else if (
        this.isTinhTrang(this.activeMenu.label) ||
        this.activeMenu.label === 'Quá hạn xử lý'
      ) {
        // this.activeMenu.label === 'Đến hạn xử lý'
        this.setShowData(
          this.listData.filter(e => e.tinhTrang === this.activeMenu.label)
        )
      } else if (this.activeMenu.label === 'Trong hạn xử lý') {
        this.setShowData([])
        const o = this.listData.filter(e => e.tinhTrang === 'Đã xử lý')
        this.setShowData(
          o.filter(
            e => this.momentRT(e.hanXuLy).valueOf() <= this.momentRT().valueOf()
          )
        )
      } else {
        this.setShowData(this.listData)
      }
      this.setNML({
        i: this.ojMenuLeft.indexOf(this.activeMenu),
        number: this.dataShow.length
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.list-bao-cao li > a:hover,
.list-bao-cao li > a.active,
.list-filter li > a:hover,
.list-filter li > a.active {
  color: var(--iq-white);
  background: var(--iq-primary);
  cursor: pointer;
  user-select: none;
  body.dark & {
    background: var(--iq-dark-hover-bg);
    color: var(--iq-dark-body-text);
  }
  body.dark-2 & {
    background: var(--iq-dark-2-hover-bg);
    color: var(--iq-dark-2-body-text);
  }
  body.dark-3 & {
    background: var(--iq-dark-hover-bg);
    color: var(--iq-dark-3-body-text);
  }
}
.list-title {
  color: var(--iq-primary);
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 0px;
  padding-left: 15px;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}
.fixBCheckBox {
  padding: 0 0 0 16px;
  margin-right: 0;
}
.subMenu {
  padding-left: 25px;
}
.headTitle {
  font-weight: 700;
  &:hover {
    color: var(--iq-icon-color) !important;
    background: transparent !important;
    cursor: default !important;
  }
}
.default-b-badge {
  background-color: rgba(127, 133, 180, 0.15);
  //color: #7f85b4;
}
</style>

<style lang="scss">
.fixBCheckBox > .custom-control-label {
  left: 8px;
}
</style>
