<template>
  <b-container fluid>
    <b-row>
      <b-col lg="3">
        <SidebarLeft />
      </b-col>
      <b-col lg="9">
        <GContent />
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '@/config/pluginInit'
import SidebarLeft from '@/views/YKienNguoiDan/SidebarLeft'
import GContent from '@/views/YKienNguoiDan/GContent'

export default {
  name: 'TodoListing',
  components: { SidebarLeft, GContent },
  beforeDestroy () {
    this.$store.unregisterModule('Todo')
  },
  mounted () {
    core.index()
  }
}
</script>
<style></style>
