/*
Swiper Slider Changes
#post-slider .slick-arrow { top: 14px; }

ltr
#post-slider .slick-arrow.left { left: auto; right: 70px; }
#post-slider .slick-arrow.right { left: auto; right: 35px; }

rtl
#post-slider .slick-arrow.left { right: auto; left: 35px; }
#post-slider .slick-arrow.right { right: auto; left: 70px; }
*/
// Animate css
// @import "~animate.css/animate.min.css";
@import '~node-snackbar/src/sass/snackbar.sass';
// Font awesome icon Css
@import "../css/bootstrap.min";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
.chart-link {
    h5 {
      color: var(--iq-primary);
      &:hover{
          text-decoration: underline;
      }
    }
  }
  .mt-15{
margin-top: 15px;
  }
  .mb-25{
margin-bottom: 25px;
  }