<template>
  <tab-content>
    <div class="schedule-table">
      <b-table
        hover
        sticky-header
        fixed
        responsive
        :items="workItemFilter"
        :fields="fields"
        class="TinhHuongKhanCap"
        @row-clicked="openDetail"
      >
        <template v-slot:cell(ThanhPhan)="data">
            {{ data.item.ThanhPhan[0].vaiTro }}
        </template>
        <template v-slot:cell(ThoiGian)="data">
          <div>
            {{ data.item.Date.Day}} / {{ data.item.Date.month}} /{{ data.item.Date.year}}
          </div>
          <div>
            {{data.item.Time}}
          </div>
        </template>
        <template v-slot:cell(Loai)="data">
          <b-button pill :variant="data.item.Loai.color">{{
              data.item.Loai.name
            }}</b-button>
        </template>
      </b-table>
    </div>
     <div class="email-app-details"  style="overflow: auto;">
      <b-modal ref="choosen-schedule-detail" hide-footer title="Chi tiết lịch làm việc" size="xl">
        <div class="d-block">
        <h5>{{choosenItems.NoiDung}}</h5>
        <b-row>
          <b-col class="d-flex align-items-center">
          <div><img style="margin-right: 10px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/time-icon.0d82b791.svg"></div>
          <div> {{myDate.Day?`${myDate.Day} - `:""}} {{myDate.month}} - {{myDate.year}}</div>
          </b-col>
        </b-row>
          <b-row>
            <b-col class="d-flex align-items-center">
              <div><img style="margin-right: 5px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/pin_drop_24px.144b1bba.svg"></div>
              <div>{{choosenItems.DiaDiem}}</div>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="d-flex align-items-center">
              <div> <img style="margin-right: 7px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/Group_210.3d635a42.svg"></div>
              <div>{{roler.vaiTro}} </div>
            </b-col>
          </b-row>

      </div>
      </b-modal>
    </div>
  </tab-content>
</template>
<script>
export default {
  name: 'DanhSachBaoCao',
  data () {
    return {
      active: false,
      choosenItems: {},
      myDate: {},
      roler: {},
      fields: [
        {
          key: 'ThoiGian',
          label: 'Thời gian'
        },
        {
          key: 'NoiDung',
          label: 'Nội dung'
        },
        {
          key: 'ThanhPhan',
          label: 'Thành phần'
        },
        {
          key: 'Loai',
          label: 'Loại'
        }
      ]
    }
  },
  props: {
    workItemFilter: {
      type: Array,
      default () {
        return []
      }
    }
  },
  watch: {
  },
  mounted () {
  },
  methods: {
    rowClickHandler (record, index) {
      this.routeCallback(record.ID)
    },
    openDetail (item) {
      this.active = true
      this.choosenItems = item
      this.myDate = this.choosenItems.Date
      this.roler = this.choosenItems.ThanhPhan[0]
      this.$refs['choosen-schedule-detail'].show()
    },
    closeDetail (item) {
      this.active = false
    }
  }
}
</script>
<style lang="scss" scoped>
.schedule-table{
  margin-top:7px;
  max-height: 700px;
  overflow-x: hidden;
}
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  //background: #fff;
  padding: 0.4rem;
}
.t-body-list {
  //justify-content: space-between;
  //background: #fff;
  padding: 0.4rem;
  //opacity: 1;

  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.shorten-text {
  display: -webkit-box !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
</style>
