<template>
  <iq-card>
    <template v-slot:body>
      <div class="iq-todo-page">
        <ul class="list-bao-cao p-0 m-0">
          <li
            v-for="(route, index) in leftMenuList"
            :key="index"
          >
            <a
              class="d-flex"
              href="#"
              target="_self"
              :class="{
                active: active === index,
               'cs-category' : route.value === 'DON_VI' || route.value === 'LOAI_LICH'
              }"
              @click="setIndex(index, route.value)"
            >
              <i class="ri-stack-fill mr-2" v-if="route.value !== 'DON_VI' && route.value !== 'LOAI_LICH'"></i>
              {{ route.name }}
              <b-badge class="ml-auto align-self-center badge-success" v-if="route.value !== 'DON_VI' && route.value !== 'LOAI_LICH'">
                {{ getCount(route.value) }}
              </b-badge>
            </a>
            <ul class="list-bao-cao p-0 m-0" v-if="!_isEmpty(route.child)">
              <li
                v-for="(routeChild, i) in route.child"
                :key="i"
              >
                <a
                  href="#"
                  target="_self"
                  :class="{ active: activeChild === `${index}_${i}` }"
                  class="d-flex li-child"
                  @click="setChildIndex(index, i, routeChild.value)"
                >
                  <i class="ri-stack-fill mr-2"></i>
                  {{ routeChild.name }}
                  <b-badge class="ml-auto align-self-center badge-success" :style="{ backgroundColor: routeChild.bgColor, color: routeChild.color }">
                    {{ getCount(routeChild.value) }}
                  </b-badge>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </template>
  </iq-card>
</template>
<script>
import { mapGetters } from 'vuex'
import _isEmpty from 'lodash/isEmpty'
import { workSchedule } from '../../../FackApi/api/calendar'
export default {
  name: 'ProjectList',
  props: {
    dateRange: {
      type: String,
      default: ''
    },
    selectedView: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      active: 0,
      activeChild: null,
      leftMenuList: [
        {
          name: 'Cá nhân',
          value: 'CA_NHAN',
          count: 2,
          child: []
        },
        {
          name: 'Đơn vị',
          value: 'DON_VI',
          count: 170,
          child: [
            {
              name: 'Ủy ban nhân dân',
              value: 'UBND',
              count: 7,
              child: []
            },
            {
              name: 'Hội đồng nhân dân',
              value: 'HDND',
              count: 2,
              child: []
            },
            {
              name: 'Tỉnh ủy',
              value: 'TINH_UY',
              count: 0,
              child: []
            },
            {
              name: 'Sở, Ban, Ngành',
              value: 'SO_BAN_NGANH',
              count: 19,
              child: []
            },
            {
              name: 'Đia phương',
              value: 'DIA_PHUONG',
              count: 0,
              child: []
            }
          ]
        },
        {
          name: 'Loại lịch',
          value: 'LOAI_LICH',
          count: 170,
          child: [
            {
              name: 'Làm việc',
              value: 'LAM_VIEC',
              count: 25,
              child: []
            },
            {
              name: 'Công tác',
              value: 'CONG_TAC',
              count: 19,
              child: []
            },
            {
              name: 'Tiếp dân',
              value: 'TIEP_DAN',
              count: 6,
              child: []
            }
          ]
        }
      ],
      valueLeftMenu: 'CA_NHAN',
      workSchedule: workSchedule
    }
  },
  computed: {
    ...mapGetters({
      Calender: 'Calender/getDataCalender'
    })
  },
  methods: {
    _isEmpty (value) {
      return _isEmpty(value)
    },
    getCount (value) {
      const result = this.workSchedule.filter(item => item.value === value)[0]
      if (this.dateRange) {
        const d = this.dateRange
        if (this.selectedView === 'day') {
          const date = new Date(d.slice(9, 10) + '/' + d.slice(0, 2) + '/' + d.slice(11, 15))
          return result.data.filter(item => item.Date.Day === date.getDate() && item.Date.year === date.getFullYear()).length
        } else if (this.selectedView === 'week') {
          const date = new Date(d.slice(d.lastIndexOf('Tháng') + 9, d.lastIndexOf('Tháng') + 13), d.slice(d.lastIndexOf('Tháng') + 6, d.lastIndexOf('Tháng') + 7))
          return result.data.filter(item => item.Date.month === date.getMonth() && item.Date.year === date.getFullYear()).length
        } else if (this.selectedView === 'month') {
          const date = new Date(d.slice(8, 12), d.slice(6, 7))
          return result.data.filter(item => item.Date.month === date.getMonth() && item.Date.year === date.getFullYear()).length
        }
      }
    },
    setIndex (index, value) {
      if (value === 'DON_VI' || value === 'LOAI_LICH') {
        return
      }
      this.valueLeftMenu = value
      this.active = index
      this.activeChild = null
      this.$emit('clickLeftMenu', this.valueLeftMenu)
    },
    setChildIndex (index, i, value) {
      this.valueLeftMenu = value
      this.active = null
      this.activeChild = `${index}_${i}`
      this.$emit('clickLeftMenu', this.valueLeftMenu)
    },
    linkBaoCao () {
      window.open(
        'http://ubndtinhdongnai-baocao.chinhquyendientu.vn/dang-nhap',
        '_blank'
      )
    }
  },
  mounted () {}
}
</script>
<style lang="scss" scoped>
  a {
    &.active {
      color: var(--iq-primary);
      background: var(--iq-color-light);
    }
  }
  .list-bao-cao .active a {
    color: var(--iq-primary);
    background: var(--iq-color-light);
  }
  .cs-category {
    font-weight: bold;
    font-size: 18px;
    color: #4B528D;
  }
  .li-child {
    padding: 10px 15px;
  }
  .default-b-badge {
    background-color: rgba(127, 133, 180, 0.15);
    //color: #7F85B4;
    font-size: 10px;
  }
</style>
