<template>
  <div>
    <b-dropdown-item v-b-modal.giao-nhiem-vu variant="primary"
      >Chỉ đạo điều hành</b-dropdown-item
    >
    <b-modal
      :hide-header="true"
      id="giao-nhiem-vu"
      size="xl"
      title="Chỉ đạo điều hành"
      ok-title="Giao nhiệm vụ"
      cancel-title="Hủy"
    >
      <form action="" class="chi-dao-dieu-hanh">
        <iq-card>
          <h4 class="card-title font-bold font-uppercase text-center">
            Chỉ đạo điều hành
          </h4>

          <b-collapse id="collapse-1" class="mb-2">
            <div class="card"></div>
          </b-collapse>
          <b-form>
            <b-form-group label="Nội dung chỉ đạo" label-for="noiDungChiDao">
              <VueEditor id="noiDungChiDao" />
            </b-form-group>
            <b-form-group label="Tài liệu đính kèm" label-for="taiLieu">
              <b-form-file id="taiLieu" type="file"></b-form-file>
            </b-form-group>
            <b-form-group>
              <b-dropdown variant="none" text="Bình thường">
                <b-dropdown-item>Bình thường</b-dropdown-item>
                <b-dropdown-item>Hỏa tốc</b-dropdown-item>
                <b-dropdown-item>Thượng khẩn</b-dropdown-item>
                <b-dropdown-item>Khẩn</b-dropdown-item>
              </b-dropdown>
            </b-form-group>
          </b-form>
        </iq-card>
      </form>
    </b-modal>
  </div>
</template>
<script>
import { VueEditor } from 'vue2-editor'
export default {
  name: 'GiaoNhiemVu',
  components: { VueEditor }
}
</script>
<style lang="scss">
.font-bold {
  font-weight: bold;
}
.font-uppercase {
  text-transform: uppercase;
}
</style>
