<template>
  <b-container fluid>
    <b-row>
      <b-col lg="3">
        <iq-card>
          <template v-slot:body>
            <div class="iq-todo-page">
              <ul class="list-danh-sach p-0 m-0">
                <li>
                  <a
                    href="#"
                    target="_self"
                    :class="{ active: tabActive == 0 }"
                    @click="activeMenu(0)"
                  >
                    <i class="ri-stack-fill mr-1"></i>
                    Tổng quan
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    target="_self"
                    :class="{ active: tabActive == 1 }"
                    @click="activeMenu(1)"
                  >
                    <i class="ri-stack-fill mr-1"></i>
                    Sở ban ngành
                  </a>
                  <template v-if="tabActive == 1">
                    <a
                      href="#"
                      target="_self"
                      v-for="item in listSoBanNganh"
                      :key="item.ma"
                      class="d-flex pl-4"
                      :class="{ active: donViSelected === item.ten }"
                      @click="donViSelected = item.ten"
                    >
                      <i
                        class="ri-checkbox-blank-circle-fill text-success mr-1"
                      ></i>
                      {{ item.ten }}
                      <span
                        data-v-4763a6c5=""
                        class="ml-auto align-self-center badge badge-success"
                      >
                        {{ getSoHoSoTheoDonVi(item.ten) }}
                      </span>
                    </a>
                  </template>
                </li>
                <li>
                  <a
                    href="#"
                    target="_self"
                    :class="{ active: tabActive == 2 }"
                    @click="activeMenu(2)"
                  >
                    <i class="ri-stack-fill mr-1"></i>
                    Địa phương
                  </a>
                  <template v-if="tabActive == 2"
                    ><a
                      href="#"
                      target="_self"
                      v-for="item in listDiaPhuong"
                      :key="item.ma"
                      class="d-flex pl-4"
                      :class="{ active: donViSelected === item.ten }"
                      @click="donViSelected = item.ten"
                    >
                      <i
                        class="ri-checkbox-blank-circle-fill text-success mr-1"
                      ></i>
                      {{ item.ten }}
                      <span
                        data-v-4763a6c5=""
                        class="ml-auto align-self-center badge badge-success"
                      >
                        {{ getSoHoSoTheoDonVi(item.ten) }}
                      </span>
                    </a>
                  </template>
                </li>
                <li>
                  <a
                    href="#"
                    target="_self"
                    class=""
                    :class="{ active: tabActive == 3 }"
                    @click="activeMenu(3)"
                  >
                    <i class="ri-stack-fill mr-1"></i>
                    Tình trạng xử lý
                  </a>
                  <template v-if="tabActive == 3">
                    <a
                      href="#"
                      target="_self"
                      class="d-flex pl-4"
                      @click="tinhTrangSelected = 'Chờ xử lý'"
                    >
                      <i
                        class="ri-checkbox-blank-circle-fill text-success mr-1"
                      ></i>
                      Chờ xử lý
                      <span
                        data-v-4763a6c5=""
                        class="ml-auto align-self-center badge badge-warning"
                      >
                        {{ thongTinHoSo.hoSoChoXuLy }}
                      </span>
                    </a>
                    <a
                      href="#"
                      target="_self"
                      class="d-flex pl-4"
                      @click="tinhTrangSelected = 'Đang xử lý'"
                    >
                      <i
                        class="ri-checkbox-blank-circle-fill text-success mr-1"
                      ></i>
                      Đang xử lý
                      <span
                        data-v-4763a6c5=""
                        class="ml-auto align-self-center badge badge-info"
                      >
                        {{ thongTinHoSo.hoSoDangXuLy }}
                      </span>
                    </a>
                    <a
                      href="#"
                      target="_self"
                      class="d-flex pl-4"
                      @click="tinhTrangSelected = 'Đã xử lý'"
                    >
                      <i
                        class="ri-checkbox-blank-circle-fill text-success mr-1"
                      ></i>
                      Đã xử lý
                      <span
                        data-v-4763a6c5=""
                        class="ml-auto align-self-center badge badge-success"
                      >
                        {{ thongTinHoSo.hoSoDaXuLy }}
                      </span>
                    </a>
                  </template>
                </li>
              </ul>
            </div>
          </template>
        </iq-card>
      </b-col>
      <b-col lg="9">
        <iq-card v-if="tabActive === 0">
          <div class="outer">
            <iframe
              class="inner iframeAP"
              src="https://app.powerbi.com/view?r=eyJrIjoiYTE5MTBmMzgtOTQ3YS00OGEzLTg5YjktMDNmNjFlYjNmMTBjIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D"
              frameborder="0"
              style="border-radius: 5px"
            ></iframe>
          </div>
        </iq-card>
        <template v-else>
          <b-row>
            <b-col>
              <iq-card class="p-3">
                <div class="progress-list">
                  <div class="mb-1">
                    <span style="font-size:18px; font-weight:700">Hồ sơ</span>
                  </div>
                  <b-progress class="mt-2" :max="thongTinHoSo.tongSoHoSo">
                    <b-progress-bar :value="thongTinHoSo.hoSoDaXuLy">
                      <span
                        class="cursor-pointer nut-progress-bar bg-success"
                        >{{ thongTinHoSo.hoSoDaXuLy }}</span
                      >
                    </b-progress-bar>
                    <b-progress-bar :value="thongTinHoSo.hoSoChoXuLy">
                      <span
                        class="cursor-pointer nut-progress-bar bg-warning"
                        >{{ thongTinHoSo.hoSoChoXuLy }}</span
                      >
                    </b-progress-bar>
                    <b-progress-bar :value="thongTinHoSo.hoSoDangXuLy">
                      <span class="cursor-pointer nut-progress-bar bg-info">{{
                        thongTinHoSo.hoSoDangXuLy
                      }}</span>
                    </b-progress-bar>
                  </b-progress>
                  <b-row class="mt-3 mx-0 progress-tac-vu-1">
                    <b-col class="px-0 mb-1">
                      <span
                        class="bg-success"
                        style="
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        margin: -2px 5px;"
                      ></span>
                      <span>Đã xử lý</span>
                    </b-col>
                    <b-col class="px-0 mb-1">
                      <span
                        class="bg-warning"
                        style="
                              width: 15px;
                              height: 15px;
                              display: inline-block;
                              margin: -2px 5px;
                            "
                      ></span>
                      <span>Chờ xử lý</span>
                    </b-col>
                    <b-col class="px-0 mb-1">
                      <span
                        class="bg-info"
                        style="
                              width: 15px;
                              height: 15px;
                              display: inline-block;
                              margin: -2px 5px;
                            "
                      ></span>
                      <span>Đang xử lý</span>
                    </b-col>
                  </b-row>
                  <div class="border-top mt-1 progress-tac-vu-2">
                    <div class="progress-tac-vu-item">
                      <div class="cursor-pointer">
                        <span class="mr-1 text-primary">{{
                          thongTinHoSo.hoSoTrongHan
                        }}</span
                        ><span>Trong hạn</span>
                      </div>
                    </div>
                    <div class="progress-tac-vu-item">
                      <div class="cursor-pointer">
                        <span class="mr-1 text-success">{{
                          thongTinHoSo.hoSoDenHan
                        }}</span
                        ><span>Đến hạn</span>
                      </div>
                    </div>
                    <div class="progress-tac-vu-item">
                      <div class="cursor-pointer">
                        <span class="mr-1 text-danger">{{
                          thongTinHoSo.hoSoQuaHan
                        }}</span
                        ><span>Quá hạn</span>
                      </div>
                    </div>
                  </div>
                </div>
              </iq-card>
            </b-col>
            <b-col>
              <iq-card class="p-3" style="height: 238px; overflow-y: auto">
                <div class="progress-list">
                  <div class="mb-1">
                    <span style="font-size:18px; font-weight:700"
                      >Thống kê hồ sơ chưa xử lý theo đơn vị</span
                    >
                  </div>
                  <b-row
                    class="pb-3"
                    v-for="item in listSoBanNganh"
                    :key="item.ma"
                  >
                    <b-col xl="4" sm="6">{{ item.ten }}</b-col>
                    <b-col xl="8" sm="6">
                      <b-progress
                        class="height-30"
                        :value="getSoHoSoChuaXuLyTheoDonVi(item.ten)"
                        :max="getSoHoSoTheoDonVi(item.ten)"
                        variant="danger"
                        show-value
                      ></b-progress>
                    </b-col>
                  </b-row>
                </div>
              </iq-card>
            </b-col>
          </b-row>
          <iq-card class="p-3">
            <ListData
              :donViSelected="donViSelected"
              :tinhTrangSelected="tinhTrangSelected"
            />
          </iq-card>
        </template>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from "@/config/pluginInit";
import ListData from "@/views/Apps/HanhChinhCong/ListData";
import { mapGetters } from "vuex";
export default {
  name: "HanhChinhCong",
  data() {
    return {
      tabActive: 0,
      thongTinHoSo: {
        tongSoHoSo: 0,
        hoSoTrongHan: 0,
        hoSoDenHan: 0,
        hoSoQuaHan: 0,
        hoSoDaXuLy: 0,
        hoSoDangXuLy: 0,
        hoSoChoXuLy: 0,
      },
      tinhTrangSelected: "",
      donViSelected: "",
      trangThaiHoSoSelected: "",
    };
  },
  components: { ListData },
  mounted() {
    core.index();
  },
  computed: {
    ...mapGetters("HanhChinhCong", [
      "listHoSoHanhChinh",
      "listSoBanNganh",
      "listDiaPhuong",
    ]),
  },
  created() {
    this.fetchData();
  },
  watch: {
    listHoSoHanhChinh() {
      this.fetchData();
    },
  },
  methods: {
    fetchData() {
      this.thongTinHoSo.tongSoHoSo = this.listHoSoHanhChinh.length;
      this.thongTinHoSo.hoSoTrongHan = 0;
      this.thongTinHoSo.hoSoDenHan = 0;
      this.thongTinHoSo.hoSoQuaHan = 0;
      this.thongTinHoSo.hoSoDaXuLy = 0;
      this.thongTinHoSo.hoSoDangXuLy = 0;
      this.thongTinHoSo.hoSoChoXuLy = 0;
      if (this.listHoSoHanhChinh) {
        this.listHoSoHanhChinh.forEach((o) => {
          if (o.trangThai === "Trong hạn") {
            this.thongTinHoSo.hoSoTrongHan += 1;
          } else if (o.trangThai === "Đến hạn") {
            this.thongTinHoSo.hoSoDenHan += 1;
          } else {
            this.thongTinHoSo.hoSoQuaHan += 1;
          }
          if (o.tinhTrang === "Đang xử lý") {
            this.thongTinHoSo.hoSoDangXuLy += 1;
          } else if (o.tinhTrang === "Đã xử lý") {
            this.thongTinHoSo.hoSoDaXuLy += 1;
          } else {
            this.thongTinHoSo.hoSoChoXuLy += 1;
          }
        });
      }
    },
    getSoHoSoTheoDonVi(donVi) {
      let count = 0;
      this.listHoSoHanhChinh.forEach((o) => {
        if (o.coQuanXuLy === donVi) {
          count += 1;
        }
      });
      return count;
    },
    getSoHoSoChuaXuLyTheoDonVi(donVi) {
      let count = 0;
      this.listHoSoHanhChinh.forEach((o) => {
        if (o.coQuanXuLy === donVi && o.tinhTrang === "Chờ xử lý") {
          count += 1;
        }
      });
      return count;
    },
    activeMenu(tab) {
      if (tab === 0) {
        this.tabActive = tab;
      } else if (this.tabActive === tab) {
        this.tabActive = undefined;
      } else {
        this.tabActive = tab;
      }
    },
    openUrl(url) {
      window.open(url, "_blank");
    },
  },
};
</script>
<style lang="scss" scoped>
.list-danh-sach li a:hover,
.list-danh-sach .active a {
  color: var(--iq-primary);
  background: var(--iq-color-light);
  cursor: pointer;
}
.active {
  color: var(--iq-primary);
  background: var(--iq-color-light);
  cursor: pointer;
}
.box {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  h3 {
    color: #fff;
  }
}
.iframeAP {
  width: 100%;
  height: 100%;
}
.outer {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc((9 / 16) * 100% + 37px);
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.progress-list {
  height: 100%;

  .thong-tin {
    font-size: 18px;
    font-weight: bold;

    & strong {
      color: #000;
      font-size: 22px;
      margin-left: 7px;
    }
  }
}
.progress {
  height: 30px;
}
.nut-progress-bar {
  width: 100%;
  text-align: center;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.progress-tac-vu-1,
.progress-tac-vu-2 {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  .progress-tac-vu-item {
    margin: 0 10px;
    font-size: 14px;
  }
}
.progress-tac-vu-2 {
  .progress-tac-vu-item {
    margin-top: 15px;
    font-size: 16px;
  }
}
</style>
