<template>
  <tab-content>
    <div class="table">
      <div class="heading-list t-header d-flex">
        <div class="w-10">STT</div>
        <div class="w-10">Mã hồ sơ</div>
        <div class="w-20">Thủ tục</div>
        <div class="w-15">Chủ hồ sơ</div>
        <div class="w-15">Cơ quan xử lý</div>
        <div class="w-10">Ngày tiếp nhận</div>
        <div class="w-10">Hạn xử lý</div>
        <div class="w-10">Tình trạng</div>
      </div>
      <div
        class="t-body d-flex t-body-list"
        v-for="(o, i) in listDataShow"
        :key="i"
        v-on:click="openDetail()"
      >
        <div class="w-10">{{ i + 1 }}</div>
        <div class="w-10">{{ o.maHoSo }}</div>
        <div class="w-20">{{ o.thuTuc }}</div>
        <div class="w-15">{{ o.chuHoSo }}</div>
        <div class="w-15">{{ o.coQuanXuLy }}</div>
        <div class="w-10">{{ o.ngayTiepNhan }}</div>
        <div class="w-10">{{ o.hanXuLy }}</div>
        <div class="w-10">{{ o.tinhTrang }}</div>
      </div>
    </div>
  </tab-content>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ListData',
  props: {
    donViSelected: {
      type: String,
      default: ''
    },
    tinhTrangSelected: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      active: false,
      listDataShow: []
    }
  },
  created () {
    this.listDataShow = [...this.listHoSoHanhChinh]
  },
  computed: {
    ...mapGetters('HanhChinhCong', [
      'listHoSoHanhChinh',
      'listSoBanNganh',
      'listDiaPhuong'
    ])
  },
  watch: {
    donViSelected () {
      this.listDataShow = []
      this.listHoSoHanhChinh.forEach(o => {
        if (o.coQuanXuLy === this.donViSelected) {
          this.listDataShow.push(o)
        }
      })
    },
    tinhTrangSelected () {
      this.listDataShow = []
      this.listHoSoHanhChinh.forEach(o => {
        if (o.tinhTrang === this.tinhTrangSelected) {
          this.listDataShow.push(o)
        }
      })
    }
  },
  methods: {}
}
</script>
<style lang="scss" scoped>
.heading-list {
  text-transform: uppercase;
  //font-weight: bold;
  background: var(--iq-light-dark);
  padding: 0.4rem;
}
.t-body-list {
  padding: 0.4rem;
  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
body.dark,
body.dark-2,
body.dark-3 {
  .badge-primary {
    color: var(--iq-white);
    background: var(--iq-primary) !important;
  }
  .t-body-list {
    color: var(--iq-dark-body-text);
  }
}
body.dark {
  .heading-list {
    background: var(--iq-dark-hover-bg) !important;
    color: var(--iq-dark-body-text) !important
;
  }
  .t-body-list {
    background: transparent !important;
  }
  .t-body-list:hover {
    background: var(--iq-dark-hover-bg) !important;
  }
}
body.dark-2 {
  .heading-list {
    background: var(--iq-dark-2-hover-bg);
    color: var(--iq-dark-body-text);
  }

  .t-body-list:hover {
    background: var(--iq-dark-2-hover-bg);
  }
}
body.dark-3 {
  .heading-list {
    background: var(--iq-dark-hover-bg);
    color: var(--iq-dark-body-text);
  }

  .t-body-list:hover {
    background: var(--iq-dark-hover-bg);
  }
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
</style>
