<template>
  <div>
    <b-button class="btn" @click="onBack">Quay lại</b-button>
    <iq-card class="p-3 mt-3 chi-tiet-nhiem-vu">
      <div class="form-title">Thông tin chung về nhiệm vụ</div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 mt-2">
          <div class="thong-tin-chung">
            <span> Loại nhiệm vụ : </span>
            <div class="noi-dung">
              {{ chiTietNhiemVu.ProcessTypeName }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-2">
          <div class="thong-tin-chung">
            <span>Số nhiệm vụ <strong>*</strong> :</span>
            <div class="noi-dung">{{ chiTietNhiemVu.ProcessCode }}</div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-3">
          <div class="thong-tin-chung">
            <span>Tình hình thực hiện :</span>
            <div class="noi-dung">{{ chiTietNhiemVu.StatusName }}</div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-6 col-12 mt-3"
        >
          <div class="thong-tin-chung">
            <span>Hạn xử lý VPCP</span>
            <div class="noi-dung">
              {{ chiTietNhiemVu.HanXuLyVPCP }}
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-6 col-12 mt-3"
        >
          <div class="thong-tin-chung">
            <span>Đơn vị theo dõi :</span>
            <div class="noi-dung">
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-6 col-12 mt-3"
        >
          <div class="thong-tin-chung">
            <span>Người theo dõi :</span>
            <div class="noi-dung">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-3">
          <div class="thong-tin-chung">
            <span>Hạn xử lý <strong>*</strong> :</span>
            <div class="noi-dung">{{ chiTietNhiemVu.HanXuLy }}</div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-6 col-12 mt-3"
        >
          <div class="thong-tin-chung">
            <span>Người giao :</span>
            <div class="noi-dung">{{ chiTietNhiemVu.NguoiGiao }}</div>
          </div>
        </div>
        <div class="col-12 mt-3">
          <div class="thong-tin-chung">
            <span>Nội dung <strong>*</strong> :</span>
            <div class="noi-dung-text" v-html="chiTietNhiemVu.ProcessContent">
              {{ chiTietNhiemVu.ProcessContent }}
            </div>
          </div>
        </div>
      </div>
    </iq-card>
    <iq-card class="p-3 chi-tiet-nhiem-vu">
      <div class="form-title">Văn bản liên quan</div>
      <div class="van-ban-lien-quan-tieu-de mb-2">Văn bản giao nhiệm vụ</div>
      <b-table
        hover
        responsive
        :items="chiTietNhiemVu.VBLQ"
        :fields="fieldsVBLQ"
        class="mb-0 table-borderless cs-table"
      >
      </b-table>
    </iq-card>
    <iq-card class="p-3 chi-tiet-nhiem-vu">
      <div class="form-title">Danh sách công việc</div>
      <b-table
        hover
        responsive
        :items="chiTietNhiemVu.dsCongViec"
        :fields="fieldsCongViec"
        class="mb-0 table-borderless cs-table"
      >
      </b-table>
    </iq-card>
    <iq-card class="p-3 chi-tiet-nhiem-vu">
      <div class="form-title">Lịch sử Phân xử lý</div>
      <b-table
        hover
        responsive
        :items="chiTietNhiemVu.lsPhanXuLy"
        :fields="fieldsLsPhanXuLy"
        class="mb-0 table-borderless cs-table"
      >
      </b-table>
    </iq-card>
  </div>
</template>
<script>

import { mapActions } from 'vuex'

export default {
  name: 'ChiTietQLNV',
  props: {
    chiTietNhiemVu: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  components: {
  },
  data () {
    return {
      fieldsVBLQ: [
        {
          key: 'SoKyHieu',
          label: 'Số/ Ký hiệu'
        },
        {
          key: 'NgayVanBan',
          label: 'Ngày văn bản'
        },
        {
          key: 'TrichYeu',
          label: 'Trích yếu'
        },
        {
          key: 'File',
          label: 'File đính kèm'
        }
      ],
      fieldsCongViec: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'NguoiXuLy',
          label: 'Người xử lý'
        },
        {
          key: 'DonViXuLy',
          label: 'Đơn vị xử lý'
        },
        {
          key: 'HanXuLy',
          label: 'Hạn xử lý'
        },
        {
          key: 'NoiDungCongViec',
          label: 'Nội dung công việc'
        },
        {
          key: 'NguoiGiaoCongViec',
          label: 'Người giao công việc'
        }
      ],
      fieldsLsPhanXuLy: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'NguoiGui',
          label: 'Người gửi'
        },
        {
          key: 'ThoiGian',
          label: 'Thời gian'
        },
        {
          key: 'NguoiNhan',
          label: 'Người nhận'
        },
        {
          key: 'DonViNhan',
          label: 'Đơn vị nhận'
        },
        {
          key: 'VaiTroXuLy',
          label: 'Vai trò xử lý'
        }
      ]
    }
  },
  computed: {

  },
  methods: {
    ...mapActions({
      setIsShowDetail: 'qlnv/setIsShowDetail'
    }),
    onBack () {
      this.setIsShowDetail(false)
    }
  }
}
</script>
<style lang="scss">
  .van-ban-lien-quan-tieu-de {
    color: #e73a0a;
    text-decoration: underline;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    margin-left: 10px;
  }
  .cs-table {
    font-size: 14px;
    color: #000;
  }
  .chi-tiet-nhiem-vu {
    .chi-tiet-nhiem-vu-top {
      display: flex;
    }
    .form-title {
      font-size: 18px;
      font-weight: 600;
    }
    .thong-tin-chung {
      display: flex;
      & span {
        width: 150px;
        max-width: 150px;
        flex: 0 0 auto;
        & strong {
          margin-left: 2px;
          color: red;
        }
      }
      .noi-dung {
        font-weight: 500;
      }
    }
    .hoat-dong {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      & span {
        margin-right: 7px;
        cursor: pointer;
        color: #168894;

        &:hover {
          color: #1f6569;
        }
      }
    }
    .luu-van-ban {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .color-file {
      color: #aba8a8;
    }
  }
</style>
