<template>
  <b-container fluid>
    <b-row>
      <b-col lg="3">
        <LeftMenu @clickLeftMenu="onClickLeftMenu($event)" />
      </b-col>
      <b-col lg="9">
        <ThongKeQLNV :value-left-menu="valueLeftMenu" />
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import * as Cookies from 'js-cookie'
import { mapActions, mapGetters } from 'vuex'
import { Users, MessagesUser1 } from '../../../FackApi/api/chat'
import { core } from '../../../config/pluginInit'
import Chat from '../../../store/Chat'
import User from '../../../Model/User'
import LeftMenu from '@/views/Apps/QuanLyNhiemVu/LeftMenu'
import ThongKeQLNV from '@/views/Apps/QuanLyNhiemVu/ThongKeQLNV'

export default {
  name: 'Index',
  components: {
    LeftMenu,
    ThongKeQLNV
  },
  beforeMount () {
    this.$store.registerModule('Chat', Chat)
  },
  mounted () {
    core.index()
    if (Cookies.get('channel') !== undefined) {
      this.handleJoin()
    }
  },
  beforeDestroy () {
    this.$store.unregisterModule('Chat')
  },
  data () {
    return {
      valueLeftMenu: 'TONG_QUAN',
      search: '',
      user: new User({ id: 1, name: 'Anna Sthesia', role: 'Developer', image: require('../../../assets/images/user/user-08.jpg'), isActive: true }),
      usersList: Users,
      chat: MessagesUser1,
      joinBtn: false,
      channel: 'DemoRoom',
      baseMode: 'avc',
      transcode: 'interop',
      attendeeMode: 'video',
      videoProfile: '480p_4'
    }
  },
  computed: {
    filteredList () {
      return this.usersList.filter(item => {
        return item.name.toLowerCase().includes(this.search.toLowerCase())
      })
    },
    ...mapGetters({
      startCall: 'Chat/videoCallState'
    })
  },
  methods: {
    ...mapActions({
      setIsShowDetail: 'qlnv/setIsShowDetail'
    }),
    onClickLeftMenu (value) {
      this.setIsShowDetail(false)
      this.valueLeftMenu = value
    },
    handleJoin () {
      Cookies.set('channel', this.channel)
      Cookies.set('baseMode', this.baseMode)
      Cookies.set('transcode', this.transcode)
      Cookies.set('attendeeMode', this.attendeeMode)
      Cookies.set('videoProfile', this.videoProfile)
      this.$store.dispatch('Chat/videoCallAction', true)
    }
  }
}
</script>
<style>
  .remove-toggle::after{
    content: unset;
  }
</style>
