<template>
  <iq-card>
    <template v-slot:body>
      <div class="iq-todo-page">
        <ul class="list-bao-cao p-0 m-0">
          <li
            v-for="(route, index) in leftMenuList"
            :key="index"
          >
            <a
              class="d-flex"
              href="#"
              target="_self"
              :class="{
                active: (!$route.query.thongbao && active === index) || ($route.query.thongbao && index == 1 && thongbao )
              }"
              @click="setIndex(index, route.value)"
            >
              <i class="ri-stack-fill mr-2" v-if="route.value !== 'TINH_CHAT' && route.value !== 'DON_VI_GIAO' && route.value !== 'DON_VI_THUC_HIEN'"></i>
              <span :class="{
               'cs-category' : route.value === 'TINH_CHAT' || route.value === 'DON_VI_GIAO' || route.value === 'DON_VI_THUC_HIEN'
              }">{{ route.name }}</span>
              <b-badge class="ml-auto align-self-center badge-success">
                {{ route.count }}
              </b-badge>
            </a>
            <ul class="list-bao-cao p-0 m-0" v-if="!_isEmpty(route.child)">
              <li
                v-for="(routeChild, i) in route.child"
                :key="i"
              >
                <a
                  href="#"
                  target="_self"
                  :class="{ active: activeChild === `${index}_${i}` }"
                  class="d-flex li-child"
                  @click="setChildIndex(index, i, routeChild.value)"
                >
                  <i class="ri-stack-fill mr-2"></i>
                  {{ routeChild.name }}
                  <b-badge class="ml-auto align-self-center badge-success" :style="{ backgroundColor: routeChild.bgColor, color: routeChild.color }">
                    {{ routeChild.count }}
                  </b-badge>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </template>
  </iq-card>
</template>
<script>
import _isEmpty from 'lodash/isEmpty'
import { mapActions } from 'vuex'
export default {
  name: 'ProjectList',
  data () {
    return {
      active: 0,
      thongbao: true,
      activeChild: null,
      leftMenuList: [
        {
          name: 'Tổng quan',
          value: 'TONG_QUAN',
          count: 432,
          child: []
        },
        {
          name: 'Cá nhân',
          value: 'CA_NHAN',
          count: 16,
          child: []
        },
        {
          name: 'Tính chất',
          value: 'TINH_CHAT',
          count: 170,
          child: [
            {
              name: 'Gấp',
              value: 'GAP',
              bgColor: '#ff0000',
              color: '#fff',
              count: 10,
              child: []
            },
            {
              name: 'Quan trọng',
              value: 'QUAN_TRONG',
              bgColor: '#e7843f',
              color: '#fff',
              count: 40,
              child: []
            },
            {
              name: 'Bình thường',
              value: 'BINH_THUONG',
              bgColor: '#42b432',
              color: '#fff',
              count: 120,
              child: []
            }
          ]
        },
        {
          name: 'Loại nhiệm vụ',
          value: 'DON_VI_GIAO',
          count: 170,
          child: [
            {
              name: 'Nhiệm vụ Chính phủ',
              value: 'CHINH_PHU',
              count: 65,
              child: []
            },
            {
              name: 'Nhiệm vụ Địa phương',
              value: 'DIA_PHUONG',
              count: 105,
              child: []
            }
          ]
        },
        {
          name: 'Đơn vị thực hiện',
          value: 'DON_VI_THUC_HIEN',
          count: 170,
          child: [
            {
              name: 'Tỉnh ủy',
              value: 'DVTH_TINH_UY',
              count: 25,
              child: []
            },
            {
              name: 'HĐND',
              value: 'DVTH_HDND',
              count: 15,
              child: []
            },
            {
              name: 'UBND',
              value: 'DVTH_UBND',
              count: 32,
              child: []
            },
            {
              name: 'Sở, Ban, Ngành',
              value: 'DVTH_SO_BAN_NGANH',
              count: 50,
              child: []
            },
            {
              name: 'Địa phương',
              value: 'DVTH_DIA_PHUONG',
              count: 48,
              child: []
            }
          ]
        }
      ],
      valueLeftMenu: 'TONG_QUAN'
    }
  },
  created () {
    if (this.$route.query.thongbao) {
      this.setIndex(1, this.leftMenuList[1].value)
      this.thongbao = false
    }
  },
  methods: {
    ...mapActions({
      setIsShowDetail: 'qlnv/setIsShowDetail'
    }),
    _isEmpty (value) {
      return _isEmpty(value)
    },
    setIndex (index, value) {
      if (value === 'DON_VI_THUC_HIEN' || value === 'DON_VI_GIAO' || value === 'TINH_CHAT') {
        return
      }
      this.valueLeftMenu = value
      this.active = index
      this.activeChild = null
      this.$emit('clickLeftMenu', this.valueLeftMenu)
    },
    setChildIndex (index, i, value) {
      this.valueLeftMenu = value
      this.active = null
      this.activeChild = `${index}_${i}`
      this.$emit('clickLeftMenu', this.valueLeftMenu)
    }
  }
}
</script>
<style lang="scss" scoped>
  a {
    &.active {
      color: var(--iq-primary);
      background: var(--iq-color-light);
    }
  }
  /* .list-bao-cao .active a {
    color: var(--iq-primary);
    background: var(--iq-color-light);
  } */

  .cs-category {
    font-weight: bold;
    font-size: 18px;
    //color: #4B528D;
  }
  .li-child {
    padding: 10px 15px;
  }
  .default-b-badge {
    background-color: rgba(127, 133, 180, 0.15);
    //color: #7F85B4;
    font-size: 10px;
  }
</style>
