<template>
  <tab-content>
    <ChiTietQLNV
      v-if="isShowDetail"
      :chi-tiet-nhiem-vu="chiTietNhiemVu"
    />
    <div v-else-if="valueLeftMenu === 'TONG_QUAN'">
      <iq-card>
        <div class="outer">
          <iframe
            class="inner wraper-iframe"
            :src="baoCaoPowerBiUrl"
            frameborder="0"
          ></iframe>
        </div>
      </iq-card>
    </div>
    <template v-else>
      <b-row>
        <b-col xl="6">
          <iq-card class="p-3 overview-nhiem-vu overflow-box-thong-ke-1">
            <div class="progress-list">
              <div class="mb-1">
                <span class="thong-tin"
                >Nhiệm vụ</span>
              </div>
              <b-progress class="mt-2" :max="progress">
                <b-progress-bar
                  v-for="(item, index) in (internalData.danhSachLoaiNhiemVu || {}).TrangThai"
                  :key="index"
                  :value="item.Value"
                >
                  <span
                    class="cursor-pointer nut-progress-bar"
                  >
                    {{ item.Value }}</span
                  >
                </b-progress-bar>
              </b-progress>
              <b-row class="mx-0 progress-tac-vu-1">
                <b-col
                  v-for="(item, index) in (internalData.danhSachLoaiNhiemVu || {}).TrangThai"
                  :key="index"
                  xl="4"
                  lg="12"
                  sm="12"
                  class="px-0 mb-1"
                >
                  <span :class="item.GiaTri"></span>
                  <span>{{ item.Text }}</span>
                </b-col>
              </b-row>
              <div class="border-top progress-tac-vu-2">
                <div
                  class="progress-tac-vu-item"
                  v-for="(item, index) in (internalData.danhSachLoaiNhiemVu || {}).TrangThaiXuLy"
                  :key="index"
                >
                  <div class="cursor-pointer">
                    <span :class="item.GiaTri">{{ item.Value }}</span
                    ><span>{{ item.Text }}</span>
                  </div>
                </div>
              </div>
            </div>
          </iq-card>
        </b-col>
        <b-col xl="6" v-if="valueLeftMenu === 'CA_NHAN'">
          <iq-card class="p-3 overflow-box-thong-ke-1">
            <BasePieChart :chart-data="chartData" @pointClick="onClickPoint($event)" />
          </iq-card>
        </b-col>
        <b-col xl="6" v-else>
          <iq-card class="p-3 overflow-box-thong-ke-1">
            <div class="progress-list">
              <div class="mb-1">
              <span class="thong-tin"
              >Thống kê nhiệm vụ chưa hoàn thành theo đơn vị xử lý</span
              >
                <b-row class="mx-0 progress-tac-vu-1">
                  <b-col
                    xl="4"
                    lg="12"
                    sm="12"
                    class="px-0 mb-1"
                  >
                    <span class="mini-box-qua-han"></span>
                    <span>Quá hạn</span>
                  </b-col>
                </b-row>

              </div>
              <b-row
                class="mb-2"
                v-for="(item, index) in thongKeDVNVQuaHan"
                :key="index"
              >
                <b-col xl="4" sm="6">{{ item.name }}</b-col>
                <b-col xl="7" sm="5">
                  <b-progress class="height-30" :value="item.value" :max="item.max" variant="danger" show-value></b-progress>
                </b-col>
                <b-col xl="1" sm="1">{{ item.max }}</b-col>
              </b-row>
            </div>
          </iq-card>
        </b-col>
      </b-row>
      <iq-card class="p-3">
        <b-table
          hover
          sticky-header
          fixed
          responsive
          :items="internalData.data"
          :fields="fields"
          class="TinhHuongKhanCap"
          @row-clicked="onClickRow"
        >
          <template v-slot:cell(TrangThai)="data">
            <b-badge :class="getClassTrangThai(data)">
              {{ getNameTrangThai(data) }}
            </b-badge>
          </template>
          <template v-slot:cell(TrangThaiXuLy)="data">
            <b-badge :class="getClassTrangThaiXuLy(data)">
              {{ getNameTrangThaiXuLy(data) }}
            </b-badge>
          </template>
          <template v-slot:cell(TinhChat)="data">
            <b-badge :class="getClassTinhChat(data)">
              {{ getNameTinhChat(data) }}
            </b-badge>
          </template>
        </b-table>
      </iq-card>
    </template>
  </tab-content>
</template>
<script>
import qlnvData from '@/FackApi/json/QuanLyNhiemVu'
import BasePieChart from '@/components/core/charts/BasePieChart'
import _isEmpty from 'lodash/isEmpty'
import ChiTietQLNV from './ChiTietQLNV'
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'DanhSachBaoCao',
  components: { ChiTietQLNV, BasePieChart },
  props: {
    valueLeftMenu: {
      type: String,
      default: 'TONG_QUAN'
    }
  },
  data () {
    return {
      chiTietNhiemVu: {},
      thongKeDVNVQuaHan: [
        {
          name: 'Sở Tài chính',
          value: 1,
          max: 8
        },
        {
          name: 'Sở Kế hoạch và Đầu tư',
          value: 1,
          max: 5
        },
        {
          name: 'Sở Nông nghiệp và Phát triển Nông thôn',
          value: 0,
          max: 4
        },
        {
          name: 'Sở Công thương',
          value: 2,
          max: 6
        },
        {
          name: 'Sở Xây dựng',
          value: 2,
          max: 6
        },
        {
          name: 'Sở Giao thông vận tải',
          value: 1,
          max: 4
        },
        {
          name: 'Sở Tài nguyên và Môi trường',
          value: 0,
          max: 2
        },
        {
          name: 'Sở Khoa học và Công nghệ',
          value: 0,
          max: 4
        },
        {
          name: 'Sở Giáo dục và Đào tạo',
          value: 3,
          max: 12
        },
        {
          name: 'Sở Y tế',
          value: 0,
          max: 1
        },
        {
          name: 'Sở Văn hóa, Thể thao và Du lịch',
          value: 0,
          max: 0
        },
        {
          name: 'Sở Lao động - Thương binh và Xã hội',
          value: 0,
          max: 0
        },
        {
          name: 'Sở Tư pháp',
          value: 0,
          max: 0
        },
        {
          name: 'Sở Thông tin và Truyền thông',
          value: 0,
          max: 0
        },
        {
          name: 'Sở Nội vụ',
          value: 0,
          max: 1
        },
        {
          name: 'Sở Ngoại vụ',
          value: 0,
          max: 0
        },
        {
          name: 'Thanh tra tỉnh',
          value: 0,
          max: 1
        },
        {
          name: 'Ban quản lý khu công nghệ cao',
          value: 0,
          max: 0
        },
        {
          name: 'Ban quản lý các khu công nghiệp Đồng Nai',
          value: 0,
          max: 0
        },
        {
          name: 'Ban Dân tộc',
          value: 0,
          max: 0
        },
        {
          name: 'UBND thành phố Biên Hòa',
          value: 2,
          max: 12
        },
        {
          name: 'UBND thành phố Long Khánh',
          value: 1,
          max: 9
        },
        {
          name: 'UBND Huyện Tân Phú',
          value: 0,
          max: 3
        },
        {
          name: 'UBND huyện Vĩnh Cửu',
          value: 0,
          max: 2
        },
        {
          name: 'UBND huyện Định Quán',
          value: 1,
          max: 7
        },
        {
          name: 'UBND huyện Trảng Bom',
          value: 0,
          max: 3
        },
        {
          name: 'UBND huyện Thống Nhất',
          value: 0,
          max: 3
        },
        {
          name: 'UBND huyện Cẩm Mỹ',
          value: 0,
          max: 1
        },
        {
          name: 'UBND huyện Long Thành',
          value: 0,
          max: 2
        },
        {
          name: 'UBND huyện Nhơn Trạch',
          value: 0,
          max: 3
        },
        {
          name: 'UBND huyện Xuân Lộc',
          value: 1,
          max: 4
        }
      ],
      fields: [
        {
          key: 'SoNV',
          label: 'Số nhiệm vụ'
        },
        {
          key: 'NoiDung',
          label: 'Nội dung'
        },
        {
          key: 'TinhHinhThucHien',
          label: 'Đơn vị thực hiện'
        },
        {
          key: 'HanXuLy',
          label: 'Hạn Xử lý'
        },
        {
          key: 'LoaiNV',
          label: 'Loại nhiệm vụ'
        },
        {
          key: 'TrangThaiXuLy',
          label: 'Trạng thái xử lý'
        },
        {
          key: 'TrangThai',
          label: 'Trạng thái'
        },
        {
          key: 'TinhChat',
          label: 'Tính chất'
        }
      ],
      DANH_SACH_QUA_HAN: [
        {
          key: 'DonVi',
          label: 'Đơn vị'
        },
        {
          key: 'SoNVQuaHan',
          label: 'Số nhiệm vụ quá hạn'
        }
      ],
      danhSachQuaHan: [
        {
          DonVi: 'Vụ Quốc phòng - An ninh',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Vụ Giám sát và Thẩm định đầu tư',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Báo đấu thầu',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Văn phòng Bộ',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Tổng cục Thống kê',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Cục Đầu tư nước ngoài',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Hà Văn Thắng',
          SoNVQuaHan: 1
        },
        {
          DonVi: 'Cán bộ 1',
          SoNVQuaHan: 1
        }
      ],
      chartData: [
        {
          name: 'Nhiệm vụ Chính Phủ',
          y: 13,
          color: '#05FBB7'
        },
        {
          name: 'Nhiệm vụ Địa phương',
          y: 3,
          color: '#7B00FD'
        }
      ],
      baoCaoPowerBiUrl: 'https://app.powerbi.com/view?r=eyJrIjoiYWJiNDFhYWUtNmQ4OC00ZTk4LTk0NjItMTk4MWIzODk2N2VkIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D&pageName=ReportSectiondf723d7d7f289be20cf7'
    }
  },
  computed: {
    ...mapGetters({
      isShowDetail: 'qlnv/isShowDetail'
    }),
    internalData () {
      const result = qlnvData.filter(item => item.value === this.valueLeftMenu)
      if (_isEmpty(result)) return []
      return result[0]
    },
    progress () {
      if (!this.internalData.danhSachLoaiNhiemVu) {
        return
      }
      let item = null
      this.internalData.danhSachLoaiNhiemVu.TrangThai.forEach((items) => {
        item += parseInt(items.Value)
      })
      return item
    }
  },
  methods: {
    ...mapActions({
      setIsShowDetail: 'qlnv/setIsShowDetail'
    }),
    onClickPoint () {
      window.open(this.baoCaoPowerBiUrl, '_blank')
    },
    getClassTrangThaiXuLy (data) {
      switch (data.value) {
        case 1: {
          return 'toi-han-1'
        }
        case 2: {
          return 'trong-han-1'
        }
        case 3: {
          return 'qua-han-1'
        }
      }
    },
    getNameTrangThaiXuLy (data) {
      switch (data.value) {
        case 1: {
          return 'Tới hạn'
        }
        case 2: {
          return 'Trong hạn'
        }
        case 3: {
          return 'Quá hạn'
        }
      }
    },
    getClassTrangThai (data) {
      switch (data.value) {
        case 1: {
          return 'chua-thuc-hien'
        }
        case 2: {
          return 'dang-thuc-hien'
        }
        case 3: {
          return 'da-hoan-thanh'
        }
      }
    },
    getNameTrangThai (data) {
      switch (data.value) {
        case 1: {
          return 'Chưa hoàn thành'
        }
        case 2: {
          return 'Đang hoàn thành'
        }
        case 3: {
          return 'Đã hoàn thành'
        }
      }
    },
    getClassTinhChat (data) {
      switch (data.value) {
        case 1: {
          return 'gap'
        }
        case 2: {
          return 'quan-trong'
        }
        case 3: {
          return 'binh-thuong'
        }
      }
    },
    getNameTinhChat (data) {
      switch (data.value) {
        case 1: {
          return 'Gấp'
        }
        case 2: {
          return 'Quan trọng'
        }
        case 3: {
          return 'Bình thường'
        }
      }
    },
    onClickRow (data) {
      this.setIsShowDetail(true)
      this.chiTietNhiemVu = data.ChiTiet
    }
  }
}
</script>
<style lang="scss" scoped>
  .height-30 {
    height: 30px;
  }
  $color-primary: #44afbe;
  $color-secondary: #2c3374;
  $color-gray: #C9E4EA;

  $color-primary-hover: #138496;

  $color-bg-menu-left: #006e80;

  $color-orange: #e7843f;
  $color-orange-1: #F2994A;
  $color-red: #e73a0a;

  $mau-chua-phan-xu-ly: #5252d4;
  $mau-chua-thuc-hien: #8b4db4;
  $mau-dang-thuc-hien: #59c6fa;
  $mau-thu-hoi: #9b7938;
  $mau-tra-lai: #e5f52f;
  $mau-da-hoan-thanh: #42b432;
  $mau-qua-han: #d9001b;
  $mau-den-han: #f59a23;
  $mau-trong-han: #000000;
  $mau-phoi-hop: #b16a6a;
  $mau-nhan-de-biet: #000000;
  $mau-chu-tri: #00ffca;
  $mau-cho-vao-so: #0034ff;
  $mau-cho-phan-xu-ly: #ff0000;

  .thong-tin {
    font-size: 18px;
    font-weight: bold;
  }

  .chua-thuc-hien {
    background-color: #5252d4  !important;
  }

  .dang-thuc-hien {
    background-color: #8b4db4  !important;
  }

  .da-hoan-thanh {
    background-color: #59c6fa  !important;
  }

  .toi-han-1 {
    background-color: #f59a23 !important;
  }

  .trong-han-1 {
    background-color: #000000 !important;
  }

  .qua-han-1 {
    background-color: #d9001b !important;
  }

  .gap {
    background-color: $mau-cho-phan-xu-ly !important;
  }

  .quan-trong {
    background-color: $color-orange !important;;
  }

  .binh-thuong {
    background-color: $mau-da-hoan-thanh !important;
  }

  .overview-nhiem-vu {
    .couter {
      &:hover {
        color: $color-primary-hover;
      }
    }
    .block-menu {
      right: 24px;
      z-index: 2;
      bottom: -14px;
      & svg {
        color: #1a62b3;
        font-size: 35px;
      }
    }

    .highcharts-series.highcharts-series-0.highcharts-pie-series.highcharts-tracker {
      cursor: pointer;
    }
    .progress-bar:nth-child(3), .dang-thuc-hien {
      background: $mau-dang-thuc-hien !important;
    }
    .progress-bar:nth-child(4), .da-hoan-thanh {
      background: $mau-da-hoan-thanh !important;
    }
    .progress-bar:nth-child(2), .chua-thuc-hien {
      background: $mau-chua-thuc-hien !important;
    }
    .progress-bar:nth-child(5), .tra-lai {
      background: $mau-tra-lai !important;
      color: #4b4b4b!important;
    }
    .progress-bar:nth-child(6), .thu-hoi {
      background: $mau-thu-hoi !important;
    }
    .progress-bar:nth-child(1), .cho-phan-xu-ly {
      background: $mau-chua-phan-xu-ly !important;
    }
    .progress-muc {
      margin: 5px 0;
      flex: 33.333% 0 0;
      max-width: 33.333%;
    }
    .cho-phan-xu-ly, .chua-thuc-hien, .dang-thuc-hien, .da-hoan-thanh , .tra-lai, .thu-hoi {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin: -2px 5px;
    }
    .progress-list {
      height: 100%;

      .thong-tin {
        font-size: 18px;
        font-weight: bold;

        & strong {
          color: #000;
          font-size: 22px;
          margin-left: 7px;
        }
      }
    }
    .progress {
      height: 30px;
    }
    .nut-progress-bar {
      width: 100%;
      text-align: center;
      margin: auto;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;

      &:hover {
        color: $color-primary-hover;
      }
    }
    .progress-tac-vu-1, .progress-tac-vu-2 {
      margin: 15px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      .progress-tac-vu-item {
        margin: 0 10px;
        font-size: 14px;
      }
    }
    .progress-tac-vu-2 {
      .progress-tac-vu-item {
        margin-top: 15px;
        font-size: 16px;
      }
    }
    .qua-han {
      color: $mau-qua-han;
      margin-right: 10px;
      &:hover {
        color: $color-primary-hover;
      }
    }
    .den-han {
      color: $mau-den-han;
      margin-right: 10px;
      &:hover {
        color: $color-primary-hover;
      }
    }
    .trong-han {
      color: $mau-trong-han;
      margin-right: 10px;
      &:hover {
        color: $color-primary-hover;
      }
    }
  }
  .heading-list {
    //justify-content: space-between;
    text-transform: uppercase;
    //font-weight: bold;
    background: var(--iq-light-dark);
    padding: 0.4rem;
  }
  .t-body{
    overflow-x: hidden;
    max-height: 32rem;
  }

  .cs-table {
    font-size: 14px;
    color: #000;
  }

  .progress-bar {
    align-items: center;
  }

  .overflow-box-thong-ke-1 {
    height: 240px;
    overflow: auto;
  }
  .mini-box-qua-han {
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-color: #dc3545;
  }

  .wraper-iframe {
    height: 100%;
    width: 100%;
  }

  .outer {
    position: relative;
    &:before {
      display: block;
      content: '';
      width: 100%;
      padding-top: calc((9 / 16) * 100% + 37px);
    }
    > .inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
</style>
