<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12">
        <div
          class="iq-card mb-0"
          style="
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          "
          id="menu"
        >
          <div
            id="menu-navi"
            class="iq-card-body d-flex align-items-center justify-content-between"
            @click="onClickNavi($event)"
          >
            <button
              type="button"
              class="btn mr-1 btn-outline-primary"
              data-action="move-today"
            >
              Hôm nay
            </button>
            <div class="d-flex justify-content-between header-response" style="margin-auto">
              <button
                type="button"
                class="btn btn-link iq-bg-primary"
                data-action="move-prev"
              >
                <i
                  class="fa fa-chevron-left mr-0"
                  data-action="move-prev"
                />
              </button>
              <h5 id="renderRange" class="render-range mt-1 mx-4">
                {{ dateRange }}
              </h5>
              <button
                type="button"
                class="btn btn-link iq-bg-primary"
                data-action="move-next"
              >
                <i
                  class="fa fa-chevron-right mr-0"
                  data-action="move-next"
                />
              </button>
            </div>
            <div>
              <span class="fc-button-group mr-2">
                <b-button type="button" class="button-change fc-button fc-button-primary mr-1" :class="{active:islist}" @click="islist = true">
                  <img class="img-calender-kind" src="http://10.0.0.49:9911/img/ic_list.0e300c26.svg" alt="">
                </b-button>
                <b-button type="button" class="button-change fc-button fc-button-primary" :class="{active:!islist}" @click="islist = false">
                  <img class="img-calender-kind" src="http://10.0.0.49:9911/img/ic_calendar.309ca999.svg" alt="">
                </b-button>
              </span>
              <b-form-radio-group
                id="btn-radios-1"
                v-model="selectedView"
                :options="viewModeOptions"
                buttons
                button-variant="primary"
                name="radios-btn-default"
              ></b-form-radio-group>
            </div>
          </div>
        </div>
      </b-col>
      <b-col cols="12" v-show="islist">
        <DanhSachBaoCao :routeCallback="showBaoCaoDetail" :itemcalenders="itemcalenders" :actiontype="actiontype" :dateFrom="dateFrom" :dateTo="dateTo" />
      </b-col>
      <b-col cols="12" v-show="!islist">
        <calendar
          style="height: 800px"
          id="calender"
          ref="tuiCal"
          :useDetailPopup="useDetailPopup"
          :view="selectedView"
          :calendars="calendarList"
          :schedules="scheduleList"
          :template="template"
          :taskView="true"
          :scheduleView="true"
          :month="month"
          :week="week"
          :disableDblClick="disableDblClick"
          :isReadOnly="isReadOnly"
          @clickSchedule="onClickSchedule"
          @clickDayname="onClickDayname"
          @beforeCreateSchedule="onBeforeCreateSchedule"
          @beforeUpdateSchedule="onBeforeUpdateSchedule"
          @beforeDeleteSchedule="onBeforeDeleteSchedule"
        />
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import 'tui-time-picker/dist/tui-time-picker.css'
import 'tui-date-picker/dist/tui-date-picker.css'
import 'tui-calendar/dist/tui-calendar.css'
import Event from '../../../Model/Event'
import { MeetingList, Events } from '../../../FackApi/api/meeting'
import { Calendar } from '@toast-ui/vue-calendar'
import { core } from '../../../config/pluginInit'
import DanhSachBaoCao from './DanhSachBaoCao'
import moment from 'moment'
export default {
  name: 'App',
  components: {
    calendar: Calendar,
    DanhSachBaoCao
  },
  props: {
    itemcalenders: {
      type: Array,
      default: null
    },
    actiontype: {
      type: Number,
      default: NaN
    }
  },
  data () {
    return {
      viewModeOptions: [
        {
          text: 'Ngày',
          value: 'day'
        },
        {
          text: 'Tuần',
          value: 'week'
        },
        {
          text: 'Tháng',
          value: 'month'
        }
      ],
      dateRange: '',
      dateFrom: '',
      dateTo: '',
      selectedView: 'day',
      calendarList: MeetingList,
      scheduleList: [],
      template: {
        milestone (schedule) {
          return `<span style="color:#3F3F3F;background-color: ${schedule.bgColor};">${schedule.title}</span>`
        },
        milestoneTitle () {
          return '<span class="tui-full-calendar-left-content">Đánh dấu</span>'
        },
        taskTitle () {
          return '<span class="tui-full-calendar-left-content">Hiện tại</span>'
        },
        allday (schedule) {
          return `<i class="fa fa-users"></i> ${schedule.title}`
        },
        alldayTitle () {
          return '<span class="tui-full-calendar-left-content">Hàng ngày</span>'
        }
      },
      month: {
        startDayOfWeek: 0
      },
      week: {
        showTimezoneCollapseButton: true,
        timezonesCollapsed: true,
        daynames: ['Chủ nhật', 'Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7']
      },
      taskView: true,
      scheduleView: true,
      useDetailPopup: true,
      disableDblClick: true,
      isReadOnly: false,
      // Trạng thái lịch true là danh sách,false là lịch
      islist: false
    }
  },
  watch: {
    selectedView (newValue) {
      this.$refs.tuiCal.invoke('changeView', newValue, true)
      this.setRenderRangeText()
    }
  },
  methods: {
    showBaoCaoDetail (ID) {
      this.isDetail = true
      console.log(ID)
    },
    init () {
      this.setRenderRangeText()
    },
    setRenderRangeText () {
      const { invoke } = this.$refs.tuiCal
      const view = invoke('getViewName')
      const calDate = invoke('getDate')
      const rangeStart = invoke('getDateRangeStart')
      const rangeEnd = invoke('getDateRangeEnd')
      const months = [
        '',
        'Tháng 1',
        'Tháng 2',
        'Tháng 3',
        'Tháng 4',
        'Tháng 5',
        'Tháng 6',
        'Tháng 7',
        'Tháng 8',
        'Tháng 9',
        'Tháng 10',
        'Tháng 11',
        'Tháng 12'
      ]
      let year = calDate.getFullYear()
      let month = calDate.getMonth() + 1
      let date = calDate.getDate()
      let dateRangeText = ''
      let endMonth, endDate, start, end
      var typetime = 1
      switch (view) {
        case 'month':
          dateRangeText = `${months[month]} ${year}`
          this.dateFrom = moment(calDate).startOf('month')
          this.dateTo = moment(calDate).endOf('month')
          typetime = 3
          break
        case 'week':
          year = rangeStart.getFullYear()
          month = rangeStart.getMonth() + 1
          date = rangeStart.getDate()
          endMonth = rangeEnd.getMonth() + 1
          endDate = rangeEnd.getDate()
          start = `${date} ${months[month]}`
          end = `${endDate} ${months[endMonth]}, ${year}`
          dateRangeText = `${start} - ${end}`
          this.dateFrom = moment(calDate).startOf('week')
          this.dateTo = moment(calDate).endOf('week')
          typetime = 2
          break
        default:
          dateRangeText = `${date} ${months[month]} ${year}`
          this.dateFrom = moment(calDate).startOf('day')
          this.dateTo = moment(calDate).endOf('day')
      }
      this.$emit('changeDateFromTo', this.dateFrom, this.dateTo, typetime)
      this.dateRange = dateRangeText
    },
    onClickNavi (event) {
      if (event.target.tagName === 'BUTTON' || event.target.tagName === 'I') {
        const { target } = event
        let action = target.dataset
          ? target.dataset.action
          : target.getAttribute('data-action')
        if (action) {
          action = action.replace('move-', '')
        }
        this.$refs.tuiCal.invoke(action)
        this.setRenderRangeText()
      }
    },
    onClickSchedule (res) {
      /* console.group('onClickSchedule')
        console.log('MouseEvent : ', res.event)
        console.log('Calendar Info : ', res.calendar)
        console.log('Schedule Info : ', res.schedule)
        console.groupEnd() */
    },
    onClickDayname (res) {
      // view : week, day
      /* console.group('onClickDayname')
        console.log(res.date)
        console.groupEnd() */
    },
    onBeforeUpdateSchedule (res) {
      const idx = this.scheduleList.findIndex(
        (item) => item.id === res.schedule.id
      )
      const updatedEvent = { ...res.schedule, ...res.changes }
      this.$set(this.scheduleList, idx, new Event(updatedEvent))
    },
    onBeforeCreateSchedule (res) {
      const event = new Event(res)
      this.scheduleList.push(event)
    },
    onBeforeDeleteSchedule (res) {
      const idx = this.scheduleList.findIndex(
        (item) => item.id === res.schedule.id
      )
      this.scheduleList.splice(idx, 1)
    }
  },
  mounted () {
    this.init()
    core.index()
    this.scheduleList = Events
  }
}
</script>
<style lang="scss" scoped>
  .active-button{
    background-color: #cc4d00 !important;
  }
  .button-change.active {
    background-color: #a24e1a !important;
    border-color: #a24e1a !important;
  }
</style>
