<template>
  <div class="content-container">
    <div class="title-4 mb-3">{{item_hop.title}}</div>
    <div>
      <p>
        <img style="margin-right: 10px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/time-icon.0d82b791.svg">
        {{item_hop.datefromto}}
      </p>
      <p>
        <img style="margin-right: 5px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/pin_drop_24px.144b1bba.svg">
        {{item_hop.location}}
      </p>
      <p>
        <img style="margin-right: 7px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/Group_210.3d635a42.svg">
        <span v-if="item_hop.kieu.type === 1">Họp trực tiếp</span>
        <span v-else>Họp trực tuyến: <a v-bind:href="item_hop.kieu.link" target="_blank">{{item_hop.kieu.link}}</a></span>
      </p>
      <p>
        File đính kèm: <a v-bind:href="item_hop.file">{{item_hop.file}}</a>
      </p>
    </div>
    <tab-nav :tabs="true" id="myTab-1">
      <tab-nav-items :active="true" id="thongtin-tab" ariaControls="thongtin" role="tab" :ariaSelected="true" title="Thông tin" />
      <tab-nav-items :active="false" id="chuongtrinhhop-tab" ariaControls="chuongtrinhhop" role="tab" :ariaSelected="false" title="Chương trình họp" />
      <tab-nav-items :active="false" id="moihop-tab" ariaControls="moihop" role="tab" :ariaSelected="false" title="Thành phân tham gia" />
      <tab-nav-items :active="false" id="ketluanhop-tab" ariaControls="ketluanhop" role="tab" :ariaSelected="false" title="Kết luận họp" />
    </tab-nav>
    <tab-content id="myTabContent">
      <tab-content-item :active="true" id="thongtin" aria-labelled-by="thongtin-tab">
        <b-row>
          <b-col sm="8">
            <p>
              Người chủ trì:
              {{item_hop.nguoichuchi.name}}
            </p>
            <p>
              Tổng số người tham gia:
              {{item_hop.tongsonguoithamgia}}
            </p>
          </b-col>
          <b-col sm="4">
            <p>Thông tin liên hệ:</p>
            <p>
              Họ tên:
              {{item_hop.nguoichuchi.contact.name}}
            </p>
            <p>
              Số ĐT cơ quan:
              {{item_hop.nguoichuchi.contact.phone}}
            </p>
            <p>
              Số ĐTDĐ:
              {{item_hop.nguoichuchi.contact.mobiphone}}
            </p>
          </b-col>
        </b-row>
      </tab-content-item>
      <tab-content-item :active="false" id="chuongtrinhhop" aria-labelled-by="chuongtrinhhop-tab">
        <p>Chương trình họp</p>
      </tab-content-item>
      <tab-content-item :active="false" id="moihop" aria-labelled-by="moihop-tab">
        <div class="table-responsive">
          <table role="table" aria-busy="false" aria-colcount="4" class="table b-table text-dark-blue table-bordered" id="__BVID__173"><!----><!---->
            <thead role="rowgroup" class="text-uppercase text-center">
              <tr role="row" class="">
                <th role="columnheader" scope="col" aria-colindex="1" class=""><div>STT</div></th>
                <th role="columnheader" scope="col" aria-colindex="2" class=""><div>Tên đơn vị</div></th>
                <th role="columnheader" scope="col" aria-colindex="3" class=""><div>Tên cán bộ</div></th>
                <th role="columnheader" scope="col" aria-colindex="4" class=""><div>Vai trò</div></th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr role="row" class="" v-for="(item, index) in item_hop.attendees" :key="index">
                <td aria-colindex="1" role="cell" class="text-center">{{index + 1}}</td>
                <td aria-colindex="2" role="cell" class="mw-300p">{{item.unitname}}</td>
                <td aria-colindex="3" role="cell" class="">{{item.name}}</td>
                <td v-if="item.type === 1" aria-colindex="4" role="cell" class="">Người chủ trì</td>
                <td v-else aria-colindex="4" role="cell" class="">Khách mời</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab-content-item>
      <tab-content-item :active="false" id="ketluanhop" aria-labelled-by="ketluanhop-tab">
        <p>Biên bản họp</p>
      </tab-content-item>
    </tab-content>
  </div>
</template>
<script>
export default {
  name: 'BaoCaoChiTiet',
  props: {
    item_hop: {}
  }
}
</script>
<style lang="scss" scoped>
  .baocao-iframe{
      position: relative;
      .baocao-iframe-options{
          position: absolute;
          top: 0;
          right: 1.5rem;
          svg{
              width: 1.5rem;
              height: 1.5rem;
          }
      }
      iframe{
      width: 100%;
      height: 600px;
      }
  }
  .title-2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: -.24px;
  }
  .title-1 {
    font-weight: 600;
    font-size: 100px;
    line-height: 35px;
    margin-bottom: 66px;
    margin-top: 44px;
  }
  .title-3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
  }
  .title-4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
  }
  .general .date-time {
    font-size: 20px;
    line-height: 26px;
  }
  .user-info {
    width: 314px;
    height: 80px;
    background: var(--iq-body-bg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 21px;
  }
  .user-info .user-info__text p:first-child {
    font-size: 15px;
  }
  .user-info .user-info__text p:first-child {
    margin: 0;
  }
  .contact-info .title-big, .schedule-info .title-big {
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  .contact-info .title, .schedule-info .title {
    font-weight: 700;
    line-height: 28px;
  }
  .contact-info .content .item, .schedule-info .content .item {
    line-height: 25px;
  }
</style>
