<template>
  <b-container fluid>
    <b-row>
      <b-col cols="3">
        <div>
          <ScheduleNavList
            @clickLeftMenu="onClickLeftMenu($event)"
            :date-range="dateRange"
            :selected-view="selectedView"
          />
        </div>
      </b-col>
      <b-col cols="9">
        <b-row>
          <b-col cols="12">
            <div
              class="iq-card mb-0"
              id="menu"
            >
              <div
                id="menu-navi"
                class="iq-card-body d-flex align-items-center justify-content-between"
                @click="onClickNavi($event)"
              >
                <button
                  class="btn fc-button"
                  data-action="move-today"
                >
                  Hôm nay
                </button>
                  <div class="d-flex justify-content-between header-response">
                    <button
                        type="button"
                        class="btn btn-link iq-bg-primary"
                        data-action="move-prev"
                      >
                        <i
                          class="fa fa-chevron-left mr-0 p-0"
                          data-action="move-prev"
                        />
                      </button>
                      <p id="renderRange" class="render-range mt-1 mx-4 fz-20">
                        {{ dateRange }}
                      </p>
                      <button
                        type="button"
                        class="btn btn-link iq-bg-primary"
                        data-action="move-next"
                      >
                        <i
                          class="fa fa-chevron-right mr-0 p-0"
                          data-action="move-next"
                        />
                      </button>
                  </div>
                  <div>
                    <span class="fc-button-group mr-2">
                      <button
                        class="btn cs-btn-action mr-1"
                        :class="{ active: scheduleStatus }"
                        @click="scheduleStatus = true"
                      >
                        <img v-if="scheduleStatus" class="img-calender-kind" src="http://10.0.0.49:9911/img/ic_list.0e300c26.svg" alt="">
                        <img v-else class="img-calender-kind" src="../../../assets/images/icon/ic-play-list.svg" alt="">
                      </button>
                      <button
                        class="btn cs-btn-action"
                        :class="{ active: !scheduleStatus }"
                        @click="scheduleStatus = false"
                      >
                        <img v-if="!scheduleStatus" class="img-calender-kind" src="http://10.0.0.49:9911/img/ic_calendar.309ca999.svg" alt="" />
                        <img v-else class="img-calender-kind" src="../../../assets/images/icon/ic-calendar.svg" alt="">
                      </button>
                    </span>
                    <b-form-radio-group
                      v-model="selectedView"
                      :options="viewModeOptions"
                      buttons
                      class="cs-button-group"
                    />
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
        <div v-show="scheduleStatus">
          <b-row class="row-thong-ke-lich mt-3">
            <b-col
              xl="3"
              lg="6"
              v-for="(item, index) in thongKeLich" :key="index"
            >
              <iq-card>
                <div class="title">{{ item.name }}</div>
                <div class="result" :style="{ color: item.borderColor }">{{ getCount(item.value) }}</div>
              </iq-card>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <ScheduleListShow
                :work-item-filter="workItemFilter"
              />
            </b-col>
          </b-row>
        </div>
        <b-row>
          <b-col cols="12" v-show="!scheduleStatus">
            <calendar
              class="cs-work-calender"
              ref="tuiCal"
              :useDetailPopup="useDetailPopup"
              :view="selectedView"
              :calendars="calendarList"
              :schedules="scheduleList"
              :template="template"
              :taskView="true"
              :scheduleView="true"
              :month="month"
              :week="week"
              :disableDblClick="disableDblClick"
              :isReadOnly="isReadOnly"
              @clickSchedule="onClickSchedule"
              @clickDayname="onClickDayname"
            />
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import ScheduleListShow from './ScheduleListShow'
import ScheduleNavList from './scheduleNavList'
import 'tui-time-picker/dist/tui-time-picker.css'
import 'tui-date-picker/dist/tui-date-picker.css'
import 'tui-calendar/dist/tui-calendar.css'
import Event from '../../../Model/Event'
import { CalenderList, workSchedule } from '../../../FackApi/api/meeting'
import { Calendar } from '@toast-ui/vue-calendar'
import { core } from '../../../config/pluginInit'
import _isEmpty from 'lodash/isEmpty'
import moment from 'moment'

export default {
  name: 'App',
  components: {
    calendar: Calendar,
    ScheduleNavList,
    ScheduleListShow
  },
  data () {
    return {
      thongKeLich: [
        {
          name: 'Lịch hiện có của đơn vị',
          value: 'UBND',
          borderColor: '#DD6161'
        },
        {
          name: 'Lịch hiện có của cá nhân',
          value: 'CA_NHAN',
          borderColor: '#9F44AE'
        },
        {
          name: 'Lịch trùng',
          value: 'LICH_TRUNG',
          borderColor: '#25894E'
        },
        {
          name: 'Lịch sắp tới',
          value: 'LICH_SAP_TOI',
          borderColor: '#D759AA'
        }
      ],
      viewModeOptions: [
        {
          text: 'Ngày',
          value: 'day'
        },
        {
          text: 'Tuần',
          value: 'week'
        },
        {
          text: 'Tháng',
          value: 'month'
        }
      ],
      dateRange: '',
      selectedView: 'day',
      calendarList: CalenderList,
      scheduleList: [],
      template: {
        milestone (schedule) {
          return `<span style="color:#3F3F3F;background-color: ${schedule.bgColor};">${schedule.title}</span>`
        },
        milestoneTitle () {
          return '<span class="tui-full-calendar-left-content">Đánh dấu</span>'
        },
        taskTitle () {
          return '<span class="tui-full-calendar-left-content">Hiện tại</span>'
        },
        allday (schedule) {
          return `<i class="fa fa-users"></i> ${schedule.title}`
        },
        alldayTitle () {
          return '<span class="tui-full-calendar-left-content">Hàng ngày</span>'
        }
      },
      month: {
        startDayOfWeek: 0
      },
      week: {
        showTimezoneCollapseButton: true,
        timezonesCollapsed: true,
        daynames: [
          'Chủ nhật',
          'Thứ 2',
          'Thứ 3',
          'Thứ 4',
          'Thứ 5',
          'Thứ 6',
          'Thứ 7'
        ]
      },
      taskView: true,
      scheduleView: true,
      useDetailPopup: true,
      disableDblClick: true,
      isReadOnly: false,
      // Trạng thái lịch true là danh sách,false là lịch
      scheduleStatus: true,
      valueLeftMenu: 'CA_NHAN',
      workItemFilter: [],
      workSchedule: workSchedule,
      scheduleItems: {}
    }
  },
  computed: {
  },
  watch: {
    selectedView (newValue) {
      this.$refs.tuiCal.invoke('changeView', newValue, true)
      this.setRenderRangeText()
    },
    valueLeftMenu: {
      handler () {
        const result = this.workSchedule.filter(item => item.value === this.valueLeftMenu)
        if (_isEmpty(result)) {
          this.scheduleItems = []
          this.workItemFilter = []
          this.scheduleList = []
          return
        }
        this.scheduleItems = result[0]
      },
      immediate: true
    },
    dateRange: {
      handler () {
        this.getScheduleItems()
        this.getScheduleCalendar()
      },
      immediate: true
    },
    scheduleItems () {
      this.getScheduleItems()
      this.getScheduleCalendar()
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    getCount (value) {
      const result = this.workSchedule.filter(item => item.value === value)[0]
      if (this.dateRange && (value === 'UBND' || value === 'CA_NHAN')) {
        const d = this.dateRange
        if (this.selectedView === 'day') {
          const date = new Date(d.slice(9, 10) + '/' + d.slice(0, 2) + '/' + d.slice(11, 15))
          return result.data.filter(item => item.Date.Day === date.getDate() && item.Date.year === date.getFullYear()).length
        } else if (this.selectedView === 'week') {
          const date = new Date(d.slice(d.lastIndexOf('Tháng') + 9, d.lastIndexOf('Tháng') + 13), d.slice(d.lastIndexOf('Tháng') + 6, d.lastIndexOf('Tháng') + 7))
          return result.data.filter(item => item.Date.month === date.getMonth() && item.Date.year === date.getFullYear()).length
        } else if (this.selectedView === 'month') {
          const date = new Date(d.slice(8, 12), d.slice(6, 7))
          return result.data.filter(item => item.Date.month === date.getMonth() && item.Date.year === date.getFullYear()).length
        }
      } else if (value === 'LICH_TRUNG') {
        return 0
      } else if (value === 'LICH_SAP_TOI') {
        return 1
      }
    },
    getScheduleCalendar () {
      if (!_isEmpty(this.scheduleItems)) {
        this.scheduleList = this.scheduleItems.data.map((item, index) => {
          return new Event(
            {
              id: index++,
              isAllday: false,
              calendarId: item.calendarId,
              title: item.NoiDung,
              category: item.category,
              start: moment(new Date(item.Date.year, item.Date.month - 1, item.Date.Day), 'YYYY-MM-DD').add(0, 'days').format('YYYY-MM-DD')
            }
          )
        })
      }
    },
    getScheduleItems () {
      if (this.dateRange && !_isEmpty(this.scheduleItems)) {
        const d = this.dateRange
        if (this.selectedView === 'day') {
          const date = new Date(d.slice(9, 10) + '/' + d.slice(0, 2) + '/' + d.slice(11, 15))
          this.workItemFilter = this.scheduleItems.data.filter(item => item.Date.Day === date.getDate() && item.Date.year === date.getFullYear())
        } else if (this.selectedView === 'week') {
          const date = new Date(d.slice(d.lastIndexOf('Tháng') + 9, d.lastIndexOf('Tháng') + 13), d.slice(d.lastIndexOf('Tháng') + 6, d.lastIndexOf('Tháng') + 7))
          this.workItemFilter = this.scheduleItems.data.filter(item => item.Date.month === date.getMonth() && item.Date.year === date.getFullYear())
        } else if (this.selectedView === 'month') {
          const date = new Date(d.slice(8, 12), d.slice(6, 7))
          this.workItemFilter = this.scheduleItems.data.filter(item => item.Date.month === date.getMonth() && item.Date.year === date.getFullYear())
        }
      }
    },
    onClickLeftMenu (value) {
      this.valueLeftMenu = value
    },
    init () {
      this.setRenderRangeText()
      core.index()
      this.getScheduleCalendar()
    },
    setRenderRangeText () {
      const { invoke } = this.$refs.tuiCal
      const view = invoke('getViewName')
      const calDate = invoke('getDate')
      const rangeStart = invoke('getDateRangeStart')
      const rangeEnd = invoke('getDateRangeEnd')
      const months = [
        '',
        'Tháng 1',
        'Tháng 2',
        'Tháng 3',
        'Tháng 4',
        'Tháng 5',
        'Tháng 6',
        'Tháng 7',
        'Tháng 8',
        'Tháng 9',
        'Tháng 10',
        'Tháng 11',
        'Tháng 12'
      ]
      let year = calDate.getFullYear()
      let month = calDate.getMonth() + 1
      let date = calDate.getDate()
      let dateRangeText = ''
      let endMonth, endDate, start, end
      switch (view) {
        case 'month':
          dateRangeText = `${months[month]} ${year}`
          break
        case 'week':
          year = rangeStart.getFullYear()
          month = rangeStart.getMonth() + 1
          date = rangeStart.getDate()
          endMonth = rangeEnd.getMonth() + 1
          endDate = rangeEnd.getDate()
          start = `${months[month]} ${date}`
          end = `${endDate} ${months[endMonth]}, ${year}`
          dateRangeText = `${start} - ${end}`
          break
        default:
          dateRangeText = `${date} ${months[month]} ${year}`
      }
      this.dateRange = dateRangeText
      switch (view) {
        case 'day':
          this.$store.dispatch('Calender/setDateActions', this.dateRange)
          break
        case 'week':
          this.$store.dispatch('Calender/setDateActions', 'week')
          break
        case 'month':
          this.$store.dispatch('Calender/setDateActions', 'month')
          break
        default:
          break
      }
    },
    onClickNavi (event) {
      if (event.target.tagName === 'BUTTON' || event.target.tagName === 'I') {
        const { target } = event
        let action = target.dataset
          ? target.dataset.action
          : target.getAttribute('data-action')
        action = action.replace('move-', '')
        this.$refs.tuiCal.invoke(action)
        this.setRenderRangeText()
      }
    },
    onClickSchedule (res) {
      /* console.group('onClickSchedule')
      console.log('MouseEvent : ', res.event)
      console.log('Calendar Info : ', res.calendar)
      console.log('Schedule Info : ', res.schedule)
      console.groupEnd() */
    },
    onClickDayname (res) {
      // view : week, day
      /* console.group('onClickDayname')
      console.log(res.date)
      console.groupEnd() */
    }
    // onBeforeUpdateSchedule (res) {
    //   const idx = this.scheduleList.findIndex(
    //     item => item.id === res.schedule.id
    //   )
    //   const updatedEvent = { ...res.schedule, ...res.changes }
    //   this.$set(this.scheduleList, idx, new Event(updatedEvent))
    // },
    // onBeforeCreateSchedule (res) {
    //   const event = new Event(res)
    //   this.scheduleList.push(event)
    // },
    // onBeforeDeleteSchedule (res) {
    //   const idx = this.scheduleList.findIndex(
    //     item => item.id === res.schedule.id
    //   )
    //   this.scheduleList.splice(idx, 1)
    // }
  }
}
</script>
<style lang="scss">
  .render-range {
    font-size: 20px;
  }
  .fc-button {
    background: rgba(130, 122, 243, 0.2);
    color: var(--iq-primary);
    border: none;
    text-transform: inherit;
    border-radius: 8px;
    -webkit-border-radius: 8px;

    &:hover {
      background: rgba(130, 122, 243, 0.2);
      color: var(--iq-primary);
      border: none;
      border-radius: 8px;
      -webkit-border-radius: 8px;
    }
  }
  .cs-button-group {
    label {
      &.active {
        color: var(--iq-white);
        background-color: var(--iq-primary) !important;
        border: none;
      }
      background: rgba(130, 122, 243, 0.2);
      color: var(--iq-primary);
      border: none;

      &:focus {
        background: rgba(130, 122, 243, 0.2) !important;
        color: var(--iq-primary) !important;
        border: none;
        text-transform: capitalize;
      }

      &:hover {
        background: rgba(130, 122, 243, 0.2);
        color: var(--iq-primary);
        border: none;
        text-transform: capitalize;
      }
    }
  }

  .cs-btn-action {
    background-color: #ffffff;
    border-radius: 4px;
    color: var(--iq-primary);
    border-color: var(--iq-primary);

    &.active {
      color: var(--iq-white);
      background-color: var(--iq-primary) !important;
    }
  }

  .row-thong-ke-lich {
    text-align: center;
    font-weight: bold;

    .title {
      font-size: 18px;
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid rgba(130, 122, 243, 0.2);
    }

    .result {
      font-size: 20px;
      font-weight: bold;
    }
  }
.cs-work-calender {
  height: 700px;
  .tui-full-calendar-layout {
    overflow: auto;
  }
}
@media only screen and(max-width:1000px) {
  .header-response {
    max-width: 200px;
    overflow: scroll;
  }
}
</style>
