<template>
  <tab-content>
    <iq-card>
      <b-modal size="xl" id="modal-detail" title="Chi tiết lịch">
          <BaoCaoChiTiet :item_hop="item_hop" />
      </b-modal>
    </iq-card>
    <!-- <div class="table">
      <div class="t-header d-flex heading-list">
        <div class="w-30">Thời gian</div>
        <div class="w-20">Chương trình</div>
        <div class="w-15">Địa điểm</div>
        <div class="w-20">Nội dung</div>
        <div class="w-30">Thành phần tham gia</div>
      </div>
      <div class="t-body">
        <div
          class="d-flex t-body-list"
          v-for="(item, i) in itemcalenders"
          :key="i"
          v-b-modal.modal-detail
          v-on:click="openDetail(item)"
        >
          <div class="w-30">{{ item.DateFromTo }}</div>
          <div class="w-20 shorten-text">{{ item.Chuongtrinh }}</div>
          <div class="w-15 shorten-text">{{ item.Diadiem }}</div>
          <div class="w-20 shorten-text">{{ item.Noidung }}</div>
          <div class="w-30 shorten-text">
            <span v-for="(item, i) in item.Thanhphan.thanhphan" :key="i" style="padding: 0 !important">{{item.tenCanBo + '-' + item.tenDonVi + ', '}}</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="table">
      <div class="t-header d-flex heading-list">
        <div class="w-30">Thời gian</div>
        <div class="w-20">Chương trình</div>
        <div class="w-15">Địa điểm</div>
        <div class="w-20">Nội dung</div>
        <div class="w-30">Thành phần tham gia</div>
      </div>
      <div class="t-body">
        <div
          class="d-flex t-body-list"
          v-for="(item, i) in itemcalenders"
          :key="i"
          v-b-modal.modal-detail
          v-on:click="openDetail(item)"
        >
          <div class="w-30">{{ item.datefromto }}</div>
          <div class="w-20 shorten-text">{{ item.title }}</div>
          <div class="w-15 shorten-text">{{ item.location }}</div>
          <div class="w-20 shorten-text">{{ item.content }}</div>
          <div class="w-30 shorten-text">
            <span v-for="(item, i) in item.attendees" :key="i" style="padding: 0 !important">{{item.name + ' - ' + item.unitname + ', '}}</span>
          </div>
        </div>
      </div>
    </div>
  </tab-content>
</template>
<script>
import BaoCaoChiTiet from './BaoCaoChiTiet'
import { Events } from '../../../FackApi/api/meeting'
import moment from 'moment'
export default {
  name: 'DanhSachBaoCao',
  props: {
    dateFrom: {},
    dateTo: {},
    actiontype: {
      type: Number,
      default: NaN
    }
  },
  components: { BaoCaoChiTiet },
  data () {
    return {
      item_hop: {},
      fields: [
        {
          key: 'Thoigian',
          label: 'Thời gian'
        },
        {
          key: 'Chuongtrinh',
          label: 'Chương trình'
        },
        {
          key: 'Diadiem',
          label: 'Địa điểm'
        },
        {
          key: 'Noidung',
          label: 'Nội dung'
        },
        {
          key: 'Thanhphan',
          label: 'Thành phần'
        },
        {
          key: 'Loai',
          label: 'Loại'
        }
      ],
      items: [
        {
          DateFrom: '2021-03-02 15:30',
          DateTo: '2021-03-02 17:30',
          Weekday: 'thứ tư',
          Day: '02',
          DateFromTo: '02/03/2021 15:30 - 17:30',
          DFT: '02/03/2021 - 02/03/2021',
          Chuongtrinh: 'Họp học tập quán triệt nghị quyết đại hội đại biểu toàn quốc',
          Diadiem: 'Phòng họp 202A',
          Noidung: 'Nghị quyết, nghị định là những quyết định QLNN của Chính phủ được ban hành theo trình tự tập thể. Chúng được ban hành để giải quyết những vấn đề quan trọng thuộc thẩm quyền của Chính phủ. Vấn đề đặt ra là làm thế nào có thể phân biệt được sự khác nhau giữa hai hình thức văn bản “nghị quyết” và “nghị định”? Khi nào thì Chính phủ dùng hình thức văn bản “nghị quyết” và khi nào dùng hình thức văn bản “nghị định”?',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'Phòng Tổng hợp - Nội chính',
                tenCanBo: 'Khuất Văn Khôi Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Cá nhân',
            color: 'primary',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Khuất Văn Khôi Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Nguyễn Thị Hoàng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 2,
            link: 'https://meet.google.com/sae-ciyd-sbs'
          },
          File: 'http://10.0.0.49:8282/files/Ph%E1%BB%A5%20L%E1%BB%A5c%20TV%20127-a54092fd-7a7e-4897-ba8a-cbe134a5c814.docx'
        },
        {
          DateFrom: '2021-04-19 07:00',
          DateTo: '2021-04-19 09:00',
          Weekday: 'thứ hai',
          Day: '19',
          DateFromTo: '19/04/2021 07:00 - 09:00',
          DFT: '19/04/2021 - 19/04/2021',
          Chuongtrinh: 'Họp giao ban',
          Diadiem: 'Phòng họp 202B',
          Noidung: 'Họp giao ban đầu tuần',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Tấn Đức',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Thái Bảo',
                vaiTro: 'Khách mời'
              }
            ],
            length: 4
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Cao Tiến Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Cao Tiến Dũng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: 'http://10.0.0.49:8282/files/Ph%E1%BB%A5%20L%E1%BB%A5c%20TV%20127-a54092fd-7a7e-4897-ba8a-cbe134a5c814.docx'
        },
        {
          DateFrom: '2021-04-20 08:00',
          DateTo: '2021-04-20 10:00',
          Weekday: 'thứ ba',
          Day: '20',
          DateFromTo: '20/04/2021 08:00 - 10:00',
          DFT: '20/04/2021 - 20/04/2021',
          Chuongtrinh: 'Họp ban bầu cử',
          Diadiem: 'Phòng họp 202C',
          Noidung: 'Họp ban bầu cử đại biểu quốc hội khóa XV đơn vị số 3 Long Thành, Nhơn Trạch, Cẩm Mỹ',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Võ Tấn Đức',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Võ Tấn Đức',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Võ Tấn Đức',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          }
        },
        {
          DateFrom: '2021-04-22 08:00',
          DateTo: '2021-04-22 10:00',
          Weekday: 'thứ năm',
          Day: '22',
          DateFromTo: '22/04/2021 08:00 - 10:00',
          DFT: '22/04/2021 - 22/04/2021',
          Chuongtrinh: 'Họp rà soát tổng kết Luật đất đai năm 2013',
          Diadiem: 'Phòng họp 201A',
          Noidung: 'Họp rà soát tổng kết Luật đất đai năm 2013',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Võ Văn Phi',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Võ Văn Phi',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-23 14:00',
          DateTo: '2021-04-23 17:00',
          Weekday: 'thứ sáu',
          Day: '23',
          DateFromTo: '23/04/2021 14:00 - 17:00',
          DFT: '23/04/2021 - 23/04/2021',
          Chuongtrinh: 'Họp hội đồng thẩm định',
          Diadiem: 'Phòng họp 201B',
          Noidung: 'Họp hội đồng thẩm định QHXD một số dự án',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Cao Tiến Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Cao Tiến Dũng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-23 14:00',
          DateTo: '2021-04-23 17:00',
          Weekday: 'thứ sáu',
          Day: '23',
          DateFromTo: '23/04/2021 14:00 - 17:00',
          DFT: '23/04/2021 - 23/04/2021',
          Chuongtrinh: 'Họp hội đồng thẩm định',
          Diadiem: 'Phòng họp 201B',
          Noidung: 'Họp hội đồng thẩm định giá đất tỉnh',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Võ Tấn Đức',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Võ Tấn Đức',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Võ Tấn Đức',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-23 08:00',
          DateTo: '2021-04-23 10:00',
          Weekday: 'thứ sáu',
          Day: '23',
          DateFromTo: '23/04/2021 14:00 - 17:00',
          DFT: '23/04/2021 - 23/04/2021',
          Chuongtrinh: 'Họp đề án sắp xếp ổn định dân cư tại chỗ các ấp ven lòng hồ Trị An, huyện Vĩnh Cửu',
          Diadiem: 'Phòng họp 201C',
          Noidung: 'Họp đề án sắp xếp ổn định dân cư tại chỗ các ấp ven lòng hồ Trị An, huyện Vĩnh Cửu',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Võ Văn Phi',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Võ Văn Phi',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-12 07:00',
          DateTo: '2021-04-12 09:00',
          Weekday: 'thứ hai',
          Day: '12',
          DateFromTo: '12/04/2021 07:00 - 09:00',
          DFT: '12/04/2021 - 12/04/2021',
          Chuongtrinh: 'Họp giao ban',
          Diadiem: 'Phòng họp 203A',
          Noidung: 'Họp giao ban ủy ban bầu cử tỉnh',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Tấn  Đức',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Thái Bảo',
                vaiTro: 'Khách mời'
              }
            ],
            length: 4
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Cao Tiến Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Cao Tiến Dũng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-12 14:00',
          DateTo: '2021-04-12 17:00',
          Weekday: 'thứ hai',
          Day: '12',
          DateFromTo: '12/04/2021 14:00 - 17:00',
          DFT: '12/04/2021 - 12/04/2021',
          Chuongtrinh: 'Họp tập thể thường trực Tỉnh ủy',
          Diadiem: 'Phòng họp 203B',
          Noidung: 'Họp tập thể thường trực Tỉnh ủy',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Thái Bảo',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp Tỉnh ủy',
            color: 'warning',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Cao Tiến Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Cao Tiến Dũng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 2,
            link: 'https://meet.google.com/sae-ciyd-sbs'
          },
          File: ''
        },
        {
          DateFrom: '2021-01-19 14:00',
          DateTo: '2021-01-19 17:00',
          Weekday: 'thứ hai',
          Day: '19',
          DateFromTo: '19/01/2021 14:00 - 17:00',
          DFT: '19/01/2021 - 19/01/2021',
          Chuongtrinh: 'Họp nghe báo cáo',
          Diadiem: 'Phòng họp 203C',
          Noidung: 'Họp nghe báo cáo theo yêu cầu Thanh tra CP',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND Tỉnh',
                tenCanBo: 'Cao Tiến Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Tấn Đức',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Thường trực UBND tỉnh',
                tenCanBo: 'Võ Văn Phi',
                vaiTro: 'Khách mời'
              }
            ],
            length: 3
          },
          Loai: {
            name: 'Lịch họp UBND',
            color: 'danger',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Cao Tiến Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Cao Tiến Dũng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-03-04 08:00',
          DateTo: '2021-03-04 11:00',
          Weekday: 'Thứ năm',
          Day: '04',
          DateFromTo: '04/03/2021 08:00 - 11:00',
          DFT: '04/03/2021 - 04/03/2021',
          Chuongtrinh: 'Họp đánh giá chất lượng, xét khen thưởng',
          Diadiem: 'Phòng họp 301A',
          Noidung: 'Họp đánh giá chất lượng hoạt động và xét khen thưởng đối với các tổ chức HĐND tỉnh và đại biểu HĐND tỉnh năm 2020; xét khen thưởng của nhiệm kỳ 2016-2021 đối với các đại biểu và các tổ chức của HĐND 3 cấp tỉnh, huyện, xã',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'HĐND Tỉnh',
                tenCanBo: 'Nguyễn Phú Cường',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực HĐND tỉnh',
                tenCanBo: 'Nguyễn Sơn Hùng',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp HĐND',
            color: 'info',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Nguyễn Phú Cường',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Nguyễn Phú Cường',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-22 14:00',
          DateTo: '2021-04-22 17:00',
          Weekday: 'Thứ năm',
          Day: '22',
          DateFromTo: '22/04/2021 14:00 - 17:00',
          DFT: '22/04/2021 - 22/04/2021',
          Chuongtrinh: 'Họp chi ủy thường kỳ',
          Diadiem: 'Phòng họp 301B',
          Noidung: 'Họp chi ủy thường ký tháng 5/2021 (Chi ủy văn phòng)',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'Văn phòng Tỉnh ủy',
                tenCanBo: 'Phạm Xuân Hà',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Văn phòng Tỉnh ủy',
                tenCanBo: 'Phạm Thế Dậu',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Văn phòng Tỉnh ủy',
                tenCanBo: 'Trương Văn Lâm',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Văn phòng Tỉnh ủy',
                tenCanBo: 'Nguyễn Thị Thu Vân',
                vaiTro: 'Khách mời'
              }
            ],
            length: 4
          },
          Loai: {
            name: 'Lịch họp Tỉnh ủy',
            color: 'warning',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Phạm Xuân Hà',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Phạm Xuân Hà',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-03-08 09:00',
          DateTo: '2021-03-08 11:00',
          Weekday: 'Thứ hai',
          Day: '08',
          DateFromTo: '08/03/2021 09:00 - 11:00',
          DFT: '08/03/2021 - 08/03/2021',
          Chuongtrinh: 'Họp thẩm tra',
          Diadiem: 'Phòng họp 301C',
          Noidung: 'Họp thẩm tra ban văn hóa xã hội HĐND tỉnh',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'HĐND Tỉnh',
                tenCanBo: 'Phạm Ngọc Tuấn',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Thường trực HĐND tỉnh',
                tenCanBo: 'Nguyễn Sơn Hùng',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp HĐND',
            color: 'info',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Phạm Ngọc Tuấn',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Phạm Ngọc Tuấn',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-19 14:00',
          DateTo: '2021-04-19 17:00',
          Weekday: 'Thứ hai',
          Day: '19',
          DateFromTo: '19/04/2021 14:00 - 17:00',
          DFT: '19/04/2021 - 19/04/2021',
          Chuongtrinh: 'Họp rà soát',
          Diadiem: 'Phòng họp số 402A',
          Noidung: 'Họp rà soát nội dung liên quan đến Kiểm toán Nhà nước năm 2019 đối với các dự án khu dân cư',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'Sở Kế hoạch đầu tư',
                tenCanBo: 'Hồ Văn Hà',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Sở Kế hoạch đầu tư',
                tenCanBo: 'Trần Vũ Hoài Hạ',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp Sở ban ngành',
            color: 'success',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Hồ Văn Hà',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Hồ Văn Hà',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-20 14:00',
          DateTo: '2021-04-20 17:00',
          Weekday: 'Thứ ba',
          Day: '20',
          DateFromTo: '20/04/2021 14:00 - 17:00',
          DFT: '20/04/2021 - 20/04/2021',
          Chuongtrinh: 'Họp về phần mềm quản lý DN và dự án đầu tư',
          Diadiem: 'Phòng họp 302B',
          Noidung: 'Họp về phần mềm quản lý DN và dự án đầu tư',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'Sở Kế hoạch đầu tư',
                tenCanBo: 'Trần Vũ Hoài Hạ',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Sở Kế hoạch đầu tư',
                tenCanBo: 'Hồ Văn Hà',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp Sở ban ngành',
            color: 'success',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Trần Vũ Hoài Hạ',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Trần Vũ Hoài Hạ',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-01 08:00',
          DateTo: '2021-04-01 11:00',
          Weekday: 'Thứ năm',
          Day: '01',
          DateFromTo: '01/04/2021 08:00 - 11:00',
          DFT: '01/04/2021 - 01/04/2021',
          Chuongtrinh: 'Họp giao ban với ủy ban bầu cử',
          Diadiem: 'UBND huyện Trảng Bom',
          Noidung: 'Sáng ngày 01/4, Ủy ban bầu cử huyện Trảng Bom tổ chức họp giao ban với Ủy ban bầu cử 17 xã, trị trấn để nắm bắt tiến độ công tác chuẩn bị bầu cử tại cơ sở',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND huyện Trảng Bom',
                tenCanBo: 'Vũ Thị Minh Châu',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'UBND huyện Trảng Bom',
                tenCanBo: 'Lê Hữu Đảng',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp Địa phương',
            color: 'dark',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Vũ Thị Minh Châu',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Vũ Thị Minh Châu',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-04-08 08:00',
          DateTo: '2021-04-08 11:00',
          Weekday: 'Thứ năm',
          Day: '08',
          DateFromTo: '08/04/2021 08:00 - 11:00',
          DFT: '08/04/2021 - 08/04/2021',
          Chuongtrinh: 'Họp triển khai công tác cán bộ',
          Diadiem: 'UBND huyện Long Thành',
          Noidung: 'Công bố Quyết định triển khai công tác cán bộ của Ban Thường vụ Tỉnh ủy',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'UBND huyện Long Thành',
                tenCanBo: 'Dương Minh Dũng',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'UBND huyện Long Thành',
                tenCanBo: 'Nguyễn Thị Thùy Linh',
                vaiTro: 'Khách mời'
              }
            ],
            length: 2
          },
          Loai: {
            name: 'Lịch họp Địa phương',
            color: 'dark',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Dương Minh Dũng',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Dương Minh Dũng',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        },
        {
          DateFrom: '2021-01-21 08:00',
          DateTo: '2021-01-21 11:00',
          Weekday: 'Thứ năm',
          Day: '21',
          DateFromTo: '21/01/2021 08:00 - 11:00',
          DFT: '21/01/2021 - 21/01/2021',
          Chuongtrinh: 'Họp Đảng bộ Sở Y tế',
          Diadiem: 'Hội trường Bệnh viện Nhi đồng tỉnh Đồng Nai',
          Noidung: 'Ban Thường vụ Đảng ủy đã trình bày báo cáo tổng kết công tác xây dựng Đảng, Ủy ban Kiểm tra Đảng ủy báo cáo tổng kết công tác kiểm tra, giám sát; các chi, đảng bộ và đoàn thể báo cáo nhiều tham luận làm rõ nét thêm những nội dung trọng tâm công tác xây dựng Đảng của Đảng bộ Sở Y tế trong năm 2020',
          Thanhphan: {
            thanhphan: [
              {
                tenDonVi: 'Đảng bộ Sở Y tế Đồng Nai',
                tenCanBo: 'Phan Huy Anh Vũ',
                vaiTro: 'Cán bộ chủ trì'
              },
              {
                tenDonVi: 'Đảng bộ Sở Y tế Đồng Nai',
                tenCanBo: 'Lê Quang Trung',
                vaiTro: 'Khách mời'
              },
              {
                tenDonVi: 'Ban Tuyên giáo Đảng uỷ',
                tenCanBo: 'Trần Văn Giới',
                vaiTro: 'Khách mời'
              }
            ],
            length: 3
          },
          Loai: {
            name: 'Lịch họp Tỉnh hủy',
            color: 'warning',
            label: 'Loại'
          },
          Nguoichuchi: {
            name: 'Phan Huy Anh Vũ',
            chucvu: 'Chuyên viên'
          },
          Nguoilienhe: {
            name: 'Phan Huy Anh Vũ',
            phoneCoQuan: '1234567890',
            phoneDiDong: '1234567890'
          },
          Kieu: {
            type: 1,
            link: ''
          },
          File: ''
        }
      ],
      itemcalenders: []
    }
  },
  methods: {
    rowClickHandler (record, index) {
      console.log(record, index, this.$route)
      this.routeCallback(record.ID)
    },
    openDetail (item) {
      this.item_hop = item
    },
    init () {
      var events = Events
      if (events.length > 0) {
        for (var i = 0; i < events.length; i++) {
          events[i].datefromto = moment(events[i].start).format('YYYY/MM/DD HH:mm') + ' - ' + moment(events[i].end).format('HH:mm')
          events[i].tongsonguoithamgia = events[i].attendees.length
        }
      }
      this.itemcalenders = events
    }
  },
  mounted () {
    this.init()
  },
  watch: {
    // bất cứ lúc nào câu hỏi thay đổi, hàm bên dưới sẽ chạy
    dateFrom: function (newQuestion, oldQuestion) {
      var events = Events
      var dateFrom = moment(this.dateFrom)
      var dateTo = moment(this.dateTo)
      var eventsnew = events.filter(x => moment(x.start).isAfter(dateFrom) && moment(x.end).isBefore(dateTo))
      this.itemcalenders = eventsnew
    },
    actiontype: function (newQuestion, oldQuestion) {
      if (this.actiontype === 1) {
        var events = Events
        var dateFrom = moment(this.dateFrom)
        var dateTo = moment(this.dateTo)
        var eventsnew = events.filter(x => moment(x.start).isAfter(dateFrom) && moment(x.end).isBefore(dateTo))
        this.itemcalenders = eventsnew
      } else if (this.actiontype === 3) {
        var eventsau = Events.slice(0, 5)
        this.itemcalenders = eventsau
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  background: var(--iq-light-dark);
  padding: 0.4rem;
}
.t-body-list {
  //justify-content: space-between;
  padding: 0.4rem;
  //opacity: 1;
  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.shorten-text {
  display: -webkit-box !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.heading-list[data-v-b66934dc] {
  text-transform: none;
}
.t-body {
  overflow-x: hidden;
  max-height: 32rem;
  background: white;
}
.table > :not(caption) > * > * {
  padding: 0;
}
</style>
