<template>
  <iq-card>
    <template v-slot:body>
      <div class="iq-todo-page">
        <ul class="list-bao-cao p-0 m-0">
          <li
            v-bind:class="{ active: active == 1 }"
            v-on:click="activeFilter(1)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Cá nhân
              <span class="badge badge-primary ml-auto align-self-center">{{ total.canhan }}</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 2 }"
            v-on:click="activeFilter(2)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Họp khẩn
              <span class="badge badge-secondary ml-auto align-self-center">{{ total.hopkhan }}</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 3 }"
            class=""
            v-on:click="activeFilter(3)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Lịch họp UBND
              <span class="badge badge-danger ml-auto align-self-center">{{ total.ubnd }}</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 4 }"
            class=""
            v-on:click="activeFilter(4)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Lịch họp HĐND
              <span class="badge badge-info ml-auto align-self-center">{{ total.hdnd }}</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 5 }"
            class=""
            v-on:click="activeFilter(5)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Lịch họp Tỉnh ủy
              <span class="badge badge-warning ml-auto align-self-center">{{ total.tinhuy }}</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 6 }"
            class=""
            v-on:click="activeFilter(6)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Lịch họp Sở ban ngành
              <span class="badge badge-success ml-auto align-self-center">{{ total.sobannganh }}</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 7 }"
            class=""
            v-on:click="activeFilter(7)"
          >
            <a href="#" target="_self" class="d-flex">
              <i class="ri-stack-fill"></i>
              Lịch họp Địa phương
              <span class="badge badge-dark ml-auto align-self-center">{{ total.diaphuong }}</span>
            </a>
          </li>
        </ul>
      </div>
    </template>
  </iq-card>
</template>
<script>
export default {
  name: 'ProjectList',
  props: {
    list_item: [],
    total: {}
  },
  data () {
    return {
      active: 1
    }
  },
  methods: {
    activeFilter (action) {
      this.$emit('clickLeftMenu', action)
      this.active = action
    },
    linkBaoCao () {
      window.open(
        'http://ubndtinhdongnai-baocao.chinhquyendientu.vn/dang-nhap',
        '_blank'
      )
    }
  },
  mounted () { }
}
</script>
<style lang="scss" scoped>
.list-bao-cao li:hover a,
.list-bao-cao .active a {
  color: var(--iq-primary);
  background: var(--iq-color-light);
}
</style>
