<template>
  <tab-content>
    <div class="schedule-table">
      <b-table
        hover
        sticky-header
        fixed
        responsive
        :items="workItemFilter"
        :fields="fields"
        class="TinhHuongKhanCap"
        @row-clicked="openDetail"
      >
        <template v-slot:cell(ThanhPhan)="data">
          {{ data.item.ThanhPhan[0].vaiTro }}
        </template>
        <template v-slot:cell(ThoiGian)="data">
          <div>
            {{ data.item.Date.Day}} / {{ data.item.Date.month}} /{{ data.item.Date.year}}
          </div>
          <div>
            {{data.item.Time}}
          </div>
        </template>
        <template v-slot:cell(Loai)="data">
          <b-button pill :variant="data.item.Loai.color">{{
              data.item.Loai.name
            }}</b-button>
        </template>
      </b-table>
    </div>
     <div class="email-app-details"  style="overflow: auto;">
      <b-modal ref="choosen-schedule-detail" hide-footer title="Chi tiết lịch làm việc" size="xl">
        <div class="content-container">
          <div class="title-4 mb-3">{{choosenItems.title}}</div>
          <div>
            <p>
              <img style="margin-right: 10px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/time-icon.0d82b791.svg">
              {{choosenItems.datefromto}}
            </p>
            <p>
              <img style="margin-right: 5px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/pin_drop_24px.144b1bba.svg">
              {{choosenItems.location}}
            </p>
            <p>
              <img style="margin-right: 7px;" src="http://ubndtinhdongnai-htm.chinhquyendientu.vn/img/Group_210.3d635a42.svg">
              <span v-if="choosenItems.type === 1">Họp trực tiếp</span>
              <span v-else>Họp trực tuyến: <a v-bind:href="choosenItems.link" target="_blank">{{choosenItems.link}}</a></span>
            </p>
            <p>
              File đính kèm: <a v-bind:href="choosenItems.file">{{choosenItems.file}}</a>
            </p>
          </div>
          <tab-nav :tabs="true" id="myTab-1">
            <tab-nav-items :active="true" id="thongtin-tab" ariaControls="thongtin" role="tab" :ariaSelected="true" title="Thông tin" />
            <tab-nav-items :active="false" id="chuongtrinhhop-tab" ariaControls="chuongtrinhhop" role="tab" :ariaSelected="false" title="Chương trình họp" />
            <tab-nav-items :active="false" id="moihop-tab" ariaControls="moihop" role="tab" :ariaSelected="false" title="Thành phân tham gia" />
            <tab-nav-items :active="false" id="ketluanhop-tab" ariaControls="ketluanhop" role="tab" :ariaSelected="false" title="Kết luận họp" />
            <tab-nav-items :active="false" id="bieu-quyet-tab" ariaControls="bieu-quyet" role="tab" :ariaSelected="false" title="Biểu quyết" />
          </tab-nav>
          <tab-content id="myTabContent">
            <tab-content-item :active="true" id="thongtin" aria-labelled-by="thongtin-tab">
              <b-row>
                <b-col sm="8">
                  <p>
                    Người chủ trì:
                    {{ choosenItems.info && choosenItems.info.nguoiChuTri ? choosenItems.info.nguoiChuTri : ''}}
                  </p>
                  <p>
                    Tổng số người tham gia:
                    {{ choosenItems.info && choosenItems.info.tongsonguoithamgia ? choosenItems.info.tongsonguoithamgia : '' }}
                  </p>
                </b-col>
                <b-col sm="4">
                  <p>Thông tin liên hệ:</p>
                  <p>
                    Họ tên:
                    {{ choosenItems.info && choosenItems.info.name ? choosenItems.info.name : '' }}
                  </p>
                  <p>
                    Số ĐT cơ quan:
                    {{ choosenItems.info && choosenItems.info.name ? choosenItems.info.phone : '' }}
                  </p>
                  <p>
                    Số ĐTDĐ:
                    {{ choosenItems.info && choosenItems.info.telephone ? choosenItems.info.telephone : '' }}
                  </p>
                </b-col>
              </b-row>
            </tab-content-item>
            <tab-content-item :active="false" id="chuongtrinhhop" aria-labelled-by="chuongtrinhhop-tab">
              <p>Chương trình họp</p>
            </tab-content-item>
            <tab-content-item :active="false" id="moihop" aria-labelled-by="moihop-tab">
              <div class="table-responsive">
                <table role="table" aria-busy="false" aria-colcount="4" class="table b-table text-dark-blue table-bordered" id="__BVID__173"><!----><!---->
                  <thead role="rowgroup" class="text-uppercase text-center">
                  <tr role="row" class="">
                    <th role="columnheader" scope="col" aria-colindex="1" class=""><div>STT</div></th>
                    <th role="columnheader" scope="col" aria-colindex="2" class=""><div>Tên đơn vị</div></th>
                    <th role="columnheader" scope="col" aria-colindex="3" class=""><div>Tên cán bộ</div></th>
                    <th role="columnheader" scope="col" aria-colindex="4" class=""><div>Vai trò</div></th>
                  </tr>
                  </thead>
                  <tbody role="rowgroup">
                  <tr role="row" class="" v-for="(item, index) in choosenItems.attendees" :key="index">
                    <td aria-colindex="1" role="cell" class="text-center">{{index + 1}}</td>
                    <td aria-colindex="2" role="cell" class="mw-300p">{{item.tenDonVi}}</td>
                    <td aria-colindex="3" role="cell" class="">{{item.tenCanBo}}</td>
                    <td v-if="item.type === 1" aria-colindex="4" role="cell" class="">Người chủ trì</td>
                    <td v-else aria-colindex="4" role="cell" class="">Khách mời</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </tab-content-item>
            <tab-content-item :active="false" id="ketluanhop" aria-labelled-by="ketluanhop-tab">
              <p>Biên bản họp</p>
            </tab-content-item>
            <tab-content-item :active="false" id="bieu-quyet" aria-labelled-by="bieu-quyet-tab">
            </tab-content-item>
          </tab-content>
        </div>
      </b-modal>
    </div>
  </tab-content>
</template>
<script>
export default {
  name: 'DanhSachBaoCao',
  data () {
    return {
      active: false,
      choosenItems: {},
      myDate: {},
      roler: {},
      fields: [
        {
          key: 'ThoiGian',
          label: 'Thời gian'
        },
        {
          key: 'NoiDung',
          label: 'Nội dung'
        },
        {
          key: 'ThanhPhan',
          label: 'Thành phần'
        },
        {
          key: 'Loai',
          label: 'Loại'
        }
      ]
    }
  },
  props: {
    workItemFilter: {
      type: Array,
      default () {
        return []
      }
    }
  },
  watch: {
  },
  mounted () {
  },
  methods: {
    rowClickHandler (record, index) {
      this.routeCallback(record.ID)
    },
    openDetail (item) {
      this.active = true
      this.choosenItems = item.ChiTiet
      this.myDate = this.choosenItems.datefromto
      this.$refs['choosen-schedule-detail'].show()
    },
    closeDetail (item) {
      this.active = false
    }
  }
}
</script>
<style lang="scss" scoped>
.schedule-table{
  margin-top:7px;
  max-height: 700px;
  overflow-x: hidden;
}
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  //background: var(--iq-light-dark);
  padding: 0.4rem;
}
.t-body-list {
  //justify-content: space-between;
  //background: #fff;
  padding: 0.4rem;
  //opacity: 1;

  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.shorten-text {
  display: -webkit-box !important;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
</style>
