<template>
  <b-container fluid>
    <b-row>
      <b-col lg="3">
        <ProjectList
          :itemcalenders="itemcalenders"
          :total="total"
          @clickLeftMenu="clickLeftMenu"
        />
      </b-col>
      <b-col lg="9">
        <BaoCaoThongKe
          :itemcalenders="itemcalenders"
          :actiontype="request.type"
          @changeDateFromTo="changeDateFromTo"
        />
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../config/pluginInit'
import ProjectList from '../Meeting/ProjectList'
import BaoCao from '../../../store/BaoCao'
import BaoCaoThongKe from '../Meeting/BaoCaoThongKe'
import { Events } from '../../../FackApi/api/meeting'
import moment from 'moment'
export default {
  name: 'TodoListing',
  components: { ProjectList, BaoCaoThongKe },
  data () {
    return {
      request: {
        dateFrom: {},
        dateTo: {},
        type: 0
      },
      itemcalenders: [],
      total: {
        canhan: 2,
        hopkhan: 0,
        ubnd: 7,
        hdnd: 5,
        tinhuy: 4,
        sobannganh: 15,
        diaphuong: 10
      }
    }
  },
  beforeMount () {
    this.$store.registerModule('BaoCao', BaoCao)
  },
  beforeDestroy () {
    this.$store.unregisterModule('BaoCao')
  },
  mounted () {
    core.index()
    this.init()
  },
  methods: {
    changeDateFromTo (datefrom, dateto, typetime) {
      this.request.dateFrom = datefrom
      this.request.dateTo = dateto
      this.init()
      if (typetime === 1) {
        this.total = {
          canhan: 2,
          hopkhan: 0,
          ubnd: 7,
          hdnd: 4,
          tinhuy: 4,
          sobannganh: 15,
          diaphuong: 10
        }
      }
      if (typetime === 2) {
        this.total = {
          canhan: 4,
          hopkhan: 3,
          ubnd: 15,
          hdnd: 10,
          tinhuy: 8,
          sobannganh: 35,
          diaphuong: 21
        }
      }
      if (typetime === 3) {
        this.total = {
          canhan: 8,
          hopkhan: 10,
          ubnd: 30,
          hdnd: 15,
          tinhuy: 12,
          sobannganh: 55,
          diaphuong: 40
        }
      }
    },
    clickLeftMenu (action) {
      this.request.type = action
      this.init()
    },
    init () {
      var events = Events
      var dateFrom = this.request.dateFrom
      var dateTo = this.request.dateTo
      var eventsnew = events.filter(x => moment(x.start).isAfter(dateFrom) && moment(x.end).isBefore(dateTo))
      this.itemcalenders = eventsnew
    }
  }
}
</script>
