<template>
  <iq-card>
    <div class="iq-card-body">
      <b-container v-if="!isDetail">
        <b-row v-if="!titles.title">
          <b-col lg="6" md="6">
            <iq-card class="overflow-box-thong-ke">
              <template v-slot:body>
                <div
                  class="d-flex align-items-center justify-content-between text-right "
                >
                  <div>
                    <h5 class="mb-0 fz-20">
                      <span style="color:#3192d3"> 751 </span
                      ><span style="font-weight:700">Văn bản đến</span>
                    </h5>
                    <b-progress class="mt-2" :max="max" show-value>
                      <b-progress-bar
                        :value="20"
                        :style="{ 'background-color': 'rgb(0, 52, 255)' }"
                        ><p @click="showhoanthanh(0)" class="process-nava">
                          20
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="40"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                        ><p @click="showhoanthanh(0)" class="process-nava">
                          40
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="180"
                        :style="{ 'background-color': 'rgb(139, 77, 180)' }"
                        ><p @click="showhoanthanh(1)" class="process-nava">
                          180
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(155, 121, 56)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(229, 245, 47)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="220"
                        :style="{ 'background-color': 'rgb(89, 198, 250)' }"
                        ><p @click="showhoanthanh(2)" class="process-nava">
                          220
                        </p></b-progress-bar
                      >
                    </b-progress>
                  </div>
                </div>
              </template>
              <div data-v-289a4922="" class="row mx-0 progress-tac-vu-1">
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(0, 52, 255);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ vào sổ</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(82, 82, 212);"
                  ></span
                  ><span data-v-289a4922="" class="size-14"
                    >Chờ phân xử lý</span
                  >
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(139, 77, 180);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(89, 198, 250);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Đang xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span data-v-289a4922=""></span
                  ><span data-v-289a4922="" class="size-14"></span>
                </div>
              </div>
            </iq-card>
          </b-col>
          <Process
            :titles="{ title: 'vanbanden' }"
            @showPowerKpi="showPowerKpi"
          />
          <b-col lg="6" md="6">
            <iq-card class="overflow-box-thong-ke">
              <template v-slot:body>
                <div
                  class="d-flex align-items-center justify-content-between text-right"
                >
                  <div>
                    <h5 class="mb-0 fz-20">
                      <span style="color:#3192d3"> 499 </span
                      ><span style="font-weight:700">Văn bản đi</span>
                    </h5>
                    <b-progress class="mt-2" :max="max" show-value>
                      <b-progress-bar
                        :value="26"
                        :style="{ 'background-color': 'rgb(0, 52, 255)' }"
                        ><p @click="showhoanthanh(0)" class="process-nava">
                          26
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="60"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                        ><p @click="showhoanthanh(0)" class="process-nava">
                          60
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="30"
                        :style="{ 'background-color': 'rgb(139, 77, 180)' }"
                        ><p @click="showhoanthanh(1)" class="process-nava">
                          30
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="15"
                        :style="{ 'background-color': 'rgb(89, 198, 250)' }"
                        ><p @click="showhoanthanh(2)" class="process-nava">
                          15
                        </p></b-progress-bar
                      >
                    </b-progress>
                  </div>
                </div>
              </template>
              <div data-v-289a4922="" class="row mx-0 progress-tac-vu-1">
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(0, 52, 255);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ trình ký</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(82, 82, 212);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(139, 77, 180);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ cấp số</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(89, 198, 250);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ ban hành</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span data-v-289a4922=""></span
                  ><span data-v-289a4922="" class="size-14"></span>
                </div>
              </div>
            </iq-card>
          </b-col>
          <Process
            :titles="{ title: 'vanbandi' }"
            @showPowerKpi="showPowerKpi"
          />
        </b-row>
        <b-row v-else>
          <b-col lg="6" md="6" v-if="titles.title == 'vanbanden'">
            <iq-card class="overflow-box-thong-ke">
              <template v-slot:body>
                <div
                  class="d-flex align-items-center justify-content-between text-right"
                >
                  <div>
                    <h5 class="mb-0 fz-20">
                      <span style="color:#3192d3"> 751 </span
                      ><span style="font-weight:700">Văn bản đến </span>
                    </h5>
                    <b-progress class="mt-2" :max="max" show-value>
                      <b-progress-bar
                        :value="20"
                        :style="{ 'background-color': 'rgb(0, 52, 255)' }"
                        ><p
                          @click="showhoanthanh(0)"
                          class="process-nava"
                          v-if="titles.nameden == 'Chờ vào sổ'"
                        >
                          {{ titles.total }}
                        </p>
                        <p
                          @click="showhoanthanh(0)"
                          class="process-nava"
                          v-else
                        >
                          20
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="40"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                        ><p
                          @click="showhoanthanh(0)"
                          class="process-nava"
                          v-if="titles.nameden == 'Chờ phân xử lý'"
                        >
                          {{ titles.total }}
                        </p>
                        <p
                          @click="showhoanthanh(0)"
                          class="process-nava"
                          v-else
                        >
                          40
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="180"
                        :style="{ 'background-color': 'rgb(139, 77, 180)' }"
                        ><p
                          @click="showhoanthanh(1)"
                          class="process-nava"
                          v-if="titles.nameden == 'Chờ xử lý '"
                        >
                          {{ titles.total }}
                        </p>
                        <p
                          @click="showhoanthanh(1)"
                          class="process-nava"
                          v-else
                        >
                          180
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(155, 121, 56)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(229, 245, 47)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="220"
                        :style="{ 'background-color': 'rgb(89, 198, 250)' }"
                        ><p
                          @click="showhoanthanh(2)"
                          class="process-nava"
                          v-if="titles.nameden == 'Đang xử lý'"
                        >
                          {{ titles.total }}
                        </p>
                        <p
                          @click="showhoanthanh(2)"
                          class="process-nava"
                          v-else
                        >
                          220
                        </p></b-progress-bar
                      >
                    </b-progress>
                  </div>
                </div>
              </template>
              <div data-v-289a4922="" class="row mx-0 progress-tac-vu-1">
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(0, 52, 255);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ vào sổ</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(82, 82, 212);"
                  ></span
                  ><span data-v-289a4922="" class="size-14"
                    >Chờ phân xử lý</span
                  >
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(139, 77, 180);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(89, 198, 250);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Đang xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span data-v-289a4922=""></span
                  ><span data-v-289a4922="" class="size-14"></span>
                </div>
              </div>
            </iq-card>
          </b-col>
          <b-col lg="6" md="6" v-else>
            <iq-card>
              <template v-slot:body>
                <div
                  class="d-flex align-items-center justify-content-between text-right"
                >
                  <div>
                    <h5 class="mb-0 fz-20">
                      <span style="color:#3192d3"> 499 </span
                      ><span style="font-weight:700">Văn bản đi </span>
                    </h5>
                    <b-progress class="mt-2" :max="max" show-value>
                      <b-progress-bar
                        :value="26"
                        :style="{ 'background-color': 'rgb(0, 52, 255)' }"
                        ><p @click="showhoanthanh(0)" class="process-nava">
                          26
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="60"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                        ><p @click="showhoanthanh(0)" class="process-nava">
                          60
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="max * (0 / 10)"
                        :style="{ 'background-color': 'rgb(82, 82, 212)' }"
                      ></b-progress-bar>
                      <b-progress-bar
                        :value="30"
                        :style="{ 'background-color': 'rgb(139, 77, 180)' }"
                        ><p @click="showhoanthanh(1)" class="process-nava">
                          30
                        </p></b-progress-bar
                      >
                      <b-progress-bar
                        :value="15"
                        :style="{ 'background-color': 'rgb(89, 198, 250)' }"
                        ><p @click="showhoanthanh(2)" class="process-nava">
                          15
                        </p></b-progress-bar
                      >
                    </b-progress>
                  </div>
                </div>
              </template>
              <div data-v-289a4922="" class="row mx-0 progress-tac-vu-1">
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(0, 52, 255);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ vào sổ</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(82, 82, 212);"
                  ></span
                  ><span data-v-289a4922="" class="size-14"
                    >Chờ phân xử lý</span
                  >
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(139, 77, 180);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Chờ xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span
                    data-v-289a4922=""
                    style="width: 15px; height: 15px; display: inline-block; margin: -2px 5px; background: rgb(89, 198, 250);"
                  ></span
                  ><span data-v-289a4922="" class="size-14">Đang xử lý</span>
                </div>
                <div
                  data-v-289a4922=""
                  class="px-0 mb-1 col-sm-12 col-lg-12 col-xl-6"
                >
                  <span data-v-289a4922=""></span
                  ><span data-v-289a4922="" class="size-14"></span>
                </div>
              </div>
            </iq-card>
          </b-col>
          <Process :titles="titles"  />
        </b-row>
        <TableList
          :routeCallback="showBaoCaoDetail"
          :titles="titles"
          :id="id"
        />
      </b-container>
      <!-- <b-container v-else>

      </b-container> -->
    </div>
  </iq-card>
</template>
<script>
import TableList from './TableList'
import Process from './Process'
export default {
  name: 'BaoCaoThongKe',
  components: { TableList, Process },
  props: {
    titles: Object,
    id: Number
  },
  data () {
    return {
      isDetail: false,
      value: 45,
      max: 100
    }
  },
  methods: {
    showBaoCaoDetail (ID) {
      this.isDetail = true
    },
    randomValue () {
      this.value = Math.random() * this.max
    },
    showhoanthanh (id) {
      this.$emit('showdata', id)
    },
    showPowerKpi (e) {
      this.$emit('showPowerKpi', true)
    }
  }
}
</script>
<style scoped>
.d-flex.align-items-center.justify-content-between.text-right {
  position: relative;
}
.progress.mt-2 {
  height: 30px;
  position: absolute;
  width: 100%;
}
.row.mx-0.progress-tac-vu-1 {
  padding-top: 42px;
  margin: 0 auto;
  padding-left: 17px;
}
p.process-nava {
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 0 auto;
  padding-top: 3px;
  cursor: pointer;
}
.overflow-box-thong-ke {
  height: 185px;
  overflow: auto;
}
</style>
