<template>
  <div class="iq-card">
    <div class="iq-card-body p-0">
      <div class="">
        <div class="iq-email-to-list p-3">
          <div class="d-flex justify-content-between">
            <ul>
              <li class="mr-3">
                <a href="javascript: void(0);" @click="closeDetail(item)">
                  <h4 class="m-0"><i class="ri-arrow-left-line" /></h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr class="mt-0" />
        <div class="iq-inbox-subject p-3">
          <ChiTietQLVB :chiTietVanBan="chiTietVanBan"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ChiTietQLVB from './ChiTietQLVB'
export default {
  name: 'BaoCaoChiTiet',
  components: {
    ChiTietQLVB
  },
  props: {
    chiTietVanBan: {
      type: Object
    }
  },
  methods: {
    closeDetail () {
      this.$emit('closeDetail')
    }
  }
}
</script>
<style lang="scss" scoped>
.baocao-iframe {
  position: relative;
  .baocao-iframe-options {
    position: absolute;
    top: 0;
    right: 1.5rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  iframe {
    width: 100%;
    height: 600px;
  }
}
</style>
