<template>
  <div>
    <iq-card class="p-3 chi-tiet-nhiem-vu">
      <div class="form-title">Thông tin chung về văn bản</div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Đơn vị soạn thảo  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.donViSoanThao }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Người soạn thảo  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.nguoiSoanThao }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Loại văn bản  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.loaiVanBan }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Ký hiệu  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.kyHieu }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Trích yếu  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.trichYeu }}
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-4">
          <div class="thong-tin-chung">
            <span>Ngày hạn xử lý  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.ngayHanXuLy }}
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="form-title">Đơn vị trong hệ thống</div>
          <b-table
            hover
            responsive
            :items="chiTietVanBan.donViTrongHeThong"
            :fields="fieldsDonViTrongHeThong"
            class="mb-0 table-borderless cs-table"
          >
            <template v-slot:cell(phaiGuiBanGiay)="row">
              <b-checkbox v-modal="row.item.phaiGuiBanGiay" />
            </template>
          </b-table>
        </div>
        <div class="col-12 mt-4">
          <div class="form-title">Đơn vị ngoài hệ thống</div>
          <b-table
            hover
            responsive
            :items="chiTietVanBan.donViNgoaiHeThong"
            :fields="fieldsDonViNgoaiHeThong"
            class="mb-0 table-borderless cs-table"
          >
            <template v-slot:cell(phaiGuiBanGiay)="row">
              <b-checkbox v-modal="row.item.phaiGuiBanGiay" />
            </template>
          </b-table>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Số bản  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.soBan }}
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 mt-4">
          <div class="thong-tin-chung">
            <span>Độ khẩn  : </span>
            <div class="noi-dung">
              {{ chiTietVanBan.doKhan }}
            </div>
          </div>
        </div>
        <div class="col-4 mt-4">
          <div class="thong-tin-chung">
            <span>Văn bản trả lời  : </span>
            <b-checkbox v-modal="chiTietVanBan.isVanBanTraLoi" />
          </div>
        </div>
        <div class="col-4 mt-4">
          <div class="thong-tin-chung">
            <span>Văn bản QPPL : </span>
            <b-checkbox v-modal="chiTietVanBan.isVanBanQPPL" />
          </div>
        </div>
        <div class="col-4 mt-4">
          <div class="thong-tin-chung">
            <span>Văn bản chỉ đạo  : </span>
            <b-checkbox v-modal="chiTietVanBan.isVanBanChiDao" />
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="form-title">Người the dõi văn bản</div>
          <b-table
            hover
            responsive
            :items="chiTietVanBan.nguoiTheoDoiVanBan"
            :fields="fieldsNguoiTheoDoiVanBan"
            class="mb-0 table-borderless cs-table"
          >
          </b-table>
        </div>
        <div class="col-12 mt-4">
          <div class="form-title">Thông tin ký duyệt</div>
          <b-table
            hover
            responsive
            :items="chiTietVanBan.thongTinKyDuyet"
            :fields="fieldsThongTinKyDuyet"
            class="mb-0 table-borderless cs-table"
          >
          </b-table>
        </div>
        <div class="col-12 mt-4">
          <div class="form-title">Tệp đính kèm</div>
          <b-table
            hover
            responsive
            :items="chiTietVanBan.tepDinhKem"
            :fields="fieldsTepDinhKem"
            class="mb-0 table-borderless cs-table"
          >
          </b-table>
        </div>
      </div>
    </iq-card>
  </div>
</template>
<script>

import { mapActions } from 'vuex'

export default {
  name: 'ChiTietQLVB',
  props: {
    chiTietVanBan: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  components: {
  },
  data () {
    return {
      fieldsVBLQ: [
        {
          key: 'SoKyHieu',
          label: 'Số/ Ký hiệu'
        },
        {
          key: 'NgayVanBan',
          label: 'Ngày văn bản'
        },
        {
          key: 'TrichYeu',
          label: 'Trích yếu'
        },
        {
          key: 'File',
          label: 'File đính kèm'
        }
      ],
      fieldsCongViec: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'NguoiXuLy',
          label: 'Người xử lý'
        },
        {
          key: 'DonViXuLy',
          label: 'Đơn vị xử lý'
        },
        {
          key: 'HanXuLy',
          label: 'Hạn xử lý'
        },
        {
          key: 'NoiDungCongViec',
          label: 'Nội dung công việc'
        },
        {
          key: 'NguoiGiaoCongViec',
          label: 'Người giao công việc'
        }
      ],
      fieldsLsPhanXuLy: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'NguoiGui',
          label: 'Người gửi'
        },
        {
          key: 'ThoiGian',
          label: 'Thời gian'
        },
        {
          key: 'NguoiNhan',
          label: 'Người nhận'
        },
        {
          key: 'DonViNhan',
          label: 'Đơn vị nhận'
        },
        {
          key: 'VaiTroXuLy',
          label: 'Vai trò xử lý'
        }
      ],
      fieldsNguoiTheoDoiVanBan: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'hoTen',
          label: 'Họ và tên'
        },
        {
          key: 'donVi',
          label: 'Đơn vị'
        },
        {
          key: 'vaiTro',
          label: 'Vai trò'
        },
        {
          key: 'banHanh',
          label: 'Ban hành'
        }
      ],
      fieldsDonViNgoaiHeThong: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'hoTen',
          label: 'Tên đơn vị nhận'
        },
        {
          key: 'trangThai',
          label: 'Trạng thái'
        },
        {
          key: 'phaiGuiBanGiay',
          label: 'Phải gửi bản giấy'
        }
      ],
      fieldsDonViTrongHeThong: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'hoTen',
          label: 'Tên đơn vị nhận'
        },
        {
          key: 'phaiGuiBanGiay',
          label: 'Phải gửi bản giấy'
        }
      ],
      fieldsThongTinKyDuyet: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'hoTen',
          label: 'Họ và tên'
        },
        {
          key: 'NguoiNhan',
          label: 'Đơn vị'
        },
        {
          key: 'NguoiNhan',
          label: 'Vai trò'
        },
        {
          key: 'NguoiNhan',
          label: 'Ban hành'
        }
      ],
      fieldsTepDinhKem: [
        {
          key: 'STT',
          label: 'STT'
        },
        {
          key: 'tenTep',
          label: 'Tên tệp'
        },
        {
          key: 'NguoiNhan',
          label: 'Đơn vị nhận'
        },
        {
          key: 'xem',
          label: 'Xem'
        },
        {
          key: 'kyso',
          label: 'Ký số'
        }
      ]
    }
  },
  computed: {

  },
  methods: {
    ...mapActions({
      setIsShowDetail: 'qlnv/setIsShowDetail'
    }),
    onBack () {
      this.setIsShowDetail(false)
    }
  }
}
</script>
<style lang="scss">
  .van-ban-lien-quan-tieu-de {
    color: #e73a0a;
    text-decoration: underline;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    margin-left: 10px;
  }
  .cs-table {
    font-size: 14px;
    color: #000;
  }
  .chi-tiet-nhiem-vu {
    .chi-tiet-nhiem-vu-top {
      display: flex;
    }
    .form-title {
      font-size: 18px;
      font-weight: 600;
    }
    .thong-tin-chung {
      display: flex;
      & span {
        width: 150px;
        max-width: 150px;
        flex: 0 0 auto;
        & strong {
          margin-left: 2px;
          color: red;
        }
      }
      .noi-dung {
        font-weight: 500;
      }
    }
    .hoat-dong {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      & span {
        margin-right: 7px;
        cursor: pointer;
        color: #168894;

        &:hover {
          color: #1f6569;
        }
      }
    }
    .luu-van-ban {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .color-file {
      color: #aba8a8;
    }
  }
</style>
