<template>
  <b-container fluid>
    <b-row>
      <b-col lg="3">
        <ProjectList @title="title" @showPowerKpi="showPowerKpi" />
      </b-col>
      <b-col lg="9" v-if="!showPower">
        <BaoCaoVanBan
          :titles="titles"
          @showdata="showdata"
          :id="id"
          @showPowerKpi="showPowerKpi"
        />
      </b-col>
      <b-col lg="9" v-else>
        <iq-card>
          <div class="outer">
            <iframe
              src="https://app.powerbi.com/view?r=eyJrIjoiZjIxYjFjNGYtZTBkMy00YWYyLThhYzYtOWZkNTBlNTZlZWViIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D&pageName=ReportSection86de30f63abab97d89ca"
              class="inner wraper-iframe"
            >
            </iframe>
          </div>
        </iq-card>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import ProjectList from './ProjectList'
import BaoCaoVanBan from './BaoCaoVanBan'
export default {
  name: 'DanhSachVanBan',
  components: { ProjectList, BaoCaoVanBan },
  data () {
    return {
      titles: '',
      id: 4,
      showPower: false
    }
  },
  methods: {
    title (e) {
      this.titles = e
    },
    showdata (e) {
      this.id = e
    },
    showPowerKpi (e) {
      this.showPower = e
    }
  }
}
</script>
<style scoped>
.outer {
  position: relative;
}
.outer > .inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.wraper-iframe {
    height: 100%;
    width: 100%;
}
</style>
