<template>
  <b-col lg="6" md="6" @click="showPowerKpi">
    <iq-card class="p-3 overflow-box-thong-ke">
      <div class="progress-list">
        <div class="mb-1">
          <span class="thong-tin" v-if="titles.title != 'vanbandi'">
            Văn bản đến - Thống kê văn bản chưa hoàn thành của đơn vị
          </span>
          <span class="thong-tin" v-else>
            Văn bản đi - Thống kê văn bản chưa hoàn thành của đơn vị
          </span>
        </div>
        <b-row class="mb-2" v-for="(data, index) in dataNhiemVu" :key="index">
          <b-col xl="4" sm="6">{{ data.name }}</b-col>
          <b-col xl="8" sm="6">
            <b-progress
              class="height-30"
              :value="data.value"
              :max="100"
              variant="danger"
              show-value
            ></b-progress>
          </b-col>
        </b-row>
      </div>
    </iq-card>
  </b-col>
</template>

<script>
export default {
  props: {
    titles: Object
  },
  data () {
    return {
      isDetail: false,
      danhSachLoaiNhiemVu: {
        TrangThai: [
          {
            GiaTri: 'chua-thuc-hien',
            Id: '4256c859-be11-4df1-8492-5ac9d63de7a9',
            IsDonVi: null,
            Text: 'Đã xử lý',
            TypeCode: 'NHIEM_VU',
            Value: 8
          },
          {
            GiaTri: 'cho-phan-xu-ly',
            Id: '3ef7dda1-0745-42dd-8252-1a8cdff9c2ba',
            IsDonVi: null,
            Text: 'Chờ xử lý',
            TypeCode: 'NHIEM_VU',
            Value: 0
          },
          {
            GiaTri: 'dang-thuc-hien',
            Id: 'd97c28f7-a72e-4779-9e12-592830a91ef9',
            IsDonVi: null,
            Text: 'Đang xử lý',
            TypeCode: 'NHIEM_VU',
            Value: 17
          }
        ],
        TrangThaiXuLy: [
          {
            GiaTri: 'qua-han',
            Id: null,
            IsDonVi: null,
            Text: 'Quá hạn',
            TypeCode: '0',
            Value: 0
          },
          {
            GiaTri: 'den-han',
            Id: null,
            IsDonVi: null,
            Text: 'Đến hạn',
            TypeCode: '0',
            Value: 23
          },
          {
            GiaTri: 'trong-han',
            Id: null,
            IsDonVi: null,
            Text: 'Trong hạn',
            TypeCode: '0',
            Value: 14
          }
        ]
      },
      dataNhiemVu: [
        {
          name: 'Sở Tài chính',
          value: 25
        },
        {
          name: 'Sở Kế hoạch và Đầu tư',
          value: 12
        },
        {
          name: 'Sở Nông nghiệp và Phát triển Nông thôn',
          value: 19
        },
        {
          name: 'Sở Công thương',
          value: 19
        },
        {
          name: 'Sở Xây dựng',
          value: 30
        },
        {
          name: 'Sở Giao thông vận tải',
          value: 12
        },
        {
          name: 'Sở Tài nguyên và Môi trường',
          value: 21
        },
        {
          name: 'Sở Khoa học và Công nghệ',
          value: 9
        },
        {
          name: 'Sở Giáo dục và Đào tạo',
          value: 7
        },
        {
          name: 'Sở Y tế',
          value: 30
        },
        {
          name: 'Sở Văn hóa, Thể thao và Du lịch',
          value: 45
        },
        {
          name: 'Sở Lao động - Thương binh và Xã hội',
          value: 9
        },
        {
          name: 'Sở Tư pháp',
          value: 27
        },
        {
          name: 'Sở Thông tin và Truyền thông',
          value: 29
        },
        {
          name: 'Sở Nội vụ',
          value: 19
        },
        {
          name: 'Sở Ngoại vụ',
          value: 20
        },
        {
          name: 'Thanh tra tỉnh',
          value: 69
        },
        {
          name: 'Ban quản lý khu công nghệ cao',
          value: 19
        },
        {
          name: 'Ban quản lý các khu công nghiệp Đồng Nai',
          value: 12
        },
        {
          name: 'Ban Dân tộc',
          value: 19
        }
      ]
    }
  },
  methods: {
    showBaoCaoDetail (ID) {
      this.isDetail = true
      console.log(ID)
    },
    progress () {
      if (!this.danhSachLoaiNhiemVu) {
        return
      }
      let item = null
      this.danhSachLoaiNhiemVu.TrangThai.forEach(items => {
        item += parseInt(items.Value)
      })
      return item
    },
    showPowerKpi () {
      this.$emit('showPowerKpi', true)
    }
  }
}
</script>

<style lang="scss" scoped>
.height-30 {
  height: 30px;
}
$color-primary: #44afbe;
$color-secondary: #2c3374;
$color-gray: #c9e4ea;

$color-primary-hover: #138496;

$color-bg-menu-left: #006e80;

$color-orange: #e7843f;
$color-orange-1: #f2994a;
$color-red: #e73a0a;

$mau-chua-phan-xu-ly: #5252d4;
$mau-chua-thuc-hien: #8b4db4;
$mau-dang-thuc-hien: #59c6fa;
$mau-thu-hoi: #9b7938;
$mau-tra-lai: #e5f52f;
$mau-da-hoan-thanh: #42b432;
$mau-qua-han: #d9001b;
$mau-den-han: #f59a23;
$mau-trong-han: #000000;
$mau-phoi-hop: #b16a6a;
$mau-nhan-de-biet: #000000;
$mau-chu-tri: #00ffca;
$mau-cho-vao-so: #0034ff;
$mau-cho-phan-xu-ly: #ff0000;

.thong-tin {
  font-size: 18px;
  font-weight: bold;
}

.gap {
  background-color: $mau-cho-phan-xu-ly !important;
}

.quan-trong {
  background-color: $color-orange !important;
}

.binh-thuong {
  background-color: $mau-da-hoan-thanh !important;
}

.overview-nhiem-vu {
  .couter {
    &:hover {
      color: $color-primary-hover;
    }
  }
  .block-menu {
    right: 24px;
    z-index: 2;
    bottom: -14px;
    & svg {
      color: #1a62b3;
      font-size: 35px;
    }
  }

  .highcharts-series.highcharts-series-0.highcharts-pie-series.highcharts-tracker {
    cursor: pointer;
  }
  .progress-bar:nth-child(3),
  .dang-thuc-hien {
    background: $mau-dang-thuc-hien !important;
  }
  .progress-bar:nth-child(4),
  .da-hoan-thanh {
    background: $mau-da-hoan-thanh !important;
  }
  .progress-bar:nth-child(2),
  .chua-thuc-hien {
    background: $mau-chua-thuc-hien !important;
  }
  .progress-bar:nth-child(5),
  .tra-lai {
    background: $mau-tra-lai !important;
    color: #4b4b4b !important;
  }
  .progress-bar:nth-child(6),
  .thu-hoi {
    background: $mau-thu-hoi !important;
  }
  .progress-bar:nth-child(1),
  .cho-phan-xu-ly {
    background: $mau-chua-phan-xu-ly !important;
  }
  .progress-muc {
    margin: 5px 0;
    flex: 33.333% 0 0;
    max-width: 33.333%;
  }
  .cho-phan-xu-ly,
  .chua-thuc-hien,
  .dang-thuc-hien,
  .da-hoan-thanh,
  .tra-lai,
  .thu-hoi {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: -2px 5px;
  }
  .progress-list {
    height: 100%;

    .thong-tin {
      font-size: 18px;
      font-weight: bold;

      & strong {
        color: #000;
        font-size: 22px;
        margin-left: 7px;
      }
    }
  }
  .progress {
    height: 30px;
  }
  .nut-progress-bar {
    width: 100%;
    text-align: center;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;

    &:hover {
      color: $color-primary-hover;
    }
  }
  .progress-tac-vu-1,
  .progress-tac-vu-2 {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .progress-tac-vu-item {
      margin: 0 10px;
      font-size: 14px;
    }
  }
  .progress-tac-vu-2 {
    .progress-tac-vu-item {
      margin-top: 15px;
      font-size: 16px;
    }
  }
  .qua-han {
    color: $mau-qua-han;
    margin-right: 10px;
    &:hover {
      color: $color-primary-hover;
    }
  }
  .den-han {
    color: $mau-den-han;
    margin-right: 10px;
    &:hover {
      color: $color-primary-hover;
    }
  }
  .trong-han {
    color: $mau-trong-han;
    margin-right: 10px;
    &:hover {
      color: $color-primary-hover;
    }
  }
}
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  background: var(--iq-light-dark);
  padding: 0.4rem;
}
.t-body {
  overflow-x: hidden;
  max-height: 32rem;
}
.t-body-list {
  //justify-content: space-between;
  padding: 0.4rem;
  //opacity: 1;
  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.table-b-table-default {
  background: var(--iq-light-border) !important;
  color: #212529 !important;
}

.cs-table {
  font-size: 14px;
  color: #000;
}

.progress-bar {
  align-items: center;
}

.overflow-box-thong-ke {
  height: 185px;
  overflow: auto;
}
</style>
