<template>
  <div>
    <iq-card>
      <template v-slot:body style="cursor: pointer">
        <!-- <h5
          @click="changetitles"
        >
          Tổng quan
        </h5>
        <div class="iq-todo-page mt-2">
          <ul class="list-bao-cao p-0 m-0">
            <li style="cursor: pointer">
              <a class="cs-category">
                Văn bản đến
                <i class="ri-arrow-right-s-line iq-arrow-right" style="transform: rotate(92deg);float: right;" @click="ul1 = !ul1"><span class="ripple rippleEffect"></span></i>
              </a>
            </li>
            <li
              v-show="ul1"
              v-for="(vanban, index) in vanBanDen"
              :key="index"
              :class="{ active: nameden == vanban.name }"
              @click="actives(vanban.name, (title = 'vanbanden'), vanban.total)"
            >
              <a href="#" target="_self" class="">
                <i :class="`${vanban.icon}`" class="mr-2"></i>
                {{ vanban.name }}
                <span class="badge badge-info ml-2 float-right">{{
                  vanban.total
                }}</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="iq-todo-page mt-3">
          <ul class="list-bao-cao p-0 m-0" style="cursor: pointer">
            <li style="cursor: pointer">
              <a href="#" target="_self" class="cs-category">
                Văn bản đi
                <i class="ri-arrow-right-s-line iq-arrow-right" style="transform: rotate(92deg);float: right;" @click="ul2 = !ul2"><span class="ripple rippleEffect"></span></i>
              </a>
            </li>
            <li
              v-show="ul2"
              v-for="(vanban, index) in vanBanDi"
              :key="index"
              v-bind:class="{ active: nameden == vanban.name }"
              @click="actives(vanban.name, (title = 'vanbandi'), vanban.total)"
            >
              <a href="#" target="_self" class="">
                <i :class="`${vanban.icon}`" class="mr-2"></i>
                {{ vanban.name }}
                <span class="badge badge-info ml-2 float-right">{{
                  vanban.total
                }}</span>
              </a>
            </li>
          </ul>
        </div> -->
        <div data-v-49ba33e0="" class="iq-todo-page">
          <ul data-v-49ba33e0="" class="list-bao-cao p-0 m-0">
            <li data-v-49ba33e0="">
              <a data-v-49ba33e0="" href="#" target="_self" class="active" @click="changetitles"
                ><i data-v-49ba33e0="" class="ri-stack-fill mr-2"></i> Tổng quan
                </a
              ><!---->
            </li>
            <li data-v-49ba33e0="">
              <a data-v-49ba33e0="" href="#" target="_self" class="d-flex cs-category" key=""  @click="
                    actives('Tổng quan', (title = 'vanbanden'), vanban.total)
                  "
                ><!---->
                Văn bản đến
                <span
                  data-v-49ba33e0=""
                  class="badge ml-auto align-self-center default-b-badge badge-secondary"
                >
                  751
                </span></a
              >
              <ul data-v-49ba33e0="" class="list-bao-cao p-0 m-0">
                <li
                  data-v-49ba33e0=""
                  v-for="(vanban, index) in vanBanDen"
                  :key="index"
                  :class="{ active: (nameden == vanban.name) || ($route.query.thongbao && vanban.name == 'Chờ xử lý' && thongbao) }"
                  @click="
                    actives(vanban.name, (title = 'vanbanden'), vanban.total)
                  "
                >
                  <a data-v-49ba33e0="" href="#" target="_self" class="d-flex li-child"
                    ><i :class="`${vanban.icon}`"></i>
                    {{ vanban.name }}
                    <span class="badge badge-info ml-auto align-self-center">{{
                      vanban.total
                    }}</span></a
                  >
                </li>
              </ul>
            </li>
            <li data-v-49ba33e0="">
              <a data-v-49ba33e0="" href="#" target="_self" class="cs-category" @click="
                    actives('Tổng quan', (title = 'vanbandi'), vanban.total)
                  "
                ><!---->
                Văn bản đi
                </a
              >
              <ul data-v-49ba33e0="" class="list-bao-cao p-0 m-0">
                <li
                  data-v-49ba33e0=""
                  v-for="(vanban, index) in vanBanDi"
                  :key="index"
                  v-bind:class="{ active: nameden == vanban.name }"
                  @click="
                    actives(vanban.name, (title = 'vanbandi'), vanban.total)
                  "
                >
                  <a
                    data-v-49ba33e0=""
                    href="#"
                    target="_self"
                    class="d-flex li-child"
                  >
                    <i :class="`${vanban.icon}`" class="mr-2"></i>
                    {{ vanban.name }}
                    <span class="badge badge-info ml-auto align-self-center">{{
                      vanban.total
                    }}</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </template>
    </iq-card>
  </div>
</template>
<script>
export default {
  name: 'ProjectListData',
  data () {
    return {
      active: 0,
      thongbao: true,
      vanBanDen: [
        {
          name: 'Tổng quan',
          total: 751,
          icon: 'ri-file-list-line mr-2'
        },
        {
          name: 'Chờ vào sổ',
          total: 20,
          icon: 'ri-stack-fill mr-2'
        },
        {
          name: 'Chờ phân xử lý',
          total: 40,
          icon: 'mr-2 ri-reply-line '
        },
        {
          name: 'Chờ xử lý',
          total: 180,
          icon: 'ri-loader-line mr-2'
        },
        {
          name: 'Đang xử lý',
          total: 220,
          icon: 'ri-time-line mr-2'
        },
        {
          name: 'Đã xử lý',
          total: 185,
          icon: 'ri-compass-2-line mr-2'
        },
        {
          name: 'Chờ cho ý kiến',
          total: 30,
          icon: 'ri-question-answer-line mr-2'
        },
        {
          name: 'Đã cho ý kiến',
          total: 80,
          icon: 'ri-scan-line mr-2'
        },
        {
          name: 'Nhận xét biết',
          total: 106,
          icon: 'ri-scan-line mr-2'
        }
      ],
      vanBanDi: [
        {
          name: 'Tổng quan',
          total: 499,
          icon: 'ri-file-list-line mr-2'
        },
        {
          name: 'Chờ trình ký',
          total: 26,
          icon: 'ri-stack-fill mr-2'
        },
        {
          name: 'Chờ xử lý',
          total: 60,
          icon: 'ri-reply-line mr-2'
        },
        {
          name: 'Đã xử lý',
          total: 120,
          icon: 'ri-compass-2-line mr-2'
        },
        {
          name: 'Đã trả lại',
          total: 110,
          icon: 'ri-drag-move-line mr-2'
        },
        {
          name: 'Chờ ý kiến',
          total: 28,
          icon: 'ri-question-answer-line mr-2'
        },
        {
          name: 'Đã cho ý kiến',
          total: 120,
          icon: 'ri-list-ordered mr-2'
        },
        {
          name: 'Chờ cấp số',
          total: 30,
          icon: 'ri-question-answer-line mr-2'
        },
        {
          name: 'Chờ ban hành',
          total: 15,
          icon: 'ri-chat-voice-line mr-2'
        },
        {
          name: 'Đã ban hành',
          total: 138,
          icon: 'ri-bar-chart-horizontal-fill mr-2'
        },
        {
          name: 'Nội bộ',
          total: 120,
          icon: 'ri-honour-line mr-2'
        }
      ],
      ul1: true,
      ul2: false,
      nameden: '',
      namedi: '',
      title: ''
    }
  },
  created () {
    if (this.$route.query.thongbao) {
      this.actives('Chờ xử lý', 'vanbanden', 180)
      this.thongbao = false
    }
  },
  methods: {
    activeFilter (action) {
      this.active = action
    },
    linkBaoCao () {
      window.open(
        'http://ubndtinhdongnai-baocao.chinhquyendientu.vn/dang-nhap',
        '_blank'
      )
    },
    actives (nameden, title, total) {
      this.nameden = nameden
      this.title = title
      this.$emit('title', { title, nameden, total })
      this.$emit('showPowerKpi', false)
    },
    changetitles () {
      this.$emit('title', { title: null })
      this.$emit('showPowerKpi', false)
    }
  },
  mounted () {}
}
</script>
<style lang="scss" scoped>
.cs-category {
    font-weight: bold;
    font-size: 18px;
    //color: #4B528D;
}
.default-b-badge {
    background-color: rgba(127, 133, 180, 0.15);
    //color: #7F85B4;
    font-size: 10px;
}
</style>
