<template>
  <iq-card>
    <template v-slot:body>
      <div class="iq-todo-page">
        <!-- <b-button
          variant="primary"
          size="lg"
          class="font-size-16 p-3 mb-3"
          block
          v-b-modal.compose-email-popup
          v-on:click="linkBaoCao()"
        >
          <i class="ri-send-plane-line mr-2"></i>HỆ THỐNG NHẬP LIỆU</b-button
        > -->
        <ul class="list-bao-cao p-0 m-0">
          <li
            v-bind:class="{ active: active == 1 }"
            v-on:click="activeFilter(1)"
          >
            <a href="#" target="_self" class="">
              <i class="ri-stack-fill mr-2"></i>
              Báo cáo các tình huống khẩn cấp
              <span class="badge badge-info ml-2 float-right">3</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 2 }"
            class=""
            v-on:click="activeFilter(2)"
          >
            <a href="#" target="_self" class="">
              <i class="ri-stack-fill mr-2"></i>
              Báo cáo chính phủ
              <span class="badge badge-warning ml-2 float-right">8</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 3 }"
            class=""
            v-on:click="activeFilter(3)"
          >
            <a href="#" target="_self" class="">
              <i class="ri-stack-fill mr-2"></i>
              Báo cáo tại UBND
              <span class="badge badge-danger ml-2 float-right">12</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 4 }"
            class=""
            v-on:click="activeFilter(4)"
          >
            <a href="#" target="_self" class="">
              <i class="ri-stack-fill mr-2"></i>
              Báo cáo từ các sở ngành
              <span class="badge badge-success ml-2 float-right">9</span>
            </a>
          </li>
          <li
            v-bind:class="{ active: active == 5 }"
            class=""
            v-on:click="activeFilter(5)"
          >
            <a href="#" target="_self" class="">
              <i class="ri-stack-fill mr-2"></i>
              Báo cáo từ các địa phương
              <span class="badge badge-secondary ml-2 float-right">15</span>
            </a>
          </li>
        </ul>
      </div>
    </template>
  </iq-card>
</template>
<script>
export default {
  data () {
    return {
      active: 0
    }
  },
  methods: {
    activeFilter (action) {
      this.active = action
    },
    linkBaoCao () {
      window.open(
        'http://ubndtinhdongnai-baocao.chinhquyendientu.vn/dang-nhap',
        '_blank'
      )
    }
  },
  mounted () {}
}
</script>
<style lang="scss" scoped>
.list-bao-cao li:hover a,
.list-bao-cao .active a {
  color: var(--iq-primary);
  background: var(--iq-color-light);
}
</style>
