<template>
  <tab-content>
    <div
      class="email-app-details over-flow-auto"
      v-bind:class="{ show: active }"
    >
      <BaoCaoChiTiet
        :chiTietVanBan="chiTietVanBan"
        @closeDetail="closeDetail"
      />
    </div>
    <div class="table" v-if="titles.title != 'vanbandi'">
      <div class="t-header d-flex heading-list">
        <div
          :class="field.w"
          v-for="(field, index) in fields"
          :key="index"
          style="text-transform: none !important"
        >
          {{ field.label }}
        </div>
      </div>
      <div class="t-body" style="text-align: initial">
        <div
          class="d-flex t-body-list"
          v-for="(item, i) in itemsd"
          :key="i"
          @click="showdetail"
        >
          <div class="w-20">{{ item.ngaynhan }}</div>
          <div class="w-40">{{ item.kyhieu }}</div>
          <div class="w-20">{{ item.ngayvanban }}</div>
          <div class="w-40">{{ item.yeuto }}</div>
          <div class="w-30">{{ item.coquan }}</div>
          <div
            class="w-30"
            v-if="item.trangthai == 'Đã xử lý'"
            style="color:rgb(66, 180, 50)"
          >
            {{ item.trangthai }}
          </div>
          <div
            class="w-30"
            v-if="item.trangthai == 'Chờ vào sổ'"
            style="color:rgb(0, 52, 255)"
          >
            {{ item.trangthai }}
          </div>
          <div
            class="w-30"
            v-if="item.trangthai == 'Đang xử lý'"
            style="color:rgb(82, 82, 212)"
          >
            {{ item.trangthai }}
          </div>
        </div>
        <div class="no-data" v-if="itemsd.length == 0">
          Không có dữ liệu
        </div>
      </div>
    </div>
    <div class="table" v-else>
      <div class="t-header d-flex heading-list">
        <div
          :class="field.w"
          v-for="(field, index) in fielddi"
          :key="index"
          style="text-transform: none !important"
        >
          {{ field.label }}
        </div>
      </div>
      <div class="t-body" style="text-align: initial">
        <div
          class="d-flex t-body-list"
          v-for="(item, i) in itemsd"
          :key="i"
          @click="showdetail"
        >
          <div class="w-30">{{ item.kyhieu }}</div>
          <div class="w-40">{{ item.coquan }}</div>
          <div class="w-30">{{ item.ngayvanban }}</div>
          <div class="w-40">{{ item.yeuto }}</div>
          <div
            class="w-30"
            v-if="item.trangthai == 'Đã xử lý'"
            style="color:rgb(66, 180, 50)"
          >
            {{ item.trangthai }}
          </div>
          <div
            class="w-30"
            v-if="item.trangthai == 'Chờ vào sổ'"
            style="color:rgb(0, 52, 255)"
          >
            {{ item.trangthai }}
          </div>
          <div
            class="w-30"
            v-if="item.trangthai == 'Đang xử lý'"
            style="color:rgb(82, 82, 212)"
          >
            {{ item.trangthai }}
          </div>
        </div>
        <div class="no-data" v-if="itemsd.length == 0">
          Không có dữ liệu
        </div>
      </div>
    </div>
  </tab-content>
  <!-- <iq-card>
    <b-table
      @row-clicked="rowClickHandler"
      hover
      responsive
      :items="items"
      :fields="fields"
      class="mb-0 table-borderless"
    >
      <template v-slot:cell(TrangThai)="data">
        <b-badge pill :variant="data.value.color">{{
          data.value.name
        }}</b-badge>
      </template>
      <template v-slot:cell(HoanThanh)="data1">
        <Progressbar
          :title="'Mức độ hoàn thành:' + data1.value.count + '%'"
          :value="data1.value.count"
          :color="data1.value.color"
        />
      </template>
    </b-table>
  </iq-card> -->
</template>
<script>
import BaoCaoChiTiet from './BaoCaoChiTiet'
export default {
  name: 'TableList',
  components: { BaoCaoChiTiet },
  props: {
    titles: Object,
    id: {
      type: Number,
      default: 0
    }
  },
  computed: {
    value () {
      return this.titles.total
    },
    nameden () {
      return this.titles.nameden
    }
  },
  watch: {
    titles: function (val) {
      setTimeout(() => {
        this.filterList(val.nameden)
      }, 0)
    },
    nameden () {
      // this.itemsd = this.items
      // this.items = this.itemsd.reverse()
      this.active = false
    },
    id () {
      this.active = false
      const ids = this.id

      let data
      if (ids === 0) {
        data = this.items.filter(e => e.trangthai === 'Chờ vào sổ')
        this.itemsd = data
      } else if (ids === 1) {
        data = this.items.filter(e => e.trangthai === 'Đang xử lý')
        this.itemsd = data
      } else if (ids === 2) {
        data = this.items.filter(e => e.trangthai === 'Đã xử lý')
        this.itemsd = data
      } else {
        this.itemsd = this.items
      }
    }
  },
  data () {
    return {
      active: false,
      chiTietVanBan: {
        donViSoanThao: 'Trung tâm tin học',
        nguoiSoanThao: 'hakieuaanh',
        loaiVanBan: '886/TT-TTTH',
        kyHieu: 'Tờ trình',
        trichYeu: 'Tờ trình trung tâm tin học',
        ngayHanXuLy: '14/05/2020',
        donViTrongHeThong: [
          {
            STT: 1,
            hoTen: 'Trung tâm Tin học',
            phaiGuiBanGiay: true
          }
        ],
        donViNgoaiHeThong: [
          {
            STT: 1,
            hoTen: 'Trung tâm Tin học',
            phaiGuiBanGiay: true,
            trangThai: ''
          }
        ],
        soBan: '12',
        doKhan: 'Bình thường',
        isVanBanTraLoi: true,
        isVanBanQPPL: false,
        isVanBanChiDao: true,
        nguoiTheoDoiVanBan: [
          {
            STT: 1,
            hoTen: 'Hà Kiều Anh',
            donVi: 'Trung tâm Tin học'
          }
        ],
        tepDinhKem: [
          {
            STT: 1,
            tenTep: 'congvan.pdf',
            NguoiNhan: 'Trung tâm Tin học'
          }
        ]
      },
      fields: [
        {
          key: 'ngayden',
          label: 'Ngày nhận',
          w: 'w-20'
        },
        {
          key: 'kyhieu',
          label: 'Số/ký hiệu ',
          w: 'w-40'
        },
        {
          key: 'ngayvanban',
          label: 'Ngày ban hành',
          w: 'w-20'
        },

        {
          key: 'yeuto',
          label: 'Trích yếu ',
          w: 'w-40'
        },
        {
          key: 'coquan',
          label: 'Cơ quan ban hành',
          w: 'w-30'
        },
        {
          key: 'trangthai',
          label: 'Trạng thái',
          w: 'w-30'
        }
      ],
      fielddi: [
        {
          key: 'kyhieu',
          label: 'Số/ký hiệu',
          w: 'w-30'
        },
        {
          key: 'coquan',
          label: 'Cơ quan ban hành',
          w: 'w-40'
        },
        {
          key: 'ngayvanban',
          label: 'Ngày ban hành',
          w: 'w-30'
        },

        {
          key: 'yeuto',
          label: 'Trích yếu',
          w: 'w-40'
        },
        {
          key: 'trangthai',
          label: 'Trạng thái',
          w: 'w-30'
        }
      ],
      items: [
        {
          id: '1',
          ngaynhan: '19/04/2021',
          coquan: 'UBND huyện Nhơn Trạch tỉnh Đồng Nai',
          kyhieu: '114/BC-PYT',
          ngayvanban: '18/04/2021',
          yeuto: 'Bc tình hình dịch bệnh Covid-19 ngày 18/4/2021',
          trangthai: 'Đã xử lý'
        },
        {
          id: '2',
          ngaynhan: '19/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '303/TTDVNN-TVNLN',
          ngayvanban: '16/04/2021',
          yeuto:
            'Về việc giải quyết hiện tượng giống bắp 9919C trên địa bàn huyện Định Quán bị ảnh hưởng sâu bệnh, ra trái bất thường.',
          trangthai: 'Đã xử lý'
        },
        {
          id: '3',
          ngaynhan: '19/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '298/TTDVNN-HCTH',
          ngayvanban: '16/04/2021',
          yeuto:
            'Về việc bổ sung kinh phí thực hiện Đề án Tây Nam năm 2021 của Trung tâm Dịch vụ Nông nghiệp tỉnh Đồng Nai.',
          trangthai: 'Đang xử lý'
        },
        {
          id: '4',
          ngaynhan: '19/04/2021',
          coquan: 'Ban Quản lý dự án đầu tư xây dựng tỉnh Đồng Nai',
          kyhieu: '72/BC-BQLDAĐTXD',
          ngayvanban: '17/04/2021',
          yeuto:
            'Về tình hình thực hiện xây dựng Khu dân cư, tái định cư Lộc An- Bình Sơn và Phân khu III Khu dân cư, tái định cư Bình Sơn, thuộc dự án thu hồi đất, bồi thường, hỗ trợ, tái định cư Cảng hàng không Quốc tế Long Thành',
          trangthai: 'Đã xử lý'
        },
        {
          id: '5',
          ngaynhan: '19/04/2021',
          coquan: 'UBND huyện Cẩm Mỹ tỉnh Đồng Nai',
          kyhieu: '57/BC-UBBC',
          ngayvanban: '18/04/2021',
          yeuto:
            'Báo cáo nhanh tiến độ (Diễn tập lần 1) Công tác bầu cử đại biểu Quốc hội khóa XV và đại biểu HĐND các cấp nhiệm kỳ 2021-2026 (ngày 18/4/2021)',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '6',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Y tế - Tỉnh Hải Dương',
          kyhieu: '1200/TB-SYT',
          ngayvanban: '17/04/2021',
          yeuto:
            'V/v thông báo danh sách các trường hợp hoàn thành thời gian cách ly y tế tập trung tại Hải Dương',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '7',
          ngaynhan: '19/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '503/TTg-CN',
          ngayvanban: '17/04/2021',
          yeuto:
            'V/v bảo đảm nguồn cung vật liệu xây dựng phục vụ thi công Dự án đầu tư xây dựng một số đoạn đường bộ cao tốc trên tuyến Bắc - Nam phía Đông giai đoạn 2017-2020',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '8',
          ngaynhan: '18/04/2021',
          coquan: 'UBND huyện Nhơn Trạch tỉnh Đồng Nai',
          kyhieu: '113/BC-PYT',
          ngayvanban: '17/04/2021',
          yeuto: 'BC tình hình dịch bệnh Covid-19 ngày 17/4/2021',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '9',
          ngaynhan: '18/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '77/TB-VPCP',
          ngayvanban: '17/04/2021',
          yeuto:
            'Thông báo kết luận của Phó Thủ tướng tại Hội nghị sơ kết công tác bảo đảm TTATGT Quý I/2021',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '10',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Tài nguyên và Môi trường tỉnh Đồng Nai',
          kyhieu: '2357/VPĐK',
          ngayvanban: '16/04/2021',
          yeuto: 'Rà soát giấy chứng nhận bị mất Chờ vào sổ',
          trangthai: 'Đã xử lý'
        },
        {
          id: '11',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '477/BQL-LN',
          ngayvanban: '16/04/2021',
          yeuto: 'Đăng ký nhu cầu khai thác sử dụng dữ liệu viễn thám',
          trangthai: 'Đã xử lý'
        },
        {
          id: '12',
          ngaynhan: '19/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '476/BC-BQL',
          ngayvanban: '16/04/2021',
          yeuto: 'Báo cáo công tác tuần',
          trangthai: 'Đang xử lý'
        },
        {
          id: '13',
          ngaynhan: '19/04/2021',
          coquan: 'UBND TX. Long Khánh tỉnh Đồng Nai',
          kyhieu: '451/BC',
          ngayvanban: '16/04/2021',
          yeuto:
            'Báo cáo v/v Thống kế số liệu người trên 65 tuổi trên địa bàn thành phố để đăng ký nhu cầu tiêm vắc xin Covid-19',
          trangthai: 'Đã xử lý'
        },
        {
          id: '14',
          ngaynhan: '19/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '45/NQ-CP',
          ngayvanban: '16/04/2021',
          yeuto:
            'Nghị quyết phiên họp triển khai công việc của Chính phủ sau khi được kiện toàn tại Kỳ họp thứ 11, Quốc hội khóa XIV',
          trangthai: 'Đang xử lý'
        },
        {
          id: '15',
          ngaynhan: '19/04/2021',
          coquan: 'Sở Giao Thông Vận Tải - TPHCM',
          kyhieu: '3815/TB-SGTVT',
          ngayvanban: '17/04/2021',
          yeuto:
            'Nội dung cuộc họp về phương án đầu tư xây dựng cầu thay phà Cát Lái nối thành phố Thủ Đức, thành phố Hồ Chí Minh với huyện Nhơn Trạch, tỉnh Đồng Nai',
          trangthai: 'Đã xử lý'
        },
        {
          id: '16',
          ngaynhan: '19/04/2021',
          coquan: 'UBND huyện Cẩm Mỹ tỉnh Đồng Nai',
          kyhieu: '1118/BTTTT-THH',
          ngayvanban: '18/04/2021',
          yeuto: 'Bộ Thông tin và Truyền thông',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '6',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Y tế - Tỉnh Hải Dương',
          kyhieu: '1200/TB-SYT',
          ngayvanban: '17/04/2021',
          yeuto:
            'V/v thông báo danh sách các trường hợp hoàn thành thời gian cách ly y tế tập trung tại Hải Dương',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '7',
          ngaynhan: '19/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '503/TTg-CN',
          ngayvanban: '17/04/2021',
          yeuto:
            'V/v bảo đảm nguồn cung vật liệu xây dựng phục vụ thi công Dự án đầu tư xây dựng một số đoạn đường bộ cao tốc trên tuyến Bắc - Nam phía Đông giai đoạn 2017-2020',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '8',
          ngaynhan: '18/04/2021',
          coquan: 'UBND huyện Nhơn Trạch tỉnh Đồng Nai',
          kyhieu: '113/BC-PYT',
          ngayvanban: '17/04/2021',
          yeuto: 'BC tình hình dịch bệnh Covid-19 ngày 17/4/2021',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '9',
          ngaynhan: '18/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '77/TB-VPCP',
          ngayvanban: '17/04/2021',
          yeuto:
            'Thông báo kết luận của Phó Thủ tướng tại Hội nghị sơ kết công tác bảo đảm TTATGT Quý I/2021',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '10',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Tài nguyên và Môi trường tỉnh Đồng Nai',
          kyhieu: '2357/VPĐK',
          ngayvanban: '16/04/2021',
          yeuto: 'Rà soát giấy chứng nhận bị mất Chờ vào sổ',
          trangthai: 'Đã xử lý'
        },
        {
          id: '11',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '477/BQL-LN',
          ngayvanban: '16/04/2021',
          yeuto: 'Đăng ký nhu cầu khai thác sử dụng dữ liệu viễn thám',
          trangthai: 'Đã xử lý'
        }
      ],
      itemsd: [
        {
          id: '1',
          ngaynhan: '19/04/2021',
          coquan: 'UBND huyện Nhơn Trạch tỉnh Đồng Nai',
          kyhieu: '114/BC-PYT',
          ngayvanban: '18/04/2021',
          yeuto: 'Bc tình hình dịch bệnh Covid-19 ngày 18/4/2021',
          trangthai: 'Đã xử lý'
        },
        {
          id: '2',
          ngaynhan: '19/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '303/TTDVNN-TVNLN',
          ngayvanban: '16/04/2021',
          yeuto:
            'Về việc giải quyết hiện tượng giống bắp 9919C trên địa bàn huyện Định Quán bị ảnh hưởng sâu bệnh, ra trái bất thường.',
          trangthai: 'Đã xử lý'
        },
        {
          id: '3',
          ngaynhan: '19/04/2021',
          coquan: 'Sở Nông nghiệp và Phát triển nông thôn tỉnh Đồng Nai',
          kyhieu: '298/TTDVNN-HCTH',
          ngayvanban: '16/04/2021',
          yeuto:
            'Về việc bổ sung kinh phí thực hiện Đề án Tây Nam năm 2021 của Trung tâm Dịch vụ Nông nghiệp tỉnh Đồng Nai.',
          trangthai: 'Đang xử lý'
        },
        {
          id: '4',
          ngaynhan: '19/04/2021',
          coquan: 'Ban Quản lý dự án đầu tư xây dựng tỉnh Đồng Nai',
          kyhieu: '72/BC-BQLDAĐTXD',
          ngayvanban: '17/04/2021',
          yeuto:
            'Về tình hình thực hiện xây dựng Khu dân cư, tái định cư Lộc An- Bình Sơn và Phân khu III Khu dân cư, tái định cư Bình Sơn, thuộc dự án thu hồi đất, bồi thường, hỗ trợ, tái định cư Cảng hàng không Quốc tế Long Thành',
          trangthai: 'Đã xử lý'
        },
        {
          id: '5',
          ngaynhan: '19/04/2021',
          coquan: 'UBND huyện Cẩm Mỹ tỉnh Đồng Nai',
          kyhieu: '57/BC-UBBC',
          ngayvanban: '18/04/2021',
          yeuto:
            'Báo cáo nhanh tiến độ (Diễn tập lần 1) Công tác bầu cử đại biểu Quốc hội khóa XV và đại biểu HĐND các cấp nhiệm kỳ 2021-2026 (ngày 18/4/2021)',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '6',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Y tế - Tỉnh Hải Dương',
          kyhieu: '1200/TB-SYT',
          ngayvanban: '17/04/2021',
          yeuto:
            'V/v thông báo danh sách các trường hợp hoàn thành thời gian cách ly y tế tập trung tại Hải Dương',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '7',
          ngaynhan: '19/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '503/TTg-CN',
          ngayvanban: '17/04/2021',
          yeuto:
            'V/v bảo đảm nguồn cung vật liệu xây dựng phục vụ thi công Dự án đầu tư xây dựng một số đoạn đường bộ cao tốc trên tuyến Bắc - Nam phía Đông giai đoạn 2017-2020',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '8',
          ngaynhan: '18/04/2021',
          coquan: 'UBND huyện Nhơn Trạch tỉnh Đồng Nai',
          kyhieu: '113/BC-PYT',
          ngayvanban: '17/04/2021',
          yeuto: 'BC tình hình dịch bệnh Covid-19 ngày 17/4/2021',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '9',
          ngaynhan: '18/04/2021',
          coquan: 'Văn phòng Chính phủ',
          kyhieu: '77/TB-VPCP',
          ngayvanban: '17/04/2021',
          yeuto:
            'Thông báo kết luận của Phó Thủ tướng tại Hội nghị sơ kết công tác bảo đảm TTATGT Quý I/2021',
          trangthai: 'Chờ vào sổ'
        },
        {
          id: '10',
          ngaynhan: '18/04/2021',
          coquan: 'Sở Tài nguyên và Môi trường tỉnh Đồng Nai',
          kyhieu: '2357/VPĐK',
          ngayvanban: '16/04/2021',
          yeuto: 'Rà soát giấy chứng nhận bị mất Chờ vào sổ',
          trangthai: 'Đã xử lý'
        }
      ]
    }
  },
  methods: {
    showdetail () {
      this.active = true
    },
    closeDetail () {
      this.active = false
    },
    filterList (name) {
      this.itemsd = name ? this.items.filter(e => e.trangthai === name) : this.items
    }
  }
}
</script>
<style lang="scss" scoped>
.dark-2 .t-header{
  background: var(--iq-dark-2-body-bg);
  color:#fff;

}
 .dark-2 .t-body{
   background-color: var(--iq-dark-2-card-bg);
  color:#fff;
   div{
     &:hover{
       background: var(--iq-dark-2-body-bg);
     }
   }
 }
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  //background-color: var(--iq-dark-2-card-bg);
  padding: 0.4rem;
}
.t-body {
  overflow-x: hidden;
  max-height: 32rem;
}
.t-body-list {
  //justify-content: space-between;
  padding: 0.4rem;
  //opacity: 1;
  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.over-flow-auto {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
.no-data {
  padding: 20px 0px;
  text-align: center;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
</style>
