<template>
  <HomePage />
</template>
<script>
import { core } from '../../config/pluginInit'
import HomePage from '../../components/core/homepage/HomePage'
export default {
  name: 'Homepage',
  components: {
    HomePage
  },
  mounted () {
    core.index()
  }
}
</script>
