<template>
  <HomePage2 />
</template>
<script>
import { core } from '../../config/pluginInit'
import HomePage2 from '../../components/core/homepage/HomePage2'
export default {
  name: 'Homepage2',
  components: {
    HomePage2
  },
  mounted () {
    core.index()
  }
}
</script>
