<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit }">
    <form class="mt-4" novalidate @submit.prevent="handleSubmit(onSubmit)">
      <ValidationProvider rules="required" v-slot="{ errors }">
        <div class="form-group">
          <label for="usernameInput">Tên tài khoản</label>
          <input
            type="text"
            :class="
              'form-control mb-0' + (errors.length > 0 ? ' is-invalid' : '')
            "
            id="usernameInput"
            v-model="user.username"
            placeholder="Tên tài khoản"
            required
          />
          <div class="invalid-feedback">
            <span>{{ errors[0] }}</span>
          </div>
        </div>
      </ValidationProvider>
      <ValidationProvider
        vid="password"
        name="Password"
        rules="required"
        v-slot="{ errors }"
      >
        <div class="form-group">
          <label for="passwordInput">Mật khẩu</label>
          <!-- <router-link to="/auth/password-reset1" class="float-right">
            Quên mật khẩu?
          </router-link> -->
          <input
            type="password"
            :class="
              'form-control mb-0' + (errors.length > 0 ? ' is-invalid' : '')
            "
            id="passwordInput"
            v-model="user.password"
            placeholder="Mật khẩu"
            required
          />
          <div class="invalid-feedback">
            <span>{{ errors[0] }}</span>
          </div>
        </div>
      </ValidationProvider>
      <div class="d-inline-block w-100">
        <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
          <input type="checkbox" class="custom-control-input" :id="formType" />
          <label class="custom-control-label" :for="formType"
            >Nhớ mật khẩu</label
          >
        </div>
        <button type="submit" class="btn btn-primary float-right">
          Đăng nhập
        </button>
      </div>
      <!-- <div class="sign-info">
        <span class="dark-color d-inline-block line-height-2">
          Bạn chưa có tài khoản?
          <router-link to="/auth/sign-up1" class="iq-waves-effect pr-4">
            Đăng ký
          </router-link>
        </span>
        <social-login-form></social-login-form>
      </div> -->
    </form>
  </ValidationObserver>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SignIn1Form',
  /* components: { SocialLoginForm }, */
  props: ['formType', 'username', 'password'],
  data: () => ({
    user: {
      username: '',
      password: ''
    }
  }),
  mounted () {
    this.user.username = this.$props.username
    this.user.password = this.$props.password
  },
  computed: {
    ...mapGetters({
      stateUsers: 'Setting/usersState'
    })
  },
  methods: {
    onSubmit () {
      this.jwtLogin()
    },
    jwtLogin () {
      const selectedUser =
        this.stateUsers.find(user => {
          return (
            user.username === this.user.username &&
            user.password === this.user.password
          )
        }) || null
      if (selectedUser) {
        this.$store.dispatch('Setting/authUserAction', {
          auth: true,
          authType: 'jwt',
          user: {
            id: selectedUser.uid,
            name: selectedUser.name,
            mobileNo: null,
            username: selectedUser.username,
            profileImage: null
          }
        })
        localStorage.setItem('user', JSON.stringify(selectedUser))
        localStorage.setItem('access_token', selectedUser.token)
        this.$router.push({ name: 'dashboard.home' })
      }
    }
  }
}
</script>
