<!DOCTYPE html>
<html lang="en" dir="ltr" mode="light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" /> -->
    <title>Trung tâm điều hành Đồng Nai</title>
  </head>
  <body class="sidebar-main">
    <noscript>
      <strong>We're sorry but vue-dashboard doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="https://cdn.agora.io/sdk/web/AgoraRTCSDK-2.1.0.js"></script>
  </body>
</html>
