/*---------------------------------------------------------------------
Font
-----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,200i,300,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/*---------------------------------------------------------------------
import Css
-----------------------------------------------------------------------*/
@import "agora.css";
/* @import "developer.css"; */
@import "./typography.css";
@import "./style.css";
@import "./responsive.css";