[dir="rtl"] .collapse.navbar-collapse ul{margin-right: 25%;}
[dir="rtl"] .iq-right-fixed {position: fixed; left: 0; right: auto;top: 0; width: 320px; background: var(--iq-card-bg); z-index: 99; height: 100%;}

/* sidebar rtl */
[dir="rtl"] .iq-sidebar-menu .iq-menu .iq-menu-title {
    display: flex;
}

[dir="rtl"] .iq-sidebar-menu .iq-menu {
    margin: 0 0 0 15px;
}

[dir="rtl"] .iq-sidebar-menu .iq-menu li a {
    border-radius: 8px 0 0 8px;
}

[dir="rtl"] .iq-sidebar-menu .iq-menu li a i {
    margin-left: 10px;
}

[dir="rtl"] .iq-sidebar-menu .iq-menu li a[aria-expanded="true"] {
    border-radius: 8px 0 0 0;
}
[dir="rtl"] .iq-sidebar-menu .iq-menu .iq-submenu {
    border-radius: 0 0 0 8px;
}
[dir="rtl"] .iq-sidebar-menu .iq-menu li ul {
    padding-right: 0px;
}

[dir="rtl"] .iq-sidebar-menu .iq-menu li a .iq-arrow-right {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

/* dashboard 1 body */

 @media (min-width: 1300px){
    [dir="rtl"] body.sidebar-main-active.right-column-fixed .content-page, body.sidebar-main-active.right-column-fixed .iq-footer {
        margin-right: 80px;
        margin-left: 320px;
    }
}

@media (min-width: 1300px){
    [dir="rtl"] body.sidebar-main-active.right-column-fixed .iq-top-navbar {
        margin-left: 320px;
        margin-right: auto;
    }
}

[dir="rtl"] .iq-top-navbar {
    right: auto;
    left: 30px;
}

[dir="rtl"] .iq-top-navbar .iq-sub-dropdown {
    left: 0;
    right: auto;
}

[dir="rtl"] .iq-search-bar .search-input {
    padding: 5px 15px 5px 40px;
}
[dir="rtl"] .iq-search-bar .searchbox .search-link {
    left: 15px;
    right: auto;
}

[dir="rtl"] a.search-toggle.iq-waves-effect.d-flex.align-items-center.bg-primary.rounded img {
    margin-right: unset !important;
    margin-left: 20px;
}

[dir="rtl"] .searchbox-datalink.show-data h6 {
    padding-left: unset !important;
    padding-right: 20px;
}

[dir="rtl"] .searchbox-datalink.show-data h6{
    display: flex;
}
[dir="rtl"] .searchbox-datalink .nav-link{
    display: flex;
}
[dir="rtl"] .searchbox-datalink li a > i {
    float: right;
}
[dir="rtl"] .searchbox-datalink.show-data ul li a i {
    padding-right: unset !important;
    padding-left: 6px;
}
[dir="rtl"] table.table.mb-0.table-borderless tr {
    text-align: right !important;
}

[dir="rtl"] .dropdown .dropdown-menu a i{
    margin-left: 8px !important;
    margin-right: unset !important;
}

[dir="rtl"] .dropdown .dropdown-menu{
    left: 140px !important;
}

[dir="rtl"] .collapse .navbar-nav .nav-item .iq-sub-dropdown .iq-sub-card{
    display: flex;
}
[dir="rtl"] .collapse .navbar-nav .nav-item .iq-sub-dropdown .iq-sub-card img{
    margin-right: unset !important;
    margin-left: 8px !important;
}

[dir="rtl"] .iq-card-body .suggestions-lists .media-support-info{
    text-align: right;
    margin-left: unset !important;
    margin-right: 8px !important;
}

[dir="rtl"] .iq-sub-dropdown .iq-card.shadow-none .iq-card-body{
    text-align: right;
}

[dir="rtl"] .iq-sub-dropdown .iq-card.shadow-none .iq-card-body .media .media-body{
   margin-left: unset !important;
   margin-right: 8px !important;
}