/*
Template: Vito - Responsive Bootstrap 4 Admin Dashboard Template
Author: iqonicthemes.in
Design and Developed by: iqonicthemes.in
NOTE: This file contains the styling for responsive Template.
*/

/*================================================
[  Table of contents  ]
================================================
:: General
:: Input
:: Loading
:: Background Color
:: Background Color Opacity
:: Text Color
:: Table Color
======================================
[ End table content ]
======================================*/
/* General */
body.dark-2 {
  background: var(--iq-dark-2-body-bg);
  color: var(--iq-dark-2-body-text);
}
.dark-2 h1,
.dark-2 h2,
.dark-2 h3,
.dark-2 h4,
.dark-2 h5,
.dark-2 h6 {
  color: var(--iq-white);
}

/* logo */
.dark-2 .iq-light-logo {
  display: none;
}
.dark-2 .iq-dark-logo {
  display: block;
}

/* Card Color */
.dark-2 .iq-card {
  background: var(--iq-dark-2-card-bg);
}
.dark-2 .iq-todo-page ul li a {
  color: var(--iq-white);
  text-decoration: none;
}
.dark-2 .iq-todo-page ul li a:hover {
  color: var(--iq-white);
  background: var(--iq-dark-2-hover-bg);
  text-decoration: none;
}
.dark-2 .iq-todo-page ul li a.active {
  background: var(--iq-dark-2-hover-bg);
}

/* Table Color */
.dark-2 .table-responsive .table-borderless {
  border-color: var(--iq-dark-hover-bg);
}
.dark-2 thead tr {
  background: var(--iq-dark-hover-bg);
}
.dark-2 .table-borderless tbody tr td {
  border-bottom: 2px solid var(--iq-dark-hover-bg);
}
.dark-2 tr,.dark-2 thead,.dark-2 tbody, .dark-2 th {
  background: var(--iq-dark-2-body-bg);
  border-color: rgba(999,999,999,0.1);
}
.dark-2 td,
.dark-2 th {
  color: var(--iq-dark-2-body-text);
}
.dark-2 .iq-sidebar-logo a span {
  color: var(--iq-dark-2-body-text);
}
.dark-2 .breadcrumb-item.active {
  color: var(--iq-dark-2-body-text);
}

/* sidebar */
.dark-2 .iq-sidebar {
  background: var(--iq-dark-2-card-bg);
}
.dark-2 .iq-sidebar-menu .iq-menu li.active > a {
  background: var(--iq-dark-2-hover-bg);
}
.dark-2 .iq-sidebar-menu .iq-menu li a:hover {
  color: var(--iq-dark-2-body-text);
  background: var(--iq-dark-hover-bg);
}
.dark-2 .iq-sidebar-menu .iq-menu li a {
  color: var(--iq-dark-2-body-text);
}
.dark-2 .iq-sidebar-menu .iq-menu li a[aria-expanded='true'] {
  background: var(--iq-dark-hover-bg);
}
.dark-2 .iq-sidebar-menu .iq-menu .iq-submenu {
  background: var(--iq-dark-2-body-bg);
}
.dark-2 .iq-menu-bt {
  background: var(--iq-dark-2-hover-bg);
  padding: 12px 7px;
  margin-right: 15px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* navbar  */
.dark-2 .iq-navbar-custom {
  background: var(--iq-dark-2-card-bg);
}
.dark-2 .iq-top-navbar {
  background: var(--iq-dark-2-body-bg);
}
.dark-2 .topbar-menu-icon li a {
  background: var(--iq-dark-2-card-bg);
}
.dark-2 .iq-search-bar .search-input {
  background: var(--iq-dark-2-hover-bg);
  color: var(--iq-primary);
}
.dark-2 a {
  color: var(--iq-dark-2-body-text);
}
.dark-2 a:hover {
  color: var(--iq-dark-2-body-text);
}
.dark-2 .navbar-list li > a {
  color: var(--iq-dark-2-body-text);
}
.dark-2 .iq-top-navbar .iq-sub-dropdown {
  background: var(--iq-dark-hover-bg);
}
.dark-2 .iq-top-navbar .iq-sub-dropdown > .iq-card {
  background-color: transparent;
}
.dark-2 .navbar-list li .iq-sub-dropdown .iq-sub-card {
  border-color: var(--iq-dark-2-card-bg);
}
.dark-2 .navbar-list li .iq-sub-dropdown .iq-sub-card:hover {
  background-color: var(--iq-dark-2-body-bg);
}
.dark-2 .navbar-list li .iq-sub-dropdown .iq-sub-card:last-child {
  border-bottom: none;
}
.dark-2 .btn-primary {
  color: var(--iq-primary);
  background: var(--iq-body-text);
}
.dark-2 div#lottie-beil svg path,
.dark-2 div#lottie-mail svg path,
.dark-2 div#lottie-fullscreen svg path {
  stroke: var(--iq-dark-2-body-text);
}
.dark-2 .nav-pills li a.active {
  color: var(--iq-primary);
  background-color: var(--iq-dark-2-hover-bg);
}

/* Search */
.dark-2 .searchbox-datalink {
  background: var(--iq-dark-2-body-bg);
}

/* right side bar  */
.dark-2 .iq-right-fixed {
  background: var(--iq-dark-2-card-bg);
}

/* Footer */
.dark-2 .iq-footer {
  background: var(--iq-dark-2-card-bg);
}

/* Shadow box navbar */
.dark-2 .iq-navbar-custom {
  box-shadow: 0px 2px 8px var(--iq-dark-shadow-1),
    0px 4px 16px var(--iq-dark-shadow-2);
}

/* Card Shadow */
.dark-2 .iq-card {
  box-shadow: 0px 2px 8px var(--iq-dark-shadow-1),
    0px 8px 16px var(--iq-dark-shadow-2);
}

/* Dropdown */
.dark-2 .iq-card-header-toolbar .dropdown-toggle i {
  color: var(--iq-dark-2-body-text);
}
.dark-2 .dropdown-menu {
  background: var(--iq-dark-2-hover-bg);
  border: none;
  box-shadow: 0 4px 8px var(--iq-dark-shadow-1),
    0 8px 16px var(--iq-dark-shadow-2);
}
.dark-2 .dropdown-menu .dropdown-item:hover {
  background: var(--iq-dark-2-card-bg);
  color: var(--iq-dark-2-body-text);
}
.dark-2 .dropdown-menu .dropdown-item {
  color: var(--iq-dark-2-body-text) !important;
}

/* Chart  */
.dark-2 tspan {
  stroke: var(--iq-primary);
}
.dark-2 .ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: var(--iq-primary-light);
}
.dark-2 .ct-series-b .ct-bar,
.ct-series-b .ct-line,
.ct-series-b .ct-point,
.ct-series-b .ct-slice-donut {
  stroke: var(--iq-info-light);
}

.dark-2 .ct-grid {
  stroke: var(--iq-body-text);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}
.dark-2 .ct-label {
  /* fill: rgba(0,0,0,.4); */
  color: var(--iq-body-text);
  font-size: 0.75rem;
  line-height: 1;
}

.dark-2 .highcharts-background {
  fill: var(--iq-dark-2-card-bg);
}

.dark-2 .t-header,
.dark-2 .t-body {
  background-color: var(--iq-dark-2-card-bg);
}
.dark-2 .t-body-list:hover {
  color: var(--iq-dark-2-body-text);
}

.dark-2 .list-bao-cao .baocao-item:hover > a,
.dark-2 .list-bao-cao .active > a {
  color: var(--iq-white) !important;
  background: var(--iq-dark-3-hover-bg) !important;
}
.dark-2 .bg-primary,
.dark-2 .badge-primary {
  color: var(--iq-white);
  background: var(--iq-dark-2-hover-bg) !important;
}
.dark-2 .bg-primary:hover,
.dark-2 .badge-primary:hover {
  color: var(--iq-white);
  background: var(--iq-dark-2-hover-bg) !important;
}
.dark-2 .iq-baocao-page ul li a {
  color: var(--iq-white);
  text-decoration: none;
}
.dark-2 .list-danh-sach li a:hover,
.dark-2 .list-danh-sach .active a {
  color: var(--iq-white) !important;
  background: var(--iq-dark-2-hover-bg) !important;
  cursor: pointer;
}
.dark-2 .iq-baocao-page ul > li li:hover a,
.iq-baocao-page ul > li li.active a {
  color: var(--iq-white);
  background: var(--iq-dark-2-hover-bg);
}
.dark-2 .right-sidebar-toggle {
  background-color: var(--iq-dark-2-hover-bg);
}
.dark-2 .table.b-table > thead > tr > .table-b-table-default,
.dark-2 .table.b-table > tbody > tr > .table-b-table-default,
.dark-2 .table.b-table > tfoot > tr > .table-b-table-default {
    background-color: var(--iq-dark-2-hover-bg);
    color: var(--iq-primary);
}
/* Dashbord2 */

/*lịch họp*/

.dark-2 .render-range {
    font-size: 20px;
}
.dark-2 .row-thong-ke-lich .title {
    font-size: 18px;
}
.dark-2 .row-thong-ke-lich .result {
    font-size: 20px;
}
.dark-2 .cs-button-group .active {
  color: var(--iq-dark-2-hover-bg) !important;
}
.dark-2 .cs-btn-action.active {
  background-color: var(--iq-dark-2-hover-bg) !important;
}
.dark-2 .search-input::placeholder{
  color: rgba(999,999,999,0.5);
}
.dark-2 .overflow-box-thong-ke{
  border: 1px solid rgba(999,999,999,0.2)
}
.dark-2 .chi-dao-dieu-hanh label,
.dark-2 .chi-dao-dieu-hanh span,
.dark-2 .chi-dao-dieu-hanh button{
  color: var(--iq-primary);
}

/* css baochi-mangxahoi */
.dark-2 #NetView .dashboard .dashboard-list{ 
  background : var(--iq-dark-2-card-bg);
}
.dark-2 #NetView .dashboard-content .dashboard-list > *{
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.dark-2 #NetView .netview-item{ background : var(--iq-dark-2-card-bg)}
.dark-2 #NetView .netview-item .tag-list .tag-item{ background-color: var(--iq-dark-2-hover-bg)}
.dark-2 #NetView .netview-item .action-pane{ border-top: 1px solid rgba(0, 0, 0, 0.125)}
.dark-2 #NetView .netview-item .tag-list{border-top: 1px solid rgba(0, 0, 0, 0.125)}
.dark-2 #NetView .chart-container .card{ background-color: var(--iq-dark-2-card-bg)}
.dark-2 #NetView .number-new{
  color: var(--iq-primary);
}
.dark-2 #NetView .chart-container{
  border: 1px solid #203141;
}
/* end css baochi-mangxahoi */