/*
Template: Vito - Responsive Bootstrap 4 Admin Dashboard Template
Author: iqonicthemes.in
Design and Developed by: iqonicthemes.in
NOTE: This file contains the styling for responsive Template.
*/

/*================================================
[  Table of contents  ]
================================================
:: General
:: Input
:: Loading
:: Background Color
:: Background Color Opacity
:: Text Color
:: Table Color
======================================
[ End table content ]
======================================*/
/* General */
body.light-3 {background: var(--iq-light-3); color: var(--iq-light2-body-text)}
.light-3 h1,.light-3 h2,.light-3 h3,.light-3 h4,.light-3 h5,.light-3 h6 { color: var(--iq-gray); }

/* logo */
.light-3 .iq-light-logo {display: none;}
.light-3 .iq-dark-logo {display: block;}

/* Card Color */
.light-3 .iq-card {background: var(--iq-light2-card-bg);}

/* Table Color */
.light-3 .table-responsive .table-borderless {border-color: var(--iq-light2-hover-bg);}
.light-3 thead tr { background: var(--iq-light2-hover-bg);}
.light-3 .table-borderless tbody tr td {border-bottom: 2px solid var(--iq-light2-hover-bg);}
.light-3 tr {background: var(--iq-light-3);}
.light-3 td,.light-3 th{color:var(--iq-light2-body-text)}
.light-3 .iq-sidebar-logo a span{color:var(--iq-white)}


/* sidebar */
.light-3 .iq-sidebar {  background: var(--iq-light3-card-bg); }
.light-3 .iq-sidebar-menu .iq-menu li.active>a{background: var(--iq-primary);}
.light-3 .iq-sidebar-menu .iq-menu li a {color: var(--iq-light3-icon-color);}
.light-3 .iq-sidebar-menu .iq-menu li a[aria-expanded="true"]{background: var(--iq-light2-hover-bg);}
.light-3 .iq-sidebar-menu .iq-menu .iq-submenu{background: var(--iq-light-3);}

/* navbar  */
.light-3 .iq-navbar-custom {background: var(--iq-light2-card-bg);}
.light-3 .iq-top-navbar {background: var(--iq-light-3);}
.light-3 .topbar-menu-icon li a {background: var(--iq-light2-card-bg);}
.light-3 .iq-search-bar .search-input{background: var(--iq-light2-search-bg);}
.light-3 a{color: var(--iq-light2-icon-color);}
.light-3 a:hover{color: var(--iq-white);}
.light-3 .navbar-list li>a {color:var(--iq-light2-icon-color)}
.light-3 .iq-top-navbar .iq-sub-dropdown {background: var(--iq-light2-hover-bg);}
.light-3 .iq-top-navbar .iq-sub-dropdown>.iq-card{background-color: transparent;}
.light-3 .navbar-list li .iq-sub-dropdown .iq-sub-card {background-color: var(--iq-light2-box-notfi); color: var(--iq-gray);border-color: var(--iq-gray);}
.light-3 .navbar-list li .iq-sub-dropdown .iq-sub-card:hover {background-color: var(--iq-light2-search-bg);color: var(--iq-white)}
.light-3 .navbar-list li .iq-sub-dropdown .iq-sub-card:last-child{border-bottom: none;}
.light-3 .btn-primary{color: var(--iq-light2-white);}
.light-3 div#lottie-beil svg path,.light-3 div#lottie-mail svg path,.light-3 div#lottie-fullscreen svg path {stroke: var(--iq-light2-icon-color);}
.bg-light, .badge-light { background-color: var(--iq-light2-notification) !important; }
.light-3 .iq-sidebar-menu .iq-menu li a:hover { color: var(--iq-white); }

/* Search */
.light-3 .searchbox-datalink{background: var(--iq-light-3);}

/* right side bar  */
.light-3 .iq-right-fixed{background:var(--iq-light2-card-bg); }

/* Footer */
.light-3 .iq-footer{background: var(--iq-light2-card-bg);}

/* Shadow box navbar */
.light-3 .iq-navbar-custom{ box-shadow: 0px 2px 8px var(--iq-dark-shadow-1), 0px 4px 16px var(--iq-dark-shadow-2);}

/* Card Shadow */
.light-3 .iq-card{box-shadow: 0px 2px 8px var(--iq-dark-shadow-1), 0px 8px 16px var(--iq-dark-shadow-2); }

/* Dropdown */
.light-3 .iq-card-header-toolbar .dropdown-toggle i{color: var(--iq-light2-body-text);}
.light-3 .dropdown-menu{    background: var(--iq-light2-hover-bg); border:none; box-shadow: 0 4px 8px var(--iq-dark-shadow-1), 0 8px 16px var(--iq-dark-shadow-2);}
.light-3 .dropdown-menu .dropdown-item:hover { background:var(--iq-light2-card-bg); color: var(--iq-light2-body-text);}
.light-3 .dropdown-menu .dropdown-item{color: var(--iq-light2-icon-color);}

/* Chart  */
.light-3 tspan{stroke: var(--iq-gray);}
.light-3 .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{
    stroke: var(--iq-primary-light3);
}
.light-3 .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut{
    stroke: var(--iq-info-light);
}

.light-3 .ct-grid {
    stroke: var(--iq-gray);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}
.light-3 .ct-label {
    /* fill: rgba(0,0,0,.4); */
    color: var(--iq-gray);
    font-size: .75rem;
    line-height: 1;
}

/* Dashbord2 */


.light-3 .render-range {
    font-size: 20px;
}

.light-3 .row-thong-ke-lich .title {
    font-size: 18px;
}
.light-3 .row-thong-ke-lich .result {
    font-size: 20px;
}