/*
Template: Vito - Responsive Bootstrap 4 Admin Dashboard Template
Author: iqonicthemes.in
Design and Developed by: iqonicthemes.in
NOTE: This file contains the styling for responsive Template.
*/

/*================================================
[  Table of contents  ]
================================================
:: General
:: Input
:: Loading
:: Background Color
:: Background Color Opacity
:: Text Color
:: Table Color
======================================
[ End table content ]
======================================*/
/* General */
body.dark-3 {background: var(--iq-dark-3-body-bg); color: var(--iq-dark-3-body-text)}
.dark-3 h1,.dark-3 h2,.dark-3 h3,.dark-3 h4,.dark-3 h5,.dark-3 h6 { color: var(--iq-white); }

/* logo */
.dark-3 .iq-light-logo {display: none;}
.dark-3 .iq-dark-logo {display: block;}

/* Card Color */
.dark-3 .iq-card {background: var(--iq-dark-3-card-bg);}

/* Table Color */
.dark-3 .table-responsive .table-borderless {border-color: var(--iq-dark-hover-bg);}
.dark-3 thead tr { background: var(--iq-dark-hover-bg);}
.dark-3 .table-borderless tbody tr td {border-bottom: 2px solid var(--iq-dark-hover-bg);}
.dark-3 tr {background: var(--iq-dark-3-body-bg);}
.dark-3 td,.dark-3 th{color:var(--iq-dark-3-body-text)}


/* sidebar */
.dark-3 .iq-sidebar {  background: var(--iq-dark-3-card-bg); }
.dark-3 .iq-sidebar-menu .iq-menu li.active>a{background: var(--iq-dark-3-hover-bg);}
.dark-3 .iq-sidebar-menu .iq-menu li a:hover{color: var(--iq-dark-3-body-text); background: var(--iq-dark-hover-bg);} 
.dark-3 .iq-sidebar-menu .iq-menu li a {color: var(--iq-dark-3-icon-color);}
.dark-3 .iq-sidebar-menu .iq-menu li a[aria-expanded="true"]{background: var(--iq-dark-hover-bg);}
.dark-3 .iq-sidebar-menu .iq-menu .iq-submenu{background: var(--iq-dark-3-body-bg);}

/* navbar  */
.dark-3 .iq-navbar-custom {background: var(--iq-dark-3-card-bg);}
.dark-3 .iq-top-navbar {background: var(--iq-dark-3-body-bg);}
.dark-3 .topbar-menu-icon li a {background: var(--iq-dark-3-card-bg);}
.dark-3 .iq-search-bar .search-input{background: var(--iq-dark-hover-bg);}
.dark-3 a{color: var(--iq-dark-3-icon-color);}
.dark-3 a:hover{color: var(--iq-dark-3-body-text);}
.dark-3 .navbar-list li>a {color:var(--iq-dark-3-icon-color)}
.dark-3 .iq-top-navbar .iq-sub-dropdown {background: var(--iq-dark-3-hover-bg);}
.dark-3 .iq-top-navbar .iq-sub-dropdown>.iq-card{background-color: transparent;}
.dark-3 .navbar-list li .iq-sub-dropdown .iq-sub-card {border-color: var(--iq-dark-3-card-bg);}
.dark-3 .navbar-list li .iq-sub-dropdown .iq-sub-card:hover {background-color: var(--iq-dark-3-body-bg);}
.dark-3 .navbar-list li .iq-sub-dropdown .iq-sub-card:last-child{border-bottom: none;}
.dark-3 .btn-primary{color: var(--iq-white);}
.dark-3 div#lottie-beil svg path,.dark-3 div#lottie-mail svg path,.dark-3 div#lottie-fullscreen svg path {stroke: var(--iq-dark-icon-color);}

/* Search */
.dark-3 .searchbox-datalink{background: var(--iq-dark-3-body-bg);}

/* right side bar  */
.dark-3 .iq-right-fixed{background:var(--iq-dark-3-card-bg); }

/* Footer */
.dark-3 .iq-footer{background: var(--iq-dark-3-card-bg);}

/* Shadow box navbar */
.dark-3 .iq-navbar-custom{ box-shadow: 0px 2px 8px var(--iq-dark-shadow-1), 0px 4px 16px var(--iq-dark-shadow-2);}

/* Card Shadow */
.dark-3 .iq-card{box-shadow: 0px 2px 8px var(--iq-dark-shadow-1), 0px 8px 16px var(--iq-dark-shadow-2); }

/* Dropdown */
.dark-3 .iq-card-header-toolbar .dropdown-toggle i{color: var(--iq-dark-3-body-text);}
.dark-3 .dropdown-menu{    background: var(--iq-dark-hover-bg); border:none; box-shadow: 0 4px 8px var(--iq-dark-shadow-1), 0 8px 16px var(--iq-dark-shadow-2);}
.dark-3 .dropdown-menu .dropdown-item:hover { background:var(--iq-dark-3-card-bg); color: var(--iq-dark-3-body-text);}
.dark-3 .dropdown-menu .dropdown-item{color: var(--iq-dark-icon-color);}

/* Chart  */
.dark-3 tspan{stroke: var(--iq-body-text);}
.dark-3 .ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{
    stroke: var(--iq-primary-light);
}
.dark-3 .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut{
    stroke: var(--iq-info-light);
}

.dark-3 .ct-grid {
    stroke: var(--iq-body-text);
    stroke-width: 1px;
    stroke-dasharray: 2px;
}
.dark-3 .ct-label {
    /* fill: rgba(0,0,0,.4); */
    color: var(--iq-body-text);
    font-size: .75rem;
    line-height: 1;
}

.dark-3 .highcharts-background {
    fill: var(--iq-dark-3-card-bg);
}

.dark-3 .t-header,
.dark-3 .t-body{
    background-color: var(--iq-dark-3-card-bg);
}
.dark-3 .t-body-list:hover{
    color: var(--iq-dark-3-body-text);
}



.dark-3 .list-bao-cao .baocao-item:hover > a, .dark-3 .list-bao-cao .active > a {
    color: var(--iq-white) !important;
    background: var(--iq-dark-3-hover-bg) !important;
}
.dark-3 .bg-primary, .dark-3 .badge-primary { color: var(--iq-white); background: var(--iq-dark-3-hover-bg) !important;}
.dark-3 .bg-primary:hover, .dark-3 .badge-primary:hover { color: var(--iq-white); background: var(--iq-dark-3-hover-bg) !important;}
.dark-3 .iq-baocao-page ul li a { color: var(--iq-white); text-decoration: none; }
.dark-3 .list-danh-sach li a:hover, .dark-3 .list-danh-sach .active a { color: var(--iq-white) !important; background: var(--iq-dark-3-hover-bg) !important; cursor: pointer; }
.dark-3 .iq-baocao-page ul > li li:hover a, .iq-baocao-page ul > li li.active a { color: var(--iq-white); background: var(--iq-dark-3-hover-bg); }

 .dark-3 .iq-menu-bt { background: var(--iq-dark-3-hover-bg); padding: 12px 7px; margin-right: 15px; -webkit-transition: all 0.3s ease-out 0s; -moz-transition: all 0.3s ease-out 0s; -ms-transition: all 0.3s ease-out 0s; -o-transition: all 0.3s ease-out 0s; transition: all 0.3s ease-out 0s; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }

/* Dashbord2 */


/*lịch họp*/
.dark-3 .render-range {
    font-size: 20px;
}

.dark-3 .row-thong-ke-lich .title {
    font-size: 18px;
}
.dark-3 .row-thong-ke-lich .result {
    font-size: 20px;
}

.dark-3 .cs-button-group .active {
    color: var(--iq-dark-3-hover-bg) !important;
}
.dark-3 .cs-btn-action.active {
    background-color: var(--iq-dark-3-hover-bg) !important;
}