/*---------------------------------------------------------------------
Variable
-----------------------------------------------------------------------*/

:root {
  /* --iq-card-shadow-1:rgba(226, 190, 253,.15);
  --iq-card-shadow-2:rgba(226, 190, 253,.15); */
  --iq-card-shadow-1: rgb(25 42 70 / 6%);
  --iq-card-shadow-2: rgb(25 42 70 / 6%);
  --iq-dropdown-shadow:rgba(0, 0, 0,.05);
  --iq-title-text: #555770;
  --iq-body-text: #555770;
  --iq-body-bg : #fbf5ff;
  --iq-card-bg: #fff;
  --iq-dropdown-bg: #fff;
  --iq-dropdown-border: #fff;
  --iq-bg-dark-bg: #6d73f6;  /* pending  not give dark mode */
  --iq-bg-light-color: #FDFAFF; /* pending  not give*/
  --iq-primary: #991EF9;
  --iq-primary-light: #E2BEFD;
  --iq-primary-dark: #5E04A4;
  --iq-secondary: #FF7A29;
  --iq-secondary-light: #FFDFCC;
   --iq-secondary-dark: #CC4D00;
  --iq-success: #06C270;
  --iq-success-light: #83FBC7;
  --iq-success-dark: #036339;
  --iq-warning: #FAD02E;
  --iq-warning-light: #FEF4CD;
  --iq-warning-dark: #957704;
  --iq-danger: #FF2929;
  --iq-danger-light: #FFB3B3;
  --iq-danger-dark: #A30000;
  --iq-info: #00CFDE;
  --iq-info-light: #99F8FF;
  --iq-info-dark: #008F99;
  --iq-dark: #2E2138;
  --iq-light: #FDFAFF;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-cyan: #0cd2e3;
  --iq-icon-color: #8c91b6;  /* pending icon and text */
  --iq-light-primary: #991EF940;
  --iq-light-secondary: #FF7A2940;
  --iq-light-success: #06C27040;
  --iq-light-danger: #FF292940;
  --iq-light-warning: #FAD02E40;
  --iq-light-info: #00CFDE40;
  --iq-light-dark: #f0efef;   /* pending  not give*/
  --iq-cobalt-blue: #3f79f1;
  --iq-spring-green: #1be1b3;
  --iq-amber: #f4b72a;
  --iq-pink: #FF5DCD;
  --iq-blue-dark: #5a61fd;  /* pending dark mode sidebar */
  --iq-color-light: #edf3ff;
  --iq-progress-light: #eef1f7;
  --iq-light-border: #f2edff;
  --iq-dark-border: #d7dbda;
}

/* Dark 2 */
:root{
  --iq-dark-2-title-text: #A3AFBD;
  /* --iq-dark-2-body-text: #A3AFBD; */
  --iq-dark-2-body-text: #FFF;
  --iq-dark-2-body-bg :#1B2631;
  --iq-dark-2-active :#1B263126;
  --iq-dark-2-card-bg: #213343;
  --iq-dark-2-hover-bg:#475F7B;
  --iq-dark-2-icon-color:#A3AFBD;
  --iq-dark-2-shadow-1:rgba(24,20,31,.1);
  --iq-dark-2-shadow-2:rgba(24,20,31,.15)

}

/* Dark 3 */
:root{
  --iq-dark-3-title-text: #eeeeee;
  --iq-dark-3-body-text: #eeeeee;
  --iq-dark-3-body-bg :#222831;
  --iq-dark-3-card-bg: #393e46;
  --iq-dark-3-hover-bg:#475F7B;
  --iq-dark-3-icon-color:#A3AFBD;
  --iq-dark-3-shadow-1:rgba(24,20,31,.1);
  --iq-dark-3-shadow-2:rgba(24,20,31,.15)

}

/* Dark Variable */
:root {
  --iq-dark-title-text: #fff;
  --iq-dark-body-text: #fff;
  --iq-dark-body-bg :rgba(34,31,58,1);
  --iq-dark-card-bg: rgba(36,36, 62,1);
  --iq-dropdown-bg: #fff;
  --iq-dropdown-border: #fff;
  --iq-dark-hover-bg:rgba(41,42,72,1);
  --iq-dark-icon-color:rgba(122,102,153,1);
  --iq-dark-shadow-1:rgba(24,20,31,.1);
  --iq-dark-shadow-2:rgba(24,20,31,.15)
}


/* Light 2 Variable */
:root {
  --iq-light-2: #F2F4F4;
  --iq-primary-light2:#F2F4F4;
  --iq-light2-card-bg:#FFF;
  --iq-light2-hover-bg:#8494A7;
  --iq-light2-body-text: #8494A7;
  --iq-light2-white: #FFF;
  --iq-gray: #475F7B;
  --iq-light2-icon-color:#8494A7;
  --iq-light2-search-bg:#8494A733;
  --iq-light2-notification: #A30000;
  --iq-light2-box-notfi:#FFF;
}

/* Light 3 Variable */
:root {
  --iq-light-3: #76767633;
  --iq-primary-light3:#F2F4F4;
  --iq-light3-card-bg:#242633;
  --iq-light2-hover-bg:#8494A7;
  --iq-light2-body-text: #8494A7;
  --iq-light2-white: #FFF;
  --iq-gray: #475F7B;
  --iq-light3-icon-color:#ccc;
  --iq-light2-search-bg:#8494A733;
  --iq-light2-notification: #A30000;
  --iq-light2-box-notfi:#FFF;
}