<template>
    <div class="box-an-ninh-mang">
        <iframe
            :src="`http://dnai-khdt-temp.vhtcddh.com/soc/center.html`"
            width="100%"
            height="100%"
            frameborder="0" >
           </iframe>
    </div>
</template>
<script>
import { core } from '@/config/pluginInit'
export default ({
  name: 'AnNinhMang',
  mounted () {
    core.index()
  }
})
</script>
<style scoped>
.box-an-ninh-mang{
    height: 100vh;
    width: 100%;
}
</style>
