<template>
  <div id="chart">
    <apexchart
      type="donut"
      :height="height"
      :options="chartOptions"
      :series="series"
    >
    </apexchart>
  </div>
</template>
<script>
export default {
  name: 'BaseDonutChart',
  props: {
    height: {
      type: Number,
      default: 350
    },
    series: {
      type: Array,
      default () {
        return []
      }
    },
    categories: {
      type: Array,
      default () {
        return []
      }
    },
    colors: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      chartOptions: {
        labels: this.categories,
        chart: {
          type: 'donut',
          toolbar: {
            show: false
          }
        },
        colors: this.colors,
        tooltip: {
          enabled: false
        },
        stroke: {
          show: false
        },
        legend: {
          show: true
        },
        plotOptions: {
          pie: {
            donut: {
              labels: {
                show: true,
                name: {
                  fontSize: '10px'
                },
                value: {
                  color: '#ffffff'
                }
              }
            }
          }
        }
      }
    }
  },
  methods: {}
}
</script>
