<template>
  <div id="chart">
    <apexchart
      type="area"
      :height="height"
      :options="chartOptions"
      :series="series"
    >
    </apexchart>
  </div>
</template>
<script>
export default {
  name: 'BaseSplineAreaChart',
  props: {
    height: {
      type: Number,
      default: 350
    },
    series: {
      type: Array,
      default () {
        return []
      }
    },
    categories: {
      type: Array,
      default () {
        return []
      }
    },
    colors: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      chartOptions: {
        labels: this.categories,
        chart: {
          type: 'area',
          toolbar: {
            show: false
          }
        },
        grid: {
          show: true,
          borderColor: '#90A4AE',
          strokeDashArray: 0,
          position: 'back',
          xaxis: {
            lines: {
              show: false
            }
          },
          yaxis: {
            lines: {
              show: true
            }
          }
        },
        dataLabels: {
          enabled: true,
          offsetY: -5,
          background: {
            enabled: false,
            foreColor: '#fff',
            padding: 4,
            borderRadius: 5,
            borderWidth: 1,
            borderColor: '#fff',
            opacity: 0.9
          }
        },
        markers: {
          size: 5,
          hover: {
            size: 9
          }
        },
        colors: this.colors,
        tooltip: {
          enabled: false
        },
        yaxis: {
          show: true
        },
        xaxis: {
          show: true
        },
        stroke: {
          show: true
        },
        legend: {
          show: true
        }
      }
    }
  },
  methods: {}
}
</script>
