<template>
  <div class="h-100">
    <div>
      <Chart :options="chartOptions"></Chart>
    </div>
  </div>
</template>
<script>
import { Chart } from 'highcharts-vue'
export default {
  name: 'BasePieChart',
  components: {
    Chart
  },
  props: {
    chartData: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  data () {
    return {
      chartOptions: {}
    }
  },
  watch: {
    chartData: {
      handler () {
        this.chartOptions = {
          chart: {
            type: 'pie',
            height: '200px',
            plotShadow: false
          },
          title: {
            text: ''
          },
          tooltip: {
            crosshairs: true,
            shared: true
          },
          credits: {
            enabled: false
          },
          plotOptions: {
            pie: {
              dataLabels: {
                enabled: true,
                format: '{point.y}',
                distance: '-30%'
              }
            }
          },
          legend: {
            floating: false,
            align: 'center',
            verticalAlign: 'bottom'
          },
          series: [
            {
              type: 'pie',
              data: this.chartData,
              showInLegend: true,
              point: {
                events: {
                  click: (e) => {
                    this.pointClick(e)
                  }
                }
              }
            }
          ]
        }
      },
      immediate: true
    }
  },
  methods: {
    pointClick (e) {
      this.$emit('pointClick', e.point.options)
    }
  }
}
</script>
