<template>
  <div class="block-item__content">
    <div v-if="title">{{ title }}</div>
    <div id="chart">
      <apexchart
        type="bar"
        :height="height"
        :options="chartOptions"
        :series="series"
      >
      </apexchart>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BaseBarWithNegative',
  props: {
    height: {
      type: Number,
      default: 350
    },
    series: {
      type: Array,
      default () {
        return []
      }
    },
    title: {
      type: String,
      default: ''
    },
    categories: {
      type: Array,
      default () {
        return []
      }
    },
    colors: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      chartOptions: {
        chart: {
          type: 'bar',
          height: this.height,
          toolbar: {
            show: false
          },
          stacked: true
        },
        grid: {
          xaxis: {
            lines: {
              show: false
            }
          }
        },
        plotOptions: {
          bar: {
            horizontal: true,
            barHeight: '80%'
          }
        },
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: 1,
          colors: ['#fff']
        },
        yaxis: {
          min: -5,
          max: 5,
          title: {
            // text: 'Age',
          }
        },

        legend: {
          show: false
        },
        xaxis: {
          categories: this.categories
        },
        colors: this.colors,
        fill: {
          opacity: 1
        },
        tooltip: {
          enabled: false
        }
      }
    }
  },
  methods: {}
}
</script>
