<template>
  <div class="block-item__content">
    <div v-if="title">{{ title }}</div>
    <div id="chart">
      <apexchart
        type="bar"
        :height="height"
        :options="chartOptions"
        :series="series"
      >
      </apexchart>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BaseColumnBarChart',
  props: {
    height: {
      type: Number,
      default: 350
    },
    series: {
      type: Array,
      default () {
        return []
      }
    },
    title: {
      type: String,
      default: ''
    },
    categories: {
      type: Array,
      default () {
        return []
      }
    },
    colors: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      chartOptions: {
        chart: {
          type: 'bar',
          height: this.height,
          toolbar: {
            show: false
          },
          stacked: true
        },
        grid: {
          show: false
        },
        // title: {
        //   text: this.title,
        //   labels: {
        //     show: true,
        //     style: {
        //       color:  '#fff'
        //     },
        //   },
        // },
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '80%',
            endingShape: 'rounded',
            dataLabels: {
              position: 'top' // top, center, bottom
            }
          }
        },
        dataLabels: {
          enabled: true,
          style: {
            colors: ['#000']
          }
        },
        stroke: {
          show: true,
          width: 2
        },
        xaxis: {
          categories: this.categories,
          tickAmount: 2,
          labels: {
            show: true,
            style: {
              colors: ['#000'],
              fontSize: '9px',
              fontWeight: 400
            }
          }
        },
        fill: {
          opacity: 1
        },
        tooltip: {
          enabled: false
        }
      }
    }
  },
  methods: {}
}
</script>
