<template>
  <div class="baocao-cctv">
    <img src="./image_2021-04-22_18-37-05.png" alt="" />
  </div>
</template>
<script>
export default {
  name: 'BaoCaoCCTV'
}
</script>
<style lang="scss">
.baocao-cctv {
  img {
    width: 100%;
    height: auto;
  }
}
</style>
