<template>
  <b-container fluid>
    <b-row>
      <b-col lg="3">
        <ProjectList/>
      </b-col>
      <b-col lg="9">
        <BaoCaoThongKe />
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { core } from '../../../config/pluginInit'
import ProjectList from '../BaoCao/ProjectList'
import BaoCao from '../../../store/BaoCao'
import BaoCaoThongKe from '../BaoCao/BaoCaoThongKe'
export default {
  name: 'BaoCaoListing',
  components: { ProjectList, BaoCaoThongKe },
  beforeMount () {
    this.$store.registerModule('BaoCao', BaoCao)
  },
  beforeDestroy () {
    this.$store.unregisterModule('BaoCao')
  },
  mounted () {
    core.index()
  },
  computed: {
  }
}
</script>
<style>
</style>
