<template>
  <b-row>
    <b-col xl="4" lg="6">
      <iq-card class="p-2 chart-detail-height-33">
        <template v-slot:headerTitle>
          <a href="#" class="chart-link"><h5>Đất đai</h5></a>
          <b-row class="">
            <b-col xl="8">Diện tích đất</b-col>
            <b-col xl="4" class="text-right">26.362 ha</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Đất nông nghiệp</b-col>
            <b-col xl="4" class="text-right">7.392 ha</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Đất phi nông nghiệp</b-col>
            <b-col xl="4" class="text-right">15.244 ha</b-col>
          </b-row>
          <h6 class="mt-15 mb-25">Hiện trạng sử dụng đất</h6>
        </template>
        <template v-slot:body>
          <BaseDonutChart
            :series="dataDatDai"
            :categories="categoriesDatDai"
            :colors="['#473869', '#8C6ED0', '#B3B3B3']"
            :height="500"
          />
        </template>
      </iq-card>
    </b-col>

    <b-col xl="4" lg="6">
      <iq-card class="p-2 chart-detail-height-33">
        <template v-slot:headerTitle>
          <a href="#" class="chart-link"><h5>Dân số</h5></a>
          <b-row class="">
            <b-col xl="8">Dân số</b-col>
            <b-col xl="4" class="text-right">1.062.000 người</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Mật độ dân số</b-col>
            <b-col xl="4" class="text-right">4.030 người/km2</b-col>
          </b-row>
          <h6 class="mt-15">Tháp tuổi dân số</h6>
        </template>
        <template v-slot:body>
          <BaseBarWithNegative
            :series="dataDanSo"
            :categories="categoriesDanSo"
            :height="250"
            :colors="['#4472C4', '#FFCCFF']"
          />
        </template>
      </iq-card>
    </b-col>

    <b-col xl="4" lg="6">
      <iq-card class="p-2 chart-detail-height-33">
        <template v-slot:headerTitle>
          <a href="#" class="chart-link"><h5>Giáo dục</h5></a>
          <b-row class="">
            <b-col xl="8">Số học sinh</b-col>
            <b-col xl="4" class="text-right">25.237</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Số học sinh trên 1 giáo viên</b-col>
            <b-col xl="4" class="text-right">31</b-col>
          </b-row>
          <h6 class="mt-15 mb-25">Số trường theo các cấp học</h6>
        </template>
        <template v-slot:body>
          <BaseStakedColumnsChart
            :series="dataGiaoDuc"
            :categories="categoriesGiaoDuc"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>

    <b-col xl="4" lg="6">
      <iq-card class="p-2 chart-detail-height-33">
        <template v-slot:headerTitle>
          <a href="#" class="chart-link"><h5>Y tế</h5></a>
          <b-row class="">
            <b-col xl="8">Số cở sở y tế</b-col>
            <b-col xl="4" class="text-right">1.248</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Số giường bệnh viện vạn dân</b-col>
            <b-col xl="4" class="text-right">30</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Số bác sỹ trên vạn dân</b-col>
            <b-col xl="4" class="text-right">11</b-col>
          </b-row>
          <h6 class="mt-15 mb-25">Tỷ lệ dân số tham gia BHYT</h6>
        </template>
        <template v-slot:body>
          <BaseColumnBarChart
            :series="dataYTe"
            :categories="categoriesYear"
            :height="250"
            :colors="['#473869']"
          />
        </template>
      </iq-card>
    </b-col>

    <b-col xl="4" lg="6">
      <iq-card class="p-2 chart-detail-height-33">
        <template v-slot:headerTitle>
          <a href="#" class="chart-link"><h5>Doanh nghiệp</h5></a>
          <b-row class="">
            <b-col xl="8">Số lao động trong các doanh nghiệp</b-col>
            <b-col xl="4" class="text-right">416.827</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Lợi nhuận trước thuế của DN</b-col>
            <b-col xl="4" class="text-right">35.098 tỷ VND</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Thu nhập của người lao động trong DN</b-col>
            <b-col xl="4" class="text-right">6.71 triệu VND</b-col>
          </b-row>
          <h6 class="mt-15 mb-25">Số DN đang hoạt động</h6>
        </template>
        <template v-slot:body>
          <BaseColumnBarChart
            :series="dataDoanhNghiep"
            :categories="categoriesYear"
            :colors="['#473869']"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>

    <b-col xl="4" lg="6">
      <iq-card class="p-2 chart-detail-height-33">
        <template v-slot:headerTitle>
          <a href="#" class="chart-link"><h5>Nông nghiệp</h5></a>
          <b-row class="">
            <b-col xl="8">Số trang trại</b-col>
            <b-col xl="4" class="text-right">3</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Sản lượng lương thực</b-col>
            <b-col xl="4" class="text-right">0,95kg/người</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Diện tích trồng cây lương thực</b-col>
            <b-col xl="4" class="text-right">196.5 ha</b-col>
          </b-row>
          <h6 class="mt-15 mb-25">Diện tích đất đai nông nghiệp</h6>
        </template>
        <template v-slot:body>
          <BaseColumnBarChart
            :series="dataNongNgiep"
            :categories="categoriesYear"
            :colors="['#8D6FD1']"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>
  </b-row>
</template>
<script>
import BaseColumnBarChart from '@/components/core/charts/BaseColumnBarChart'
import BaseDonutChart from '@/components/core/charts/BaseDonutChart'
import BaseStakedColumnsChart from '@/components/core/charts/BaseStakedColumnsChart'
import BaseBarWithNegative from '@/components/core/charts/BaseBarWithNegative'

export default {
  name: 'BaoCaoTPBienHoa',
  components: {
    BaseColumnBarChart,
    BaseDonutChart,
    BaseStakedColumnsChart,
    BaseBarWithNegative
  },
  data () {
    return {
      dataDanSo: [
        {
          name: 'Males',
          data: [1, 1.1, 1.8, 3.3, 4.1, 4.3, 4.1, 3.8, 3.0]
        },
        {
          name: 'Females',
          data: [-1, -1.1, -1.8, -3.3, -4.1, -4.3, -4.1, -3.8, -3.0]
        }
      ],
      categoriesDanSo: [
        '80+',
        '70-79',
        '60-69',
        '50-59',
        '40-49',
        '30-39',
        '20-29',
        '10-19',
        '0-9'
      ],
      dataGiaoDuc: [
        {
          name: 'Đạt chuẩn QG',
          data: [21, 35, 30, 17]
        },
        {
          name: 'Chưa đạt chuẩn',
          data: [34, 26, 14, 8]
        }
      ],
      dataYTe: [
        {
          data: [65.0, 78.0, 79.0, 85.0, 87.0]
        }
      ],
      categoriesGiaoDuc: ['Mầm non', 'Tiểu học', 'THCS', 'THPT'],
      dataDatDai: [57.83, 28.04, 14.13],
      categoriesDatDai: ['Phi nông nghiệp', 'Nông nghiệp', 'Chưa sử dụng'],
      dataNongNgiep: [
        {
          data: [9.522, 9.01, 8.9, 8.601, 7.392]
        }
      ],
      dataDoanhNghiep: [
        {
          data: [5.612, 5.746, 8.233, 8.857, 10.682]
        }
      ],
      categoriesYear: [2016, 2017, 2018, 2019, 2020]
    }
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss" scoped>
.donut-chart-detail {
  height: 25.8rem;
}
.chart-detail-height-33{
  height: 35rem;
}
</style>
