<template>
  <b-row>
    <b-col xl="6">
      <iq-card class="p-2 height-33">
        <template v-slot:headerTitle>
          <a
            href="https://app.powerbi.com/view?r=eyJrIjoiZGE0NDE0MTktMDA1ZC00YWVmLTg1ZGMtZTAzNTlkN2I2ZjU5IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D"
            class="chart-link"
          >
            <h5>Kinh tế</h5>
          </a>
          <b-row class="">
            <b-col xl="8">Tổng sản phẩm trên địa bàn</b-col>
            <b-col xl="4" class="text-right">210,5 nghìn tỷ VND</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Chỉ số sản xuất công nghiệp</b-col>
            <b-col xl="4" class="text-right">+6,2%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Đầu tư trực tiếp nước ngoài</b-col>
            <b-col xl="4" class="text-right">1.247,8 triệu USD</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tổng mức bán lẻ HH&DV</b-col>
            <b-col xl="4" class="text-right">127 nghìn tỷ VND</b-col>
          </b-row>
          <div class="mt-15 mb-25"><h6>Cơ cấu tổng giá trị tăng</h6></div>
        </template>
        <template v-slot:body>
          <BaseDonutChart
            :series="dataKinhTe"
            :categories="categoriesKinhTe"
            :colors="['#6A539D', '#A48CDA', '#CCCCCC']"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>
    <b-col xl="6">
      <iq-card class="p-2 height-33">
        <template v-slot:headerTitle>
          <a
            href="https://app.powerbi.com/view?r=eyJrIjoiOTQ2MTVlYTAtODJjYS00NWFmLTlmYjQtNzk0ZDlkNjhmMDM1IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D"
            class="chart-link"
            ><h5>Văn hóa - Xã hội</h5></a
          >
          <b-row class="">
            <b-col xl="8">Mức giảm tỷ lệ hộ nghèo</b-col>
            <b-col xl="4" class="text-right">0.25%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Mức giảm tỷ lệ thất nghiệp ở thành thị</b-col>
            <b-col xl="4" class="text-right">0,31%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ lao động qua đào tạo nghề</b-col>
            <b-col xl="4" class="text-right">64,21%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ tuyển sinh từ trung cấp nghề trở lên</b-col>
            <b-col xl="4" class="text-right">24,78%</b-col>
          </b-row>
          <div class="mt-15 mb-25">
            <h6>Giảm tỷ lệ hộ nghèo so kế hoạch</h6>
          </div>
        </template>
        <template v-slot:body>
          <BaseSplineAreaChart
            :series="dataVHXH"
            :categories="categoriesYear"
            :colors="['#F8961E', '#A48CDA']"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>
    <b-col xl="6">
      <iq-card class="p-2 height-33">
        <template v-slot:headerTitle>
          <a
            href="https://app.powerbi.com/view?r=eyJrIjoiNzJiM2VmMWQtMWQ0My00NjMyLWFmODItMTc5Nzc5NWEzYTRlIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D"
            class="chart-link"
            ><h5>Môi trường</h5></a
          >
          <b-row class="">
            <b-col xl="8">Tỷ lệ xử lý cơ sở gây ô nhiễm môi trường</b-col>
            <b-col xl="4" class="text-right">100%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8"
              >Tỷ lệ KCN có hệ thống xử lý nước thải đạt chuẩn</b-col
            >
            <b-col xl="4" class="text-right">100%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ KCN có hệ thống quan trắc nước thải</b-col>
            <b-col xl="4" class="text-right">94%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ che phủ rừng</b-col>
            <b-col xl="4" class="text-right">31%</b-col>
          </b-row>
          <div class="mt-15 mb-25">
            <h6>Số KCN có hệ thống quan trắc nước thải tự động</h6>
          </div>
        </template>
        <template v-slot:body>
          <BaseSplineAreaChart
            :series="dataMT"
            :categories="categoriesYear"
            :colors="['#B5179E', '#4895EF']"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>
    <b-col xl="6">
      <iq-card class="p-2 height-33">
        <template v-slot:headerTitle>
          <a
            href="https://app.powerbi.com/view?r=eyJrIjoiOGYyYTBlN2EtOGFlNS00Y2Q5LTgxYTEtMmRkNTBjNTBiZjhjIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D"
            class="chart-link"
            ><h5>Quốc phòng an ninh</h5></a
          >
          <b-row class="">
            <b-col xl="8">Tỷ lệ giải quyết tin báo, tố giác tội phạm</b-col>
            <b-col xl="4" class="text-right">79,51%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ điều tra, khám phá các loại án</b-col>
            <b-col xl="4" class="text-right">83,45%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ điều tra án rất, đặc biệt nghiêm trọng</b-col>
            <b-col xl="4" class="text-right">86,53%</b-col>
          </b-row>
          <b-row class="">
            <b-col xl="8">Tỷ lệ thi hành xong án dân sự</b-col>
            <b-col xl="4" class="text-right">73,64%</b-col>
          </b-row>
          <div class="mt-15 mb-25"><h6>Số vụ tội phạm hình sự</h6></div>
        </template>
        <template v-slot:body>
          <BaseColumnBarChart
            :series="dataQPAN"
            :categories="categoriesYear"
            :colors="['#6A539D']"
            :height="250"
          />
        </template>
      </iq-card>
    </b-col>
  </b-row>
</template>
<script>
import BaseDonutChart from '@/components/core/charts/BaseDonutChart'
import BaseSplineAreaChart from '@/components/core/charts/BaseSplineAreaChart'
import BaseColumnBarChart from '@/components/core/charts/BaseColumnBarChart'

export default {
  name: 'BaoCaoVPUBNDTinh',
  components: {
    BaseDonutChart,
    BaseSplineAreaChart,
    BaseColumnBarChart
  },
  data () {
    return {
      dataQPAN: [
        {
          data: [921, 912, 881, 902, 836]
        }
      ],
      dataMT: [
        {
          name: 'Thực hiện',
          data: [11, 14, 16, 25, 29]
        },
        {
          name: 'Kế hoạch',
          data: [15, 18, 20, 28, 30]
        }
      ],
      dataVHXH: [
        {
          name: 'Thực hiện',
          data: [1.0, 0.4, 0.2, 0.3, 0.25]
        },
        {
          name: 'Kế hoạch',
          data: [1.0, 0.31, 0.2, 0.2, 0.19]
        }
      ],
      categoriesVHXH: [
        '85+',
        '80-84',
        '75-79',
        '70-74',
        '65-69',
        '60-64',
        '55-59',
        '50-54',
        '45-49',
        '40-44',
        '35-39',
        '30-34',
        '25-29',
        '20-24',
        '15-19',
        '10-14',
        '5-9',
        '0-4'
      ],
      dataGiaoDuc: [
        {
          name: 'Đạt chuẩn QG',
          data: [21, 35, 30, 17]
        },
        {
          name: 'Chưa đạt chuẩn',
          data: [34, 26, 14, 8]
        }
      ],
      dataYTe: [
        {
          data: [65.0, 78.0, 79.0, 85.0, 87.0]
        }
      ],
      categoriesGiaoDuc: ['Mầm non', 'Tiểu học', 'THCS', 'THPT'],
      dataKinhTe: [65.6, 26.5, 7.9],
      categoriesKinhTe: ['Phi nông nghiệp', 'Nông nghiệp', 'Chưa sử dụng'],
      categoriesYear: [2016, 2017, 2018, 2019, 2020]
    }
  },
  computed: {},
  methods: {}
}
</script>
<style lang="scss">
.height-33 {
  height: 33rem;
}

</style>
