<template>
  <b-row>
    <b-col lg="6" md="6">
      <iq-card class="chart-data">
        <template v-slot:headerTitle>
          <a class="chart-link" :href="thuNganSachNhaNuoc.link" target="_blank">
            <h5>{{ thuNganSachNhaNuoc.title }}</h5>
          </a>
          <div
            class="description-item"
            v-for="item in thuNganSachNhaNuoc.descriptions"
            :key="item.key"
          >
            <div class="left-item">
              {{ item.key }}
            </div>
            <div class="right-item">
              {{ item.value + ' ' + item.unit }}
            </div>
          </div>
          <div class="chart-sub-title mt-15 mb-25">
            <h6>{{ thuNganSachNhaNuoc.subtitle }}</h6>
          </div>
        </template>
        <template v-slot:body>
          <ApexChart
            element="bar"
            height="350"
            :chartOption="thuNganSachNhaNuoc.bodyData"
          />
        </template>
      </iq-card>
    </b-col>
    <b-col lg="6" md="6">
      <iq-card class="chart-data">
        <template v-slot:headerTitle>
          <a class="chart-link" :href="chiNganSachNhaNuoc.link" target="_blank">
            <h5>{{ chiNganSachNhaNuoc.title }}</h5>
          </a>
          <div
            class="description-item"
            v-for="item in chiNganSachNhaNuoc.descriptions"
            :key="item.key"
          >
            <div class="left-item">
              {{ item.key }}
            </div>
            <div class="right-item">
              {{ item.value + ' ' + item.unit }}
            </div>
          </div>
          <div class="chart-sub-title mt-15 mb-25">
            <h6>{{ chiNganSachNhaNuoc.subtitle }}</h6>
          </div>
        </template>
        <template v-slot:body>
          <HighChart :option="chiNganSachNhaNuoc.bodyData" />
        </template>
      </iq-card>
    </b-col>
    <b-col lg="6" md="6">
      <iq-card class="chart-data">
        <template v-slot:headerTitle>
          <a
            class="chart-link"
            :href="thuNganSachDiaPhuong.link"
            target="_blank"
          >
            <h5>{{ thuNganSachDiaPhuong.title }}</h5>
          </a>
          <div
            class="description-item"
            v-for="item in thuNganSachDiaPhuong.descriptions"
            :key="item.key"
          >
            <div class="left-item">
              {{ item.key }}
            </div>
            <div class="right-item">
              {{ item.value + ' ' + item.unit }}
            </div>
          </div>
          <div class="chart-sub-title mt-15 mb-25">
            <h6>{{ thuNganSachDiaPhuong.subtitle }}</h6>
          </div>
        </template>
        <template v-slot:body>
          <HighChart :option="thuNganSachDiaPhuong.bodyData" />
        </template>
      </iq-card>
    </b-col>
    <b-col lg="6" md="6">
      <iq-card class="chart-data">
        <template v-slot:headerTitle>
          <a
            class="chart-link"
            :href="chiChoChuongTrinhMucTieu.link"
            target="_blank"
          >
            <h5>{{ chiChoChuongTrinhMucTieu.title }}</h5>
          </a>
          <div
            class="description-item"
            v-for="item in chiChoChuongTrinhMucTieu.descriptions"
            :key="item.key"
          >
            <div class="left-item">
              {{ item.key }}
            </div>
            <div class="right-item">
              {{ item.value + ' ' + item.unit }}
            </div>
          </div>
          <div class="chart-sub-title mt-15 mb-25">
            <h6>
              {{ chiChoChuongTrinhMucTieu.subtitle }}
            </h6>
          </div>
        </template>
        <template v-slot:body>
          <HighChart :option="chiChoChuongTrinhMucTieu.bodyData" />
        </template>
      </iq-card>
    </b-col>
  </b-row>
</template>
<script>
import ApexChart from '@/components/core/charts/ApexChart'
import HighChart from '@/components/core/charts/HighChart'

export default {
  name: 'SoTaiChinh',
  components: {
    ApexChart,
    HighChart
  },
  data () {
    return {
      thuNganSachNhaNuoc: {
        title: 'Thu cân đối ngân sách nhà nước',
        link:
          'https://app.powerbi.com/view?r=eyJrIjoiYTllZTA1ZGMtOTFlNi00NTYxLWExYzUtNzFlYTE5NTE1NzA2IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
        element: 'thuNganSachNhaNuoc',
        subtitle: 'Thu từ hoạt động xuất nhập khẩu',
        descriptions: [
          {
            key: 'Tổng thu cân đối NSNN',
            value: '55.378',
            unit: 'tỷ VND'
          },
          {
            key: 'Thu nội địa',
            value: '40691',
            unit: 'tỷ VND'
          }
        ],
        bodyData: {
          chart: { height: 412, type: 'bar', backgroundColor: null },
          plotOptions: {
            bar: {
              horizontal: true,
              dataLabels: { position: 'top' },
              distributed: true
            }
          },
          dataLabels: {
            enabled: true,
            offsetX: -25,
            formatter: function (val) {
              return val + ' tỷ VND'
            }
          },
          series: [{ data: [4356, 3606, 2404, 2089, 1122, 1110] }],
          xaxis: {
            categories: [
              'Thu thuế GTGT từ hàng NK',
              'Thu thuế TTĐB từ hàng NK',
              'Thu thuế khác',
              'Thu thuế nhập khẩu',
              'Thu thuế BVMT từ hàng NK',
              'Thu thuế xuất khẩu'
            ]
          }
        }
      },
      chiNganSachNhaNuoc: {
        title: 'Chi cân đối ngân sách nhà nước',
        link:
          'https://app.powerbi.com/view?r=eyJrIjoiYTllZTA1ZGMtOTFlNi00NTYxLWExYzUtNzFlYTE5NTE1NzA2IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
        element: 'chiNganSachNhaNuoc',
        subtitle: 'Thu từ hoạt động xuất nhập khẩu',
        descriptions: [
          {
            key: 'Tổng chi cân đối NSNN',
            value: '19.518',
            unit: 'tỷ VND'
          },
          {
            key: 'Chi thường xuyên',
            value: '12.456',
            unit: 'tỷ VND'
          },
          {
            key: 'Chi trả nợ lãi vay',
            value: '20,4',
            unit: 'tỷ VND'
          }
        ],
        bodyData: {
          chart: {
            zoomType: 'xy',
            backgroundColor: null
          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          xAxis: [
            {
              categories: [
                'Chi đầu tư cho các dự án',
                'Chi đầu tư phát triển khác',
                'Chi đầu tư và hỗ trợ vốn'
              ],
              crosshair: true
            }
          ],
          yAxis: [
            {
              labels: {},
              title: {
                text: ''
              }
            },
            {
              title: {
                text: '(tỷ VND)'
              },
              labels: {},
              opposite: true
            }
          ],
          tooltip: {
            shared: true
          },
          legend: {
            layout: 'vertical',
            align: 'left',
            x: 1000,
            verticalAlign: 'top',
            y: 0,
            floating: true,
            backgroundColor: 'rgba(255,255,255,0.25)'
          },
          series: [
            {
              name: '',
              type: 'column',
              yAxis: 1,
              data: [1033, 767, 700],
              color: '#0084ff',
              tooltip: {
                valueSuffix: ' tỷ VND'
              }
            }
          ]
        }
      },
      thuNganSachDiaPhuong: {
        title: 'Thu ngân sách địa phương',
        link:
          'https://app.powerbi.com/view?r=eyJrIjoiYTllZTA1ZGMtOTFlNi00NTYxLWExYzUtNzFlYTE5NTE1NzA2IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
        element: 'thuNganSachDiaPhuong',
        subtitle: 'Thu bổ sung từ ngân sách cấp trên',
        descriptions: [
          {
            key: 'Tổng thu NSĐP',
            value: '38.444',
            unit: 'tỷ VND'
          },
          {
            key: 'Thu NSĐP hưởng theo phân cấp',
            value: '24.543',
            unit: 'tỷ VND'
          },
          {
            key: 'Thu chuyển nguồn',
            value: '1.153',
            unit: 'tỷ VND'
          }
        ],
        bodyData: {
          chart: {
            zoomType: 'xy',
            backgroundColor: null
          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          xAxis: [
            {
              categories: [
                'Thu bổ sung mục tiêu',
                'Thu bổ sung cân đối',
                'Thu từ ngân sách cấp dưới nộp lên'
              ],
              crosshair: true
            }
          ],
          yAxis: [
            {
              labels: {},
              title: {
                text: ''
              }
            },
            {
              title: {
                text: '(tỷ VND)'
              },
              labels: {},
              opposite: true
            }
          ],
          tooltip: {
            shared: true
          },
          legend: {
            layout: 'vertical',
            align: 'left',
            x: 1000,
            verticalAlign: 'top',
            y: 0,
            floating: true,
            backgroundColor: 'rgba(255,255,255,0.25)'
          },
          series: [
            {
              name: '',
              type: 'column',
              yAxis: 1,
              data: [7758, 4469, 0],
              color: '#0084ff',
              tooltip: {
                valueSuffix: ' tỷ VND'
              }
            }
          ]
        }
      },
      chiChoChuongTrinhMucTieu: {
        title: 'Chi cho các chương trình mục tiêu',
        link:
          'https://app.powerbi.com/view?r=eyJrIjoiYTllZTA1ZGMtOTFlNi00NTYxLWExYzUtNzFlYTE5NTE1NzA2IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
        element: 'chiChoChuongTrinhMucTieu',
        subtitle: 'Chi từ nguồn bổ sung mục tiêu từ ngân sách trung ương',
        descriptions: [
          {
            key: 'Chi các chương trình mục tiêu quốc gia',
            value: '3.185',
            unit: 'tỷ VND'
          },
          {
            key: 'Chi các chương trình mục tiêu, nhiệm vụ',
            value: '3.185',
            unit: 'tỷ VND'
          }
        ],
        type: 'line',
        bodyData: {
          chart: {
            zoomType: 'xy',
            backgroundColor: null
          },
          title: {
            text: ''
          },
          subtitle: {
            text: ''
          },
          xAxis: [
            {
              categories: [
                '1',
                '2',
                '3',
                '4',
                '5',
                '6',
                '7',
                '8',
                '9',
                '10',
                '11',
                '12'
              ],
              crosshair: true
            }
          ],
          yAxis: [
            {
              labels: {},
              title: {
                text: '(tỷ VND)'
              }
            },
            {
              title: {
                text: ''
              },
              labels: {},
              opposite: true
            }
          ],
          tooltip: {
            shared: true
          },
          legend: {
            layout: 'vertical',
            align: 'left',
            x: 20,
            verticalAlign: 'top',
            y: 0,
            floating: true,
            backgroundColor: 'rgba(255,255,255,0.25)'
          },
          series: [
            {
              name: 'Chi cho các chương trình mục tiêu',
              type: 'spline',
              data: [594, 560, 510, 424, 420, 356, 118, 115, 86, 0, 0, 0],
              color: '#00ca00',
              tooltip: {
                valueSuffix: ' tỷ VND'
              }
            }
          ]
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.chart-data {
  height: 41rem;
  .chart-link {
    text-decoration: none;
    h4 {
      color: var(--iq-primary);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.chart-sub-title {
  margin-top: 2rem;
}
</style>
