<template>
  <div>
    <b-row cols="2">
      <b-col>
        <iq-card class="fixCard height-38">
          <template v-slot:headerTitle>
            <a href="#" class="chart-link"><h5>Thu - Chi ngân sách</h5></a>
            <div class="description-item">
              <div class="left-item">Tổng thu ngân sách</div>
              <div class="right-item">52.844 Tỷ VND</div>
            </div>
            <div class="description-item">
              <div class="left-item">Tổng chi ngân sách</div>
              <div class="right-item">31.138 Tỷ VND</div>
            </div>
            <div class="description-item">
              <div class="left-item">Ngân sách còn lại</div>
              <div class="right-item">30.012 Tỷ VND</div>
            </div>
            <div class="chart-sub-title mt-15 mb-25">
              <h6>Thu - Chi ngân sách qua các năm</h6>
            </div>
          </template>
          <HighChart :option="data1" />
        </iq-card>
      </b-col>
      <b-col>
        <iq-card class="fixCard height-38">
          <template v-slot:headerTitle>
            <a href="#" class="chart-link"><h5>Đầu tư công</h5></a>
            <div class="description-item">
              <div class="left-item">Vốn thực hiện</div>
              <div class="right-item">24.700 Tỷ VND</div>
            </div>
            <div class="description-item">
              <div class="left-item">Giải ngân vốn ngân sách địa phương</div>
              <div class="right-item">96 %</div>
            </div>
            <div class="description-item">
              <div class="left-item">Giải ngân vốn ngân sách trung ương</div>
              <div class="right-item">98,9 %</div>
            </div>
            <div class="chart-sub-title mt-15 mb-25">
              <h6>Giải ngân vốn đầu tư công</h6>
            </div>
          </template>
          <HighChart :option="data2" /> </iq-card
      ></b-col>
      <b-col>
        <iq-card class="fixCard height-38">
          <template v-slot:headerTitle>
            <a href="#" class="chart-link"><h5>Xuất khẩu - Nhập khẩu</h5></a>
            <div class="description-item">
              <div class="left-item">Kim ngạch xuất khẩu</div>
              <div class="right-item">6.2 Tỷ USD</div>
            </div>
            <div class="description-item">
              <div class="left-item">Kim ngạch nhập khẩu</div>
              <div class="right-item">2.6 Tỷ USD</div>
            </div>
            <div class="description-item">
              <div class="left-item">Thặng dư thương mại</div>
              <div class="right-item">3.6 Tỷ USD</div>
            </div>
            <div class="chart-sub-title mt-15 mb-25">
              <h6>Giá trị xuất khẩu theo mặt hàng (Triệu USD)</h6>
            </div>
          </template>
          <ApexChart element="bar" height="350" :chartOption="data3" />
        </iq-card>
      </b-col>
      <b-col>
        <iq-card class="fixCard height-38">
          <template v-slot:headerTitle>
            <a href="#" class="chart-link"><h5>Đăng ký doanh nghiệp</h5></a>
            <div class="description-item">
              <div class="left-item">Số doanh nghiệp đang hoạt động</div>
              <div class="right-item">37.500</div>
            </div>
            <div class="description-item">
              <div class="left-item">Số lao động đăng ký</div>
              <div class="right-item">903.730</div>
            </div>
            <div class="description-item">
              <div class="left-item">Số vốn đăng ký</div>
              <div class="right-item">39.780 Tỷ VND</div>
            </div>
            <div class="chart-sub-title mt-15 mb-25">
              <h6>Số doanh nghệp thành lập mới</h6>
            </div>
          </template>
          <HighChart :option="data4" /> </iq-card
      ></b-col>
      <b-col>
        <iq-card class="fixCard height-38">
          <template v-slot:headerTitle>
            <a href="#" class="chart-link"><h5>Đầu tư nước ngoài</h5></a>
            <div class="description-item">
              <div class="left-item">Tổng vốn đăng ký</div>
              <div class="right-item">1.341,7 Triệu USD</div>
            </div>
            <div class="description-item">
              <div class="left-item">Tổng vốn thực hiện</div>
              <div class="right-item">1.247,8 Triệu USD</div>
            </div>
            <div class="description-item">
              <div class="left-item">Số dự án cấp mới</div>
              <div class="right-item">78</div>
            </div>
            <div class="description-item">
              <div class="left-item">Số dự án điều chỉnh vốn</div>
              <div class="right-item">126</div>
            </div>
            <div class="chart-sub-title mt-15 mb-25">
              <h6>Vốn đăng ký (Triệu USD)</h6>
            </div>
          </template>
          <BaseStakedColumnsChart
            :series="data5.o1"
            :categories="data5.o2"
            :height="250"
          />
        </iq-card>
      </b-col>
      <b-col>
        <iq-card class="fixCard height-38">
          <template v-slot:headerTitle>
            <a href="#" class="chart-link"><h5>Đầu tư trong nước</h5></a>
            <div class="description-item">
              <div class="left-item">Tổng vốn đăng ký</div>
              <div class="right-item">32.239,4 Tỷ VN</div>
            </div>
            <div class="description-item">
              <div class="left-item">Tổng vốn thực hiện</div>
              <div class="right-item">29.982,7 Tỷ VND</div>
            </div>
            <div class="description-item">
              <div class="left-item">Số dự án cấp mới</div>
              <div class="right-item">112</div>
            </div>
            <div class="description-item">
              <div class="left-item">Số dự án điều chỉnh vốn</div>
              <div class="right-item">16</div>
            </div>
            <div class="chart-sub-title mt-15 mb-25">
              <h6>Vốn đăng ký (Tỷ VND)</h6>
            </div>
          </template>
          <BaseStakedColumnsChart
            :series="data6.o1"
            :categories="data6.o2"
            :height="250"
          />
        </iq-card>
      </b-col>
    </b-row>
    <pdf src="/BCCP.pdf"></pdf>
  </div>
</template>
<script>
import HighChart from '@/components/core/charts/HighChart'
import ApexChart from '@/components/core/charts/ApexChart'
import BaseStakedColumnsChart from '@/components/core/charts/BaseStakedColumnsChart'
// import AmCharts from '@/components/core/charts/AmChart'
// import ApexCharts from 'vue-apexcharts'
import pdf from 'vue-pdf'
export default {
  name: 'BaoCaoChinhPhu',
  components: { pdf, HighChart, ApexChart, BaseStakedColumnsChart },
  data () {
    return {
      data1: {
        chart: {
          zoomType: 'xy',
          backgroundColor: null
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        xAxis: [
          {
            categories: ['2016', '2017', '2018', '2019', '2020'],
            crosshair: true
          }
        ],
        yAxis: [
          {
            // Primary yAxis
            labels: {
              // format: '{value}°C'
            },
            title: {
              text: ''
              /* style: {
                  color: Highcharts.getOptions().colors[1]
                } */
            }
          },
          {
            // Secondary yAxis
            title: {
              text: ''
              /* style: {
                  color: Highcharts.getOptions().colors[0]
                } */
            },
            labels: {
              // format: '{value} mm'
              /* style: {
                  color: Highcharts.getOptions().colors[0]
                } */
            },
            opposite: true
          }
        ],
        tooltip: {
          shared: true
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          x: 20,
          verticalAlign: 'top',
          y: 0,
          floating: true,
          backgroundColor: 'rgba(255,255,255,0.25)'
        },
        series: [
          {
            name: 'Thu ngân sách',
            type: 'column',
            yAxis: 1,
            data: [6236, 6210, 6597, 8773, 9723],
            color: '#0084ff',
            tooltip: {
              valueSuffix: ' Tỷ VND'
            }
          },
          {
            name: 'Chi ngân sách',
            type: 'spline',
            data: [2230, 3116, 1649, 4258, 6139],
            color: '#00ca00',
            tooltip: {
              valueSuffix: ' Tỷ VND'
            }
          }
        ]
      },
      data2: {
        chart: {
          zoomType: 'xy',
          backgroundColor: null
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        xAxis: [
          {
            categories: ['2016', '2017', '2018', '2019', '2020'],
            crosshair: true
          }
        ],
        yAxis: [
          {
            // Primary yAxis
            labels: {
              // format: '{value}°C'
            },
            title: {
              text: ''
              /* style: {
                  color: Highcharts.getOptions().colors[1]
                } */
            }
          },
          {
            // Secondary yAxis
            title: {
              text: ''
              /* style: {
                  color: Highcharts.getOptions().colors[0]
                } */
            },
            labels: {
              // format: '{value} mm'
              /* style: {
                  color: Highcharts.getOptions().colors[0]
                } */
            },
            opposite: true
          }
        ],
        tooltip: {
          shared: true
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          x: 1000,
          verticalAlign: 'top',
          y: 0,
          floating: true,
          backgroundColor: 'rgba(255,255,255,0.25)'
        },
        series: [
          {
            name: '',
            type: 'column',
            yAxis: 1,
            data: [85, 89, 90, 97, 99],
            color: '#0084ff',
            tooltip: {
              valueSuffix: ' %'
            }
          }
        ]
      },
      data3: {
        chart: {
          height: 385,
          type: 'bar',
          backgroundColor: null
        },
        plotOptions: {
          bar: {
            horizontal: true
          }
        },
        dataLabels: {
          enabled: false
        },
        series: [
          {
            data: [1240, 930, 744, 620, 558]
          }
        ],
        xaxis: {
          categories: [
            'Giày dép',
            'Máy móc, phụ tùng',
            'Dệt may',
            'Sản phẩm gỗ',
            'Xơ sợi dệt'
          ]
        }
      },
      data4: {
        chart: {
          zoomType: 'xy',
          backgroundColor: null
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        xAxis: [
          {
            categories: ['2016', '2017', '2018', '2019', '2020'],
            crosshair: true
          }
        ],
        yAxis: [
          {
            // Primary yAxis
            labels: {
              // format: '{value}°C'
            },
            title: {
              text: ''
              /* style: {
                  color: Highcharts.getOptions().colors[1]
                } */
            }
          },
          {
            // Secondary yAxis
            title: {
              text: ''
              /* style: {
                  color: Highcharts.getOptions().colors[0]
                } */
            },
            labels: {
              // format: '{value} mm'
              /* style: {
                  color: Highcharts.getOptions().colors[0]
                } */
            },
            opposite: true
          }
        ],
        tooltip: {
          shared: true
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          x: 1000,
          verticalAlign: 'top',
          y: 0,
          floating: true,
          backgroundColor: 'rgba(255,255,255,0.25)'
        },
        series: [
          {
            name: '',
            type: 'column',
            yAxis: 1,
            data: [5612, 5746, 8233, 8857, 10682],
            color: '#0084ff'
          }
        ]
      },
      /*  */
      data5: {
        o1: [
          {
            name: 'Vốn đăng ký cấp mới',
            data: [489, 513, 574, 621, 394]
          },
          {
            name: 'Vốn đăng ký tăng thêm',
            data: [1135, 1254, 1340, 1680, 946]
          }
        ],
        o2: ['2016', '2017', '2018', '2019', '2020']
      },
      /*  */
      data6: {
        o1: [
          {
            name: 'Vốn đăng ký cấp mới',
            data: [23578, 25249, 24631, 25878, 26771]
          },
          {
            name: 'Vốn đăng ký tăng thêm',
            data: [5894, 6057, 6212, 5348, 5868]
          }
        ],
        o2: ['2016', '2017', '2018', '2019', '2020']
      }
    }
  }
}
</script>

<style lang="scss">
.fixText {
  color: var(--iq-primary);
  text-align: left !important;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    text-decoration: revert;
  }
}
.height-38 {
  height: 38rem;
}
.fixCard {
  .iq-card-header .iq-header-title {
    & > a > h5 {
      font-size: 20px;
    }
    & > .description-item > div {
      body.dark &,
      body.dark-2 &,
      body.dark-3 & {
        color: rgba(white, 0.7);
      }
    }
  }
}
</style>
