<template>
    <div class="reports-detail">
        <div class="report-detail-title py-20">
            <div class="action-fullscreen">
                <a href="#" @click="goBack()">
                    <svg width="52" height="27" viewBox="0 0 52 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.5084 11.3226H7.45141L15.0903 3.72078C15.9426 2.87245 15.9459 1.49381 15.0975 0.641462C14.2492 -0.211 12.8705 -0.214157 12.0181 0.634059L0.64064 11.9567L0.63868 11.9587C-0.211496 12.8071 -0.214217 14.1902 0.638463 15.0413L0.640422 15.0434L12.0179 26.366C12.8702 27.2141 14.2489 27.2112 15.0973 26.3586C15.9457 25.5062 15.9424 24.1276 15.09 23.2793L7.45141 15.6775H49.5084C50.711 15.6775 51.6858 14.7026 51.6858 13.5C51.6858 12.2974 50.711 11.3226 49.5084 11.3226Z" fill="white"/>
                    </svg>

                </a>
            </div>
        </div>
        <div class="reports-detail--iframe">
            <img v-bind:src="require('@/assets/images/' + url)" alt=""/>
        </div>
    </div>
</template>
<script>
export default ({
  name: 'BaoCaoDetail',
  data () {
    return {
      fullscreen: false,
      url: '',
      layerLoc: '/app/bao-cao'
    }
  },
  created () {
    this.url = `${this.$route.query.url}.png`
    this.layerLoc = this.$route.query.layerLoc
  },
  methods: {
    fullScreen () {
      this.$refs.fullscreen.toggle()
    },
    fullscreenChange (fullscreen) {
      this.fullscreen = fullscreen
    },
    goBack () {
      if (!this.$route.query.layerLoc) {
        this.$store.dispatch('common/setLinkAction', 'dhtm')
        this.$router.push('/')
      } else {
        this.$store.dispatch('common/setLinkAction', '')
        this.$router.push('/')
      }
    }

  }
})
</script>
<style scoped lang="scss">
.reports-detail{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: #E2BEFD;
    backdrop-filter: blur(5px);
    color: white;
}

.action-fullscreen{
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
    padding-bottom: 5px;
    padding-top: 10px;
}
</style>
