<template>
  <div>
    <div class="iq-card-body p-0">
      <KeHoachDauTu v-if="typeAndUnit.unitId <= 0 && typeAndUnit.type === 3" />
      <TinhHuongKhanCap
        v-else-if="typeAndUnit.type <= 0 && typeAndUnit.unitId <= 0"
      />
      <BaoCaoVPUBNDTinh
        v-else-if="typeAndUnit.unitId <= 0 && typeAndUnit.type === 2"
      />
      <BaoCaoVPUBNDTinh
        v-else-if="typeAndUnit.unitId === -1 && typeAndUnit.type === 2"
      />
      <TinhHinhCovid19
        v-else-if="typeAndUnit.unitId === 6 && typeAndUnit.type === 2"
      />
      <BaoCaoCCTV
        v-else-if="typeAndUnit.unitId === 8 && typeAndUnit.type === 2"
      />
      <BaoCaoChinhPhu v-else-if="typeAndUnit.type === 1" />
      <BaoCaoSoTaiChinh
        v-else-if="typeAndUnit.unitId === 3 && typeAndUnit.type === 3"
      />
      <BaoCaoTPBienHoa
        v-else-if="typeAndUnit.unitId <= 0 && typeAndUnit.type === 4"
      />
      <div v-else>
        <iq-card v-if="!isDetail && items.length > 0" class="p-2">
          <b-row>
            <b-col class="d-flex" lg="3" md="6">
              <iq-card class="flex-fill mb-0">
                <template v-slot:body>
                  <div
                    class="d-flex align-items-center justify-content-between text-right"
                  >
                    <div class="icon iq-icon-box rounded-circle bg-primary">
                      <i class="ri-home-heart-line"></i>
                    </div>
                    <div>
                      <h5 class="mb-0">Tin tức khẩn cấp</h5>
                      <span
                        class="h4 text-primary mb-0 counter d-inline-block w-100"
                      >
                        153
                      </span>
                    </div>
                  </div>
                </template>
              </iq-card>
            </b-col>
            <b-col class="d-flex" lg="3" md="6">
              <iq-card class="flex-fill mb-0">
                <template v-slot:body>
                  <div
                    class="d-flex align-items-center justify-content-between text-right"
                  >
                    <div class="icon iq-icon-box rounded-circle bg-warning">
                      <i class="ri-building-line"></i>
                    </div>
                    <div>
                      <h5 class="mb-0">Cảnh báo thời tiết</h5>
                      <span
                        class="h4 text-warning mb-0 counter d-inline-block w-100"
                      >
                        15
                      </span>
                    </div>
                  </div>
                </template>
              </iq-card>
            </b-col>
            <b-col class="d-flex" lg="3" md="6">
              <iq-card class="flex-fill mb-0">
                <template v-slot:body>
                  <div
                    class="d-flex align-items-center justify-content-between text-right"
                  >
                    <div class="icon iq-icon-box rounded-circle bg-success">
                      <i class="fas fa-traffic-light"></i>
                    </div>
                    <div>
                      <h5 class="mb-0">Sự cố giao thông</h5>
                      <span
                        class="h4 text-success mb-0 counter d-inline-block w-100"
                      >
                        234
                      </span>
                    </div>
                  </div>
                </template>
              </iq-card>
            </b-col>
            <b-col class="d-flex" lg="3" md="6">
              <iq-card class="flex-fill mb-0">
                <template v-slot:body>
                  <div
                    class="d-flex align-items-center justify-content-between text-right"
                  >
                    <div class="icon iq-icon-box rounded-circle bg-success">
                      <i class="fa fa-heartbeat"></i>
                    </div>
                    <div>
                      <h5 class="mb-0">Sự cố học đường</h5>
                      <span
                        class="h4 text-success mb-0 counter d-inline-block w-100"
                      >
                        27
                      </span>
                    </div>
                  </div>
                </template>
              </iq-card>
            </b-col>
          </b-row>
        </iq-card>
        <DanhSachBaoCao :routeCallback="showBaoCaoDetail" />
      </div>
    </div>
  </div>
</template>
<script>
import DanhSachBaoCao from './DanhSachBaoCao'
import KeHoachDauTu from './KeHoachDauTu'
import TinhHuongKhanCap from './TinhHuongKhanCap'
import BaoCaoChinhPhu from './BaoCaoChinhPhu'
import BaoCaoVPUBNDTinh from './BaoCaoVPUBNDTinh'
import BaoCaoSoTaiChinh from './BaoCaoSoTaiChinh'
import BaoCaoTPBienHoa from './BaoCaoTPBienHoa'
import BaoCaoCCTV from './BaoCaoCCTV'
import TinhHinhCovid19 from './TinhHinhCovid19'
import { mapGetters } from 'vuex'
export default {
  name: 'BaoCaoThongKe',
  components: {
    DanhSachBaoCao,
    KeHoachDauTu,
    TinhHuongKhanCap,
    BaoCaoChinhPhu,
    BaoCaoVPUBNDTinh,
    BaoCaoSoTaiChinh,
    BaoCaoTPBienHoa,
    BaoCaoCCTV,
    TinhHinhCovid19
  },
  data () {
    return {
      isDetail: false
    }
  },
  computed: {
    ...mapGetters({
      typeAndUnit: 'BaoCao/getUnitIdAndType',
      items: 'BaoCao/danhSachBaoCao'
    })
  },
  methods: {
    showBaoCaoDetail (ID) {
      this.isDetail = true
      console.log(ID)
    },
    openUrl (url) {
      console.log(url)
      window.open(url, '_blank')
    }
  }
}
</script>
<style lang="scss">
.description-item {
  display: flex;
  .left-item {
    width: 60%;
  }
  .right-item {
    margin-left: 2rem;
  }
}
</style>
<style>
.iq-header-title {
  width: 100%;
}
.chart-link {
  cursor: pointer !important;
}
</style>
