<template>
  <div>
    <iq-card class="chart-data">
      <template v-slot:headerTitle>
        <a class="chart-link" v-on:click="openUrl()">
          <p class="fz-20">{{ data.title }}</p>
        </a>
        <div
          class="description-item"
          v-for="(item, index) in data.descriptions"
          :key="index"
        >
          <div class="left-item">
            {{ item.key }}
          </div>
          <div class="right-item">
            {{ item.value + ' ' + item.unit }}
          </div>
        </div>
        <div class="chart-sub-title mt-15 mb-25">
          <h6>{{ data.subtitle }}</h6>
        </div>
      </template>
      <template v-slot:body>
        <AmChart
        v-if="chartType == 1"
          :element="data.element"
          :type="data.type"
          :option="data.bodyData"
        />
        <HighChart v-if="chartType == 2" :ref="data.type" :option="data.bodyData"/>
        <ApexChart v-if="chartType == 3" :element="data.element" :chartOption="data.bodyData"/>
      </template>
    </iq-card>
  </div>
</template>
<script>
import AmChart from '../../../components/core/charts/AmChart'
import HighChart from '../../../components/core/charts/HighChart'
import ApexChart from '../../../components/core/charts/ApexChart'
export default {
  name: 'DauTuCong',
  components: { AmChart, HighChart, ApexChart },
  props: {
    data: Object,
    chartType: {
      type: Number,
      default: 1
    }
  },
  methods: {
    openUrl () {
      window.open(this.data.url, '_blank')
    }
  }
}
</script>
<style lang="scss">
.chart-data {
  .chart-link {
    p {
      color: var(--iq-primary);
      &:hover{
          text-decoration: underline;
      }
    }
  }
}
</style>
