<template>
  <div>
    <div class="email-app-details" v-bind:class="{ show: active }">
      <BaoCaoChiTiet :closeDetail="closeDetail" />
    </div>
    <div class="table">
      <div class="t-header d-flex heading-list">
        <div class="w-10">STT</div>
        <div class="w-40">Danh mục báo cáo</div>
        <div class="w-20">Ngày báo cáo</div>
        <div class="w-30">Đơn vị thực hiện</div>
      </div>
      <div class="t-body">
        <div
          class="d-flex t-body-list"
          v-for="(item, i) in items"
          :key="i"
          v-on:click="openDetail(item)"
        >
          <div class="w-10">{{ i + 1 }}</div>
          <div class="w-40">{{ item.DanhMucBaoCao }}</div>
          <div class="w-20">{{ timeConvert(item.NgayNhan) }}</div>
          <div class="w-30">{{ item.DonViThucHien }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
import { mapGetters, mapActions } from 'vuex'
import BaoCaoChiTiet from './BaoCaoChiTiet'
export default {
  name: 'DanhSachBaoCao',
  components: {
    BaoCaoChiTiet
  },
  data () {
    return {
      active: false,
      fields: [
        {
          key: 'ID',
          label: 'Mã'
        },
        {
          key: 'TenBaoCao',
          label: 'Tên báo cáo'
        },
        {
          key: 'NgayBaoCao',
          label: 'Ngày báo cáo'
        },
        {
          key: 'NoiGui',
          label: 'Nơi gửi'
        },
        {
          key: 'NoiNhan',
          label: 'Nơi nhận'
        },
        {
          key: 'TrangThai',
          label: 'Trạng thái'
        },
        {
          key: 'HoanThanh',
          label: 'Hoàn thành'
        }
      ],
      dataDoanhNghiep: [
        {
          data: [5.612, 5.746, 8.233, 8.857, 10.682]
        }
      ],
      categoriesDoanhNghiep: [2016, 2017, 2018, 2019, 2020]
    }
  },
  computed: {
    ...mapGetters({
      items: 'BaoCao/danhSachBaoCao',
      typeAndUnit: 'BaoCao/getUnitIdAndType'
    })
  },
  beforeCreate () {
    this.$store.dispatch('BaoCao/filterData', {
      type: -1,
      unitId: -1
    })
  },
  created () {
    /* if (this.items.length) {
      for (var i = 0; i < this.items.length; i++) {
        this.items[i].NgayNhan = moment(this.items[i].NgayNhan).format('DD/MM/YYYY')
      }
    } */
  },
  methods: {
    ...mapActions({
      filterData: 'BaoCao/filterData'
    }),
    rowClickHandler (record, index) {
      console.log(record, index, this.$route)
      this.routeCallback(record.ID)
    },
    openDetail (item) {
      window.open(item.Link, '_blank')
    },
    closeDetail (item) {
      this.active = false
      console.log(item)
    },
    timeConvert (val) {
      return moment(val).format('DD/MM/YYYY')
    }
  }
}
</script>
<style lang="scss" scoped>
.heading-list {
  //justify-content: space-between;
  text-transform: uppercase;
  //font-weight: bold;
  background: var(--iq-light-dark);
  padding: 0.4rem;
}
.t-body {
  overflow-x: hidden;
  max-height: 32rem;
  background: var(--iq-white);
}
.t-body-list {
  //justify-content: space-between;
  padding: 0.4rem;
  //opacity: 1;
  div {
    margin: 0.2rem;
  }
  &:hover {
    background: var(--iq-progress-light);
    cursor: pointer;
  }
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
</style>
