<template>
  <iq-card>
    <template v-slot:body>
      <div class="iq-baocao-page">
        <ul class="baocao-task-list list-bao-cao p-0 m-0">
          <li
            class="baocao-item"
            v-for="(item, index) in filteredList"
            :key="index"
            @click="selectBaoCao(index)"
            :class="
              `${
                (!$route.query.thongbao && active === index) ||
                ($route.query.thongbao && index == 1)
                  ? 'active'
                  : ''
              }`
            "
          >
            <b-link
              class="d-flex"
              href="#"
              target="_blank"
              v-on:click="showDashboard(item, -1, index)"
              ><i class="ri-stack-fill mr-2"></i>{{ item.name }}
              <!-- <span class="badge badge-primary ml-auto align-self-center">{{
                item.count
              }}</span> -->
            </b-link>
            <ul
              :id="'baocao-task' + index"
              class="sub-task mt-2 p-0"
              :class="`${active === index ? 'show' : ''}`"
            >
              <li
                v-for="(child, index1) in item.childs"
                :key="index1"
                @click="selectSubBaoCao(index1)"
                :class="`${subActive === index1 ? 'active' : ''}`"
              >
                <b-link
                  class="d-flex child-nav"
                  :href="child.href"
                  target="_blank"
                  v-on:click="showDashboard(child, index1, index)"
                  ><i
                    class="ri-checkbox-blank-circle-fill"
                    :class="'text-' + child.color"
                  />
                  <span>
                    {{ child.name }}
                  </span>
                  <!-- <span class="badge badge-info ml-auto align-self-center">{{
                    child.count
                  }}</span> -->
                </b-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </template>
  </iq-card>
</template>
<script>
export default {
  name: 'ProjectList',
  data () {
    return {
      active: 0,
      subActive: -1,
      filteredList: [
        {
          id: 1,
          name: 'Báo cáo các tình huống khẩn cấp',
          count: 3,
          childs: []
        },
        {
          id: 2,
          name: 'Báo cáo Chính phủ',
          count: 0,
          childs: []
        },
        {
          id: 3,
          name: 'Báo cáo tại UBND tỉnh',
          count: 5,
          childs: [
            {
              id: 0,
              href: '#',
              name: 'Tổng quan kinh tế xã hội tỉnh',
              count: 2,
              color: 'success'
            },
            {
              id: 1,
              href:
                'https://app.powerbi.com/view?r=eyJrIjoiZjIxYjFjNGYtZTBkMy00YWYyLThhYzYtOWZkNTBlNTZlZWViIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D&pageName=ReportSection86de30f63abab97d89ca',
              name: 'Tình hình xử lý văn bản',
              count: 2,
              color: 'success'
            },
            {
              id: 2,
              href:
                'https://app.powerbi.com/view?r=eyJrIjoiYWJiNDFhYWUtNmQ4OC00ZTk4LTk0NjItMTk4MWIzODk2N2VkIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D&pageName=ReportSectiondf723d7d7f289be20cf7',
              name: 'Tình hình thực hiện nhiệm vụ',
              count: 2,
              color: 'success'
            },
            {
              id: 3,
              href:
                'https://app.powerbi.com/view?r=eyJrIjoiYTE5MTBmMzgtOTQ3YS00OGEzLTg5YjktMDNmNjFlYjNmMTBjIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
              name: 'Giải quyết thủ tục hành chính',
              count: 2,
              color: 'success'
            },
            {
              id: 4,
              href:
                'https://app.powerbi.com/view?r=eyJrIjoiN2ViNDY2ZGItNzg1YS00ZTRkLTg2MDQtNTM1MDNkNzlhNTJhIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D&pageName=ReportSection',
              name: 'Xử lý ý kiến người dân',
              count: 2,
              color: 'success'
            },
            {
              id: 5,
              href:
                'https://app.powerbi.com/view?r=eyJrIjoiM2YwZGRhODUtNDVhOC00NzQwLWIzNDYtZWM5ZDkxNzE5ZjJlIiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
              name: 'Báo cáo thống kê lịch họp',
              count: 2,
              color: 'success'
            },
            {
              id: 6,
              href: '',
              name: 'Báo cáo tình hình Covid-19',
              count: 2,
              color: 'success'
            },
            {
              id: 7,
              href:
                'https://app.powerbi.com/view?r=eyJrIjoiNGI1Y2Q3ZGUtOGM1Yi00MzU4LWFlYTctZWI5OTdmZDM4NDU0IiwidCI6IjY4ZTQxNzUxLTgwZDMtNDE4My1hZjdiLWE1YzQyMTJiZGZlNSIsImMiOjEwfQ%3D%3D',
              name: 'Báo cáo chiếu sáng đô thị',
              count: 2,
              color: 'success'
            },
            {
              id: 8,
              href: '',
              name: 'Báo cáo CCTV',
              count: 2,
              color: 'success'
            }
          ]
        },
        {
          id: 4,
          name: 'Báo cáo từ các Sở ban ngành',
          count: 25,
          childs: [
            {
              id: 0,
              href: '#',
              name: 'Sở Kế hoạch và Đầu tư',
              count: 3,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'Sở Tài nguyên và Môi trường',
              count: 4,
              color: 'success'
            },
            {
              id: 2,
              href: '#',
              name: 'Sở Giáo dục và Đào tạo',
              count: 3,
              color: 'success'
            },
            {
              id: 3,
              href: '#',
              name: 'Sở Tài chính',
              count: 2,
              color: 'success'
            },
            {
              id: 4,
              href: '#',
              name: 'Sở Khoa học và Công nghệ',
              count: 3,
              color: 'success'
            },
            {
              id: 5,
              href: '#',
              name: 'Sở Giao thông vận tải',
              count: 1,
              color: 'success'
            },
            {
              id: 6,
              href: '#',
              name: 'Sở Văn hóa, Thể thao và Du lịch',
              count: 1,
              color: 'success'
            },
            {
              id: 7,
              href: '#',
              name: 'Sở xây dựng',
              count: 1,
              color: 'success'
            },
            {
              id: 8,
              href: '#',
              name: 'Sở Lao động - Thương binh và Xã hội',
              count: 1,
              color: 'success'
            },
            {
              id: 9,
              href: '#',
              name: 'Sở Y tế',
              count: 1,
              color: 'success'
            },
            {
              id: 10,
              href: '#',
              name: 'Sở Nông nghiệp và Phát triển nông thôn',
              count: 3,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Sở Công thương',
              count: 3,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Sở Tư pháp',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Sở Thông tin và Truyền thông',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Sở Nội vụ',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Sở Ngoại vụ',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Thanh tra tỉnh',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Ban quản lý khu công nghệ cao',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Ban quản lý các khu công nghiệp Đồng Nai',
              count: 0,
              color: 'success'
            },
            {
              id: 11,
              href: '#',
              name: 'Ban Dân tộc',
              count: 0,
              color: 'success'
            }
          ]
        },
        {
          id: 3,
          name: 'Báo cáo từ các địa phương',
          count: 3,
          childs: [
            {
              id: 0,
              href: '#',
              name: 'UBND thành phố Biên Hòa',
              count: 2,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Long Thành',
              count: 1,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND Huyện Tân Phú',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Vĩnh Cửu',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Định Quán',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Trảng Bom',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Thống Nhất',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Cẩm Mỹ',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Long Thành',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Nhơn Trạch',
              count: 0,
              color: 'success'
            },
            {
              id: 1,
              href: '#',
              name: 'UBND huyện Xuân Lộc',
              count: 0,
              color: 'success'
            }
          ]
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('BaoCao/showDashboard', {
      unitId: -5,
      type: -5
    })
    this.$store.dispatch('BaoCao/filterData', {
      type: -1,
      unitId: -1
    })
    if (this.$route.query.thongbao) {
      this.selectBaoCao(1)
      this.showDashboard(this.filteredList[1], -1, 1)
      this.$route.query.thongbao = null
    }
  },
  methods: {
    activeFilter (action) {
      /* if (this.active === action) {
        this.active = -1
      } else {
        this.active = action
      }
      this.$store.dispatch('BaoCao/filterData', {
        type: this.active
      }) */
    },
    linkBaoCao () {
      window.open(
        'http://ubndtinhdongnai-baocao.chinhquyendientu.vn/dang-nhap',
        '_blank'
      )
    },
    selectBaoCao (active) {
      if (this.active !== active) {
        this.subActive = 0
      }
      this.active = active
      this.$store.dispatch('BaoCao/filterData', {
        type: this.active,
        unitId: this.subActive
      })
    },
    selectSubBaoCao (active) {
      this.subActive = active
    },
    showDashboard (item, index, type) {
      if (item.id === -5) {
        this.$store.dispatch('BaoCao/showDashboard', {
          unitId: -5,
          type: -5
        })
        return
      }
      console.log(index, type, this.subActive)
      this.$store.dispatch('BaoCao/showDashboard', {
        unitId: index,
        type: type
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.list-bao-cao .baocao-item:hover > a,
.list-bao-cao .active > a {
  /* color: var(--iq-primary);
  background: var(--iq-color-light); */
  color: var(--iq-primary);
  background: var(--iq-color-light);
}
.child-nav {
  span {
    margin-left: 0.6rem;
  }
}
</style>
