<template>
  <div class="tinh-hinh-covid-19">
    <img src="./image_2021-04-22_18-21-12.png" alt="" />
  </div>
</template>
<script>
export default {
  name: 'TinhHinhCovid19'
}
</script>
<style lang="scss">
.tinh-hinh-covid-19 {
  img {
    width: 100%;
    height: auto;
  }
}
</style>
