<template>
  <div class="home">

    <div class="box-header-home">
        <span>ỨNG DỤNG ĐIỀU HÀNH</span>
        <div class="box-notifi">
            <div class="box-notifi-img">
                <img width="40px" height="40px" src="@/assets/images/user/man-300x300.png" alt=""/>
            </div>
            <div class="box-notifi-content">
                <div class="box-notifi-content__name">Cao Tiến Dũng</div>
                <div class="box-notifi-content__rank">Chủ tịch UBND tỉnh</div>
            </div>
        </div>
    </div>
    <div class="box-contents">

          <div class="col-3" >
                <div class="contents-time">
                    <div class="contents-time__time">13:59</div>
                    <div class="contents-time__date">
                        <div class="contents-time-duonglich">Thứ 3, ngày 24 tháng 04 năm 2021</div>
                        <div class="contents-time-amlich">(Ngày 15 tháng 3 năm Tân Sửu)</div>
                    </div>
                </div>

                <div class="contents-nhiemvu">
                    <div class="contents-nhiemvu-title">
                        <div class="contents-nhiemvu-title__icon">
                            <img src="@/assets/images/icon/ring-nv.svg" alt="">
                        </div>
                        <div class="contents-nhiemvu-title__content">
                            <div class="nhiemvu-title-content_text">Nhiệm vụ (05)</div>
                            <img src="@/assets/images/icon/rectangle.svg" alt="">
                        </div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/ellipse.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">Hoàn thành dự thảo Quyết định về sử dụng đất công nghiệp tại Đồng Nai</div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/ellipse.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">Báo cáo Thủ tướng về ô nhiễm KCN</div>
                    </div>
                </div>

                <div class="contents-nhiemvu">
                    <div class="contents-nhiemvu-title">
                        <div class="contents-nhiemvu-title__icon">
                            <img src="@/assets/images/icon/sktn.svg" alt="">
                        </div>
                        <div class="contents-nhiemvu-title__content">
                            <div class="nhiemvu-title-content_text">Văn bản (02)</div>
                            <img src="@/assets/images/icon/rectangle.svg" alt="">
                        </div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/star.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">VBĐI: Phê duyệt chủ trương đầu tư</div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/star.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">VBĐẾN: Thông tư 09 VB CP về việc thực hiện...</div>
                    </div>
                </div>

                <div class="contents-nhiemvu">
                    <div class="contents-nhiemvu-title">
                        <div class="contents-nhiemvu-title__icon">
                            <img src="@/assets/images/icon/sktn.svg" alt="">
                        </div>
                        <div class="contents-nhiemvu-title__content">
                            <div class="nhiemvu-title-content_text">Sự kiện trong ngày (02)</div>
                            <img src="@/assets/images/icon/rectangle.svg" alt="">
                        </div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/star.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">Sinh nhật Ông Nguyễn Văn A</div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/star.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">Talkshow “Trí tuệ nhân tạo với cuộc sống”</div>
                    </div>
                </div>

                <div class="contents-lich">
                    <div class="contents-lich-title">
                        <div class="contents-lich-title__icon">
                            <img src="@/assets/images/icon/box-lich.svg" alt="">
                        </div>
                        <div class="contents-lich-title__content">
                            <div class="lich-title-content_text">Lịch làm việc tiếp theo (05)</div>
                            <img src="@/assets/images/icon/rectangle.svg" alt="">
                        </div>
                    </div>
                    <div class="contents-lich-content">
                        <div class="lich-content-icons">
                            <!-- để tạm icon chờ duyệt -->
                            <img src="@/assets/images/icon/timelich.svg" alt="">
                        </div>
                        <div class="lich-content-contain">
                            <div class="lich-content-contain__title">Họp bầu cử ĐBQH khóa XV đơn vị số 3</div>
                            <div class="lich-content-contain__time">
                                <img src="@/assets/images/icon/clock.svg" alt="">
                                <span>09:00:00 AM – 11:00:00 AM</span>
                            </div>
                            <div class="lich-content-contain__user">
                                <img src="@/assets/images/icon/account_circle.svg" alt="">
                                <span>Phó chủ tịch Nguyễn Hữu Bảo</span>
                            </div>
                            <div class="lich-content-contain__room">
                                <img src="@/assets/images/icon/location_on.svg" alt="">
                                <span>Phòng họp 05</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contents-nhiemvu">
                    <div class="contents-nhiemvu-title">
                        <div class="contents-nhiemvu-title__icon">
                            <img src="@/assets/images/icon/warning.svg" alt="">
                        </div>
                        <div class="contents-nhiemvu-title__content">
                            <div class="nhiemvu-title-content_text">Các tình huống khẩn cấp (02)</div>
                            <img src="@/assets/images/icon/rectangle.svg" alt="">
                        </div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/warning-fire.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">Cháy lớn tại rừng QG Nam Cát Tiên</div>
                    </div>
                    <div class="contents-nhiemvu-content">
                        <div class="nhiemvu-content-icons">
                            <img src="@/assets/images/icon/warning-accident.svg" alt="">
                        </div>
                        <div class="nhiemvu-content-text">Hiện trường vụ tai nạn giao thông tại đường...</div>
                    </div>
                </div>
            </div>
        <div class="col-9 box-contain-shortcut">
          <div class="child-contain" style="padding-left:100px; padding-right:110px">
            <div class="child-item" v-on:click="link('app.bao-cao')">
              <div class="child-item__contents">
                <img src="./images/baocao.svg" alt="" height="80"/>
              </div>
                <span class="pt-2 mb-3">BÁO CÁO</span>
            </div>
            <div class="child-item" v-on:click="link('app.calendar')">
              <div class="child-item__contents">
                <img src="./images/lichlamviec.svg" alt="" height="80" />
              </div>
                <span class="pt-2 mb-3">LỊCH LÀM VIỆC</span>
            </div>
            <div class="child-item" v-on:click="link('meeting.list')">
              <div class="child-item__contents">
                <img src="./images/hop.svg" alt="" height="80" />
              </div>
                <span class="pt-2 mb-3">HỌP</span>
            </div>
            <div class="child-item" v-on:click="link('app.quan-ly-van-ban')">
              <div class="child-item__contents">
                <img src="./images/quanlyvanban.svg" alt="" height="80" />
              </div>
                <span class="pt-2 mb-3">QUẢN LÝ VĂN BẢN</span>
            </div>

          </div>
          <div class="child-contain">
            <div class="child-item" v-on:click="link('app.quanLyNhiemVu')">
              <div class="child-item__contents">
                <img src="./images/quanlynhiemvu.svg" alt="" height="80" />
              </div>
                <span class="pt-2 mb-3">QUẢN LÝ NHIỆM VỤ</span>
            </div>
            <div class="child-item" v-on:click="link('app.hanh-chinh-cong')">
              <div class="child-item__contents">
                <img src="./images/hanhchinhcong.svg" alt="" height="80" />
              </div>
                <span class="pt-2 mb-3">HÀNH CHÍNH CÔNG</span>
            </div>
            <div class="child-item" v-on:click="link('app.y-kien-nguoi-dan')">
              <div class="child-item__contents">
                <img src="./images/ykiennguoidan.svg" alt="" height="80" />
              </div>
                <span class="pt-2 mb-3">Ý KIẾN NGƯỜI DÂN</span>
            </div>
            <div class="child-item" v-on:click="link('app.baoChiMangXaHoi')">
                <div class="child-item__contents">
                    <img src="./images/baochi-mangxahoi.svg" alt="" height="80"/>
                </div>
                    <span class="pt-2 mb-3">BÁO CHÍ - MẠNG XÃ HỘI</span>
            </div>
            <div class="child-item" v-on:click="link('')" >
                <div class="child-item__contents" style="background-color:#728EBD;">
                    <img src="./images/cctv-cambien.svg" alt="" height="80" />
                </div>
                    <span class="pt-2 mb-3">CCTV & CẢM BIẾN</span>
            </div>
          </div>
          <div class="child-contain">
            <div class="child-item" v-on:click="link('')">
                <div class="child-item__contents">
                <img src="./images/ketnoi.svg" alt=""  height="80"/>
                </div>
              <span class="pt-2 mb-3">KẾT NỐI</span>
            </div>
            <div class="child-item" v-on:click="link('')">
                <div class="child-item__contents">
                    <img src="./images/anninhmang.svg" alt=""  height="80"/>
                </div>
                <span class="pt-2 mb-3">AN NINH MẠNG</span>
            </div>
            <div class="child-item" v-on:click="link('')">
                <div class="child-item__contents">
                    <img src="./images/tuongtacnoibo.svg" alt="" height="80" />
                </div>
                <span class="pt-2 mb-3">TƯƠNG TÁC NỘI BỘ</span>
            </div>
            <div class="child-item" v-on:click="link('')">
                <div class="child-item__contents">
                    <img src="./images/tienich.svg" alt="" height="80" />
                </div>
                <span class="pt-2 mb-3">TIỆN ÍCH</span>
            </div>
            <div class="child-item" v-on:click="link('')">
                <div class="child-item__contents">
                    <img src="./images/hdsd.svg" alt="" height="80" />
                </div>
                <span class="pt-2 mb-3">HƯỚNG DẪN SỬ DỤNG</span>
            </div>
          </div>
        </div>

    </div>
  </div>
</template>
<script>
import profile from '../../../assets/images/user/man-300x300.png'
export default {
  name: 'HomePage2',
  components: {
  },
  data () {
    return {
      userProfile: profile,
      message: [
        {
          image: require('../../../assets/images/user/user-01.jpg'),
          name: 'Nik Emma Watson',
          date: '13 jan'
        },
        {
          image: require('../../../assets/images/user/user-02.jpg'),
          name: 'Greta Life',
          date: '14 Jun'
        },
        {
          image: require('../../../assets/images/user/user-03.jpg'),
          name: 'Barb Ackue',
          date: '16 Aug'
        },
        {
          image: require('../../../assets/images/user/user-04.jpg'),
          name: 'Anna Sthesia',
          date: '21 Sept'
        },
        {
          image: require('../../../assets/images/user/user-05.jpg'),
          name: 'Bob Frapples',
          date: '29 Sept'
        }
      ],
      notification: [
        {
          image: require('../../../assets/images/user/user-01.jpg'),
          name: 'Quản lý văn bản',
          date: '23 hour ago',
          description: 'Có 5 văn bản chờ xử lý',
          link: '/app/quan-ly-van-ban?thongbao=true'
        },
        {
          image: require('../../../assets/images/user/user-02.jpg'),
          name: 'Báo cáo',
          date: '14 hour ago',
          description: 'Có 4 tình huống khẩn cấp',
          link: '/app/bao-cao?thongbao=true'
        },
        {
          image: require('../../../assets/images/user/user-03.jpg'),
          name: 'Lịch họp',
          date: '16 hour ago',
          description: 'Có 1 lịch họp sắp diễn ra',
          link: '/app/calendar?thongbao=true'
        },
        {
          image: require('../../../assets/images/user/user-04.jpg'),
          name: 'Quản lý nhiệm vụ',
          date: '21 hour ago',
          description: 'Có 3 nhiệm vụ cá nhân',
          link: '/app/quan-ly-nhiem-vu?thongbao=true'
        }
      ]
    }
  },
  methods: {
    link (route) {
      this.$router.push({ name: route })
    }
  }
}
</script>
<style scoped lang="scss">
@import url('../../../assets/css/custom.css');
@import url('../../../assets/css/PriceSlider.css');
.home {
  background: #e8e0eb;
    background-image:url("../../../assets/images/page-img/background.svg");
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.media {
  color: black;
}
h1 {
  color: white;
}
.box-contents {
  padding-left: 69px;
  display: flex;
  flex-direction: row;
  text-align: center;
  cursor: pointer;

  .contents-time{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;

      &__time{
        font-weight: normal;
        font-size: 80px;
        line-height: 100px;
      }

      &__date{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 28px;
        font-size: 20px;
        line-height: 25px;
      }
  }

  .contents-nhiemvu{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 16px;
        margin-left: 28px;
        margin-bottom: 4px;
        color: var(--iq-black);
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);

        border-radius: 20px;

      .contents-nhiemvu-title{
          padding-top: 10px;
          padding-right: 23px;
          padding-left: 16px;
          display: inline-flex;
          justify-content: space-between;
          font-weight: bold;
          font-size: 20px;

          &__content{
              width: 100%;
              padding-left: 12px;
              display: inline-flex;
              align-items: center;
              justify-content: space-between;
          }
      }

      .contents-nhiemvu-content{
          display: flex;
          width: 100%;
          padding-left: 44px;
          padding-right: 24px;
          padding-bottom: 7px;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;

          .nhiemvu-content-text{
            font-size: 16px;
            line-height: 20px;
            text-align: initial;
            padding-left: 12px;
            letter-spacing: 0.01em;
          }
      }
  }

  .contents-lich{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 16px;
        margin-left: 28px;
        color: var(--iq-black);
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(4px);

        border-radius: 20px;

      .contents-lich-title{
          padding-top: 10px;
          padding-right: 23px;
          padding-left: 14px;
          display: inline-flex;
          justify-content: space-between;
          font-weight: bold;
          font-size: 20px;

          &__content{
              width: 100%;
              padding-left: 12px;
              display: inline-flex;
              align-items: center;
              justify-content: space-between;
          }
      }

      .contents-lich-content{
          display: flex;
          width: 100%;
          padding-left: 20px;
          padding-right: 24px;
          padding-bottom: 7px;
          align-items: center;
          justify-content: flex-start;
          font-weight: 500;

          .lich-content-contain{
            font-size: 16px;
            padding-left: 12px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &__title{
                font-weight: bold;
                text-align: initial;
                font-size: 18px;
                line-height: 23px;
                text-transform: uppercase;
            }

            &__time{
                span{
                    padding-left: 8px;
                }
            }
            &__user{
                span{
                    padding-left: 8px;
                }
            }
            &__room{
                span{
                    padding-left: 8px;
                }
            }
          }
      }
  }

  .box-contain-shortcut{
      padding-top: 101px;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .child-contain{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
            width: 100%;
          .child-item{
              width: 20%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .child-item__contents{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 150px;
                  height: 150px;
                  background-color: #FFF;
                  border-radius: 40px;
                  img{
                      height: 120px;
                      width: 93px;
                  }
              }
          }
      }
  }
}
.buttonIcon {
  padding: 20px;
  color: #642e8e;
  font-weight: bold;
  border-radius: 20px;
  height: 175px;
  margin-bottom: 30px
}
.buttonIcon:hover {
  text-decoration-line: underline;
}
.color-purple {
  color: #642e8e;
}
@media (min-width: 992px){
  .acc-home-page {
    position: static;
  }
}
.do-c {
  font-size: 30px;
  font-weight: bold;
  text-align: left
}
.aqi {
  color: #000;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 3px;
  color:  #34a470
}
.item-mess-home {
  border: none;
  background: #f2edff;
  border-left: solid 2px #deb9f3
}
.thong-tin {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: left
}
.lich-hop {
  max-height: 370px;
  overflow-y: auto;
  padding: 10px
}

.box-header-home{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    span{
        font-size: 36px;
        text-align: center;
        width: 88%;
    }
    .box-notifi{
        width: 12%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .box-notifi-img{
            width: 40px;
            height: 40px;
        }

        .box-notifi-content{
            display: flex;
            flex-direction: column;
            padding-left: 6px;
            &__name{
                font-size: 20px;
                line-height: 25px;

                letter-spacing: 0.01em;
            }
            &__rank{
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}
</style>
