<template>
  <div class="home">
    <div class="user-profile">

    </div>
    <div class="text-center pt-2">
      <div>
        <h1 class="color-purple">ỨNG DỤNG ĐIỀU HÀNH</h1>
        <DefaultNavBar
        title="Dashboard"
        :homeURL="{ name: 'dashboard.home' }"
        :sidebarGroupTitle="sidebarGroupTitle"
        :hiddenSearchBox="true"
        @toggle="sidebarMini"
        :logo="logo"
      >
        <template slot="responsiveRight">
          <ul class="navbar-nav ml-auto navbar-list">
            <li class="nav-item" v-nav-toggle>
              <a href="#" class="search-toggle iq-waves-effect">
                <lottie
                  :option="require('../../../assets/images/small/lottie-bell')"
                  id="lottie-beil"
                />
                <span class="bg-danger dots"></span>
              </a>
              <div class="iq-sub-dropdown">
                <div class="iq-card shadow-none m-0">
                  <div class="iq-card-body p-0 ">
                    <div class="bg-primary p-3">
                      <h5 class="mb-0 text-white">
                        Tất cả thông báo<small
                          class="badge  badge-light float-right pt-1"
                          >4</small
                        >
                      </h5>
                    </div>
                    <router-link :to="{ path: item.link }"
                      class="iq-sub-card"
                      v-for="(item, index) in notification"
                      :key="index"
                    >
                      <div class="media align-items-center">
                        <div class="">
                          <i class="ri-mail-open-line" />
                          <!-- <img class="avatar-40 rounded" :src="item.image" alt="img"> -->
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 text-left ml-1">{{ item.name }}</h6>
                          <small class="float-right font-size-12">{{
                            item.date
                          }}</small>
                          <p class="mb-0">
                            {{ item.description.substring(0, 40) + '...' }}
                          </p>
                        </div>
                      </div>
                    </router-link>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </template>
        <template slot="right">
          <ul class="navbar-list">
            <li class="" v-nav-toggle>
              <a
                href="#"
                class="search-toggle iq-waves-effect d-flex align-items-center bg-primary rounded"
              >
                <img
                  :src="userProfile"
                  class="img-fluid rounded mr-3"
                  alt="user"
                />
                <div class="caption">
                  <h6 class="mb-0 line-height text-white">Cao Tiến Dũng</h6>
                  <span class="font-size-12 text-white"
                    >Chủ tịch UBND tỉnh</span
                  >
                </div>
              </a>
              <div class="iq-sub-dropdown iq-user-dropdown">
                <div class="iq-card shadow-none m-0">
                  <div class="iq-card-body p-0 ">
                    <div class="bg-primary p-3">
                      <h5 class="mb-0 text-white line-height">
                        Thông tin cá nhân
                      </h5>
                      <span class="text-white font-size-12">{{
                        $t('nav.user.available')
                      }}</span>
                    </div>
                    <a href="#" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-file-user-line"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">
                            {{ $t('nav.user.profileTitle') }}
                          </h6>
                          <p class="mb-0 font-size-12">
                            {{ $t('nav.user.profileSub') }}
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-profile-line"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">
                            {{ $t('nav.user.profileEditTitle') }}
                          </h6>
                          <p class="mb-0 font-size-12">
                            {{ $t('nav.user.profileEditSub') }}
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-account-box-line"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">
                            {{ $t('nav.user.accountSettingTitle') }}
                          </h6>
                          <p class="mb-0 font-size-12">
                            {{ $t('nav.user.accountSettingSub') }}
                          </p>
                        </div>
                      </div>
                    </a>
                    <a href="#" class="iq-sub-card iq-bg-primary-hover">
                      <div class="media align-items-center">
                        <div class="rounded iq-card-icon iq-bg-primary">
                          <i class="ri-lock-line"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="mb-0 ">
                            {{ $t('nav.user.privacySettingTitle') }}
                          </h6>
                          <p class="mb-0 font-size-12">
                            {{ $t('nav.user.privacySettingSub') }}
                          </p>
                        </div>
                      </div>
                    </a>
                    <div class="d-inline-block w-100 text-center p-3">
                      <a
                        class="bg-primary iq-sign-btn"
                        href="javascript:void(0)"
                        @click="logout"
                        role="button"
                        >{{ $t('nav.user.signout')
                        }}<i class="ri-login-box-line ml-2"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </template>
      </DefaultNavBar>
      </div>
    </div>
    <div class="icon">
      <div class="row">
        <div class="col-10">
          <div class="row">
            <div class="col-sm-2"></div>
            <!-- <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('dashboard.home')">
              <img src="./images/trangChu.png" alt="" />
              <p class="pt-2 mb-3">TRANG CHỦ</p>
            </div> -->
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.bao-cao')">
              <div class="buttonIcon iq-card mb-0">
                <img src="./images/baoCao.png" alt="" height="80"/>
                <p class="pt-2 mb-3">BÁO CÁO</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.calendar')">
              <div class="buttonIcon iq-card mb-0">
                <img src="./images/lichLamViec.png" alt="" height="80" />
                <p class="pt-2 mb-3">LỊCH LÀM VIỆC</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('meeting.list')">
              <div class="buttonIcon iq-card mb-0">
                <img src="./images/hop.png" alt="" height="80" />
                <p class="pt-2 mb-3">HỌP</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.quan-ly-van-ban')">
              <div class="buttonIcon iq-card mb-0">
                <img src="./images/quanLyVB.png" alt="" height="80" />
                <p class="pt-2 mb-3">QUẢN LÝ VĂN BẢN</p>
              </div>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.quanLyNhiemVu')">
              <div class="buttonIcon iq-card mb-0">
                <img src="./images/quanLyNV.png" alt="" height="80" />
                <p class="pt-2 mb-3">QUẢN LÝ NHIỆM VỤ</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.hanh-chinh-cong')">
              <div class="buttonIcon iq-card mb-0">
                <img src="./images/hanhChinhCong.png" alt="" height="80" />
                <p class="pt-2 mb-3">HÀNH CHÍNH CÔNG</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.y-kien-nguoi-dan')">
              <div class="buttonIcon iq-card mb-0">
              <img src="./images/yKienNguoiDan.png" alt="" height="80" />
              <p class="pt-2 mb-3">Ý KIẾN NGƯỜI DÂN</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('app.baoChiMangXaHoi')">
            <div class="buttonIcon iq-card mb-0">
              <img src="./images/baoMang.png" alt="" height="80"/>
              <p class="pt-2 mb-3">BÁO CHÍ - MẠNG XÃ HỘI</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('')">
            <div class="buttonIcon iq-card mb-0">
              <img src="./images/cctv.png" alt="" height="80" />
              <p class="pt-2 mb-3">CCTV & CẢM BIẾN</p>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('')">
            <div class="buttonIcon iq-card mb-0">
              <img src="./images/ketNoi.png" alt=""  height="80"/>
              <p class="pt-2 mb-3">KẾT NỐI</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('')">
            <div class="buttonIcon iq-card mb-0">
              <img src="./images/anNinhMang.png" alt=""  height="80"/>
              <p class="pt-2 mb-3">AN NINH MẠNG</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('')">
            <div class="buttonIcon iq-card mb-0">
              <img src="./images/tuongTacNoiBo.png" alt="" height="80" />
              <p class="pt-2 mb-3">TƯƠNG TÁC NỘI BỘ</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('')">

            <div class="buttonIcon iq-card mb-0">
              <img src="./images/tienIch.png" alt="" height="80" />
              <p class="pt-2 mb-3">TIỆN ÍCH</p>
              </div>
            </div>
            <div class="col-sm-2 buttonIcon" type="button" v-on:click="link('')">
            <div class="buttonIcon iq-card mb-0">
              <img src="./images/hdsd.png" alt="" height="80" />
              <p class="pt-2 mb-3">HƯỚNG DẪN SỬ DỤNG</p>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>
        </div>
        <div class="col-2" style="position: absolute; right: 0px; width: 22em; margin-top: 20px">
          <div class="iq-card iq-card-block iq-card-stretch mb-3 mr-2">
            <div class="iq-card-body p-2">
              <div class="d-flex align-items-center">
                <h6 class="text-left font-weight-bold">ĐỒNG NAI</h6>
                <div class="iq-card-header-toolbar ml-1">
                  <div class="aqi">AQI: 47</div>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <div class="media-support-info">
                  <h6 class="do-c">20&deg;C</h6>
                </div>
                <div class="iq-card-header-toolbar ml-1">
                    <p class="text-left mb-0 font-size-12 color-purple font-weight-bold">22/04/2021</p>
                    <p class="text-left mb-0 font-size-12 color-purple">(11 tháng Ba năm Tân Sửu)</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="iq-card iq-card-block iq-card-stretch mr-2">
            <h6 class="text-left font-weight-bold p-2">LỊCH LÀM VIỆC</h6>
            <div class="list-group lich-hop">
              <a href="#" class="mt-1 item-mess-home list-group-item list-group-item-action text-left">
                <div class="font-weight-bold">08:30 - 10:30 | 12/05/2021</div>
                <h5>Dự họp UBND tỉnh thường kỳ</h5>
                <div>PHÒNG HỌP 1</div>
                <div class="font-weight-bold">Giám đốc Hồ Văn Hà</div>
              </a>
              <a href="#" class="mt-1 item-mess-home list-group-item list-group-item-action text-left">
                <div class="font-weight-bold">08:30 - 10:30 | 15/05/2021</div>
                <h5>Họp tổng quy hoạch</h5>
                <div>PHÒNG HỌP 2</div>
                <div class="font-weight-bold">Giám đốc Vũ Hoài Hạ</div>
              </a>
              <a href="#" class="mt-1 item-mess-home list-group-item list-group-item-action text-left">
                <div class="font-weight-bold">08:00 - 16:30 | 19/05/2021</div>
                <h5>Làm việc với trường Cao đẳng Công nghiệp</h5>
                <div>PHÒNG HỌP 2</div>
                <div class="font-weight-bold">Giám đốc Vũ Hoài Hạ</div>
              </a>
            </div>
          </div> -->
          <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
            <h6 class="text-left font-weight-bold p-2">LỊCH LÀM VIỆC</h6>
            <div class="iq-card-body lich-hop">
                <ul class="list-inline m-0 p-0">
                  <li class="mb-4">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="media align-items-center">
                            <div class="media-body">
                              <div class="mb-0 text-left font-weight-bold">Họp bầu cử ĐBQH khóa XV đơn vị số 3: Long Thành, Nhơn Trạch, Cẩm Mỹ</div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-calendar"></i> 23/4/2021
                                <i class="las la-clock"></i> 7:00:00 AM
                              </div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-user"></i> Phó chủ tịch Bảo
                              </div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-map-marker"></i> Phòng họp 05
                              </div>
                            </div>
                        </div>
                      </div>
                  </li>
                  <li class="mb-4">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="media align-items-center">
                            <div class="media-body">
                              <div class="mb-0 text-left font-weight-bold">Dự, làm việc với Đoàn công tác của BCA do đ/c Trung tướng Trần Quốc ...</div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-calendar"></i> 23/4/2021
                                <i class="las la-clock"></i> 8:00:00 AM
                              </div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-user"></i> Chủ tịch
                              </div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-map-marker"></i> Phòng họp 01
                              </div>
                            </div>
                        </div>
                      </div>
                  </li>
                  <li class="mb-4">
                      <div class="d-flex align-items-center justify-content-between">
                        <div class="media align-items-center">
                            <div class="media-body">
                              <div class="mb-0 text-left font-weight-bold">Cùng với đoàn giám sát, kiểm tra công tác bầu cử của UB Thường vụ Quốc Hội ...</div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-calendar"></i> 23/4/2021
                                <i class="las la-clock"></i> 8:30:00 AM
                              </div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-user"></i> Chủ tịch
                              </div>
                              <div class="text-left" style="font-size: 12px">
                                <i class="las la-map-marker"></i> Phòng họp S6
                              </div>
                            </div>
                        </div>
                      </div>
                  </li>
                </ul>
            </div>
          </div>
          <div class="iq-card iq-card-block iq-card-stretch mr-2">
            <h6 class="text-left font-weight-bold p-2">TÌNH HUỐNG KHẨN CẤP</h6>
            <ul class="suggestions-lists m-0 p-0">
                <li class="d-flex mb-0 align-items-center p-2">
                  <div class="profile-icon bg-danger"><span><i class="lab la-gripfire"></i></span></div>
                  <div class="media-support-info ml-3">
                      <h6 class="text-left">Cháy lớn tại rừng QG Nam Cái Tiên</h6>
                  </div>
                </li>
                <li class="d-flex mb-0 align-items-center p-2">
                  <div class="profile-icon bg-danger"><span><i class="las la-car-crash"></i></span></div>
                  <div class="media-support-info ml-3">
                      <h6 class="text-left">Hiện trường vụ tai nạn giao thông ...</h6>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DefaultNavBar from '../../../components/core/navbars/DefaultNavBar'
import profile from '../../../assets/images/user/man-300x300.png'
export default {
  name: 'HomePage',
  components: {
    DefaultNavBar
  },
  data () {
    return {
      userProfile: profile,
      message: [
        {
          image: require('../../../assets/images/user/user-01.jpg'),
          name: 'Nik Emma Watson',
          date: '13 jan'
        },
        {
          image: require('../../../assets/images/user/user-02.jpg'),
          name: 'Greta Life',
          date: '14 Jun'
        },
        {
          image: require('../../../assets/images/user/user-03.jpg'),
          name: 'Barb Ackue',
          date: '16 Aug'
        },
        {
          image: require('../../../assets/images/user/user-04.jpg'),
          name: 'Anna Sthesia',
          date: '21 Sept'
        },
        {
          image: require('../../../assets/images/user/user-05.jpg'),
          name: 'Bob Frapples',
          date: '29 Sept'
        }
      ],
      notification: [
        {
          image: require('../../../assets/images/user/user-01.jpg'),
          name: 'Quản lý văn bản',
          date: '23 hour ago',
          description: 'Có 5 văn bản chờ xử lý',
          link: '/app/quan-ly-van-ban?thongbao=true'
        },
        {
          image: require('../../../assets/images/user/user-02.jpg'),
          name: 'Báo cáo',
          date: '14 hour ago',
          description: 'Có 4 tình huống khẩn cấp',
          link: '/app/bao-cao?thongbao=true'
        },
        {
          image: require('../../../assets/images/user/user-03.jpg'),
          name: 'Lịch họp',
          date: '16 hour ago',
          description: 'Có 1 lịch họp sắp diễn ra',
          link: '/app/calendar?thongbao=true'
        },
        {
          image: require('../../../assets/images/user/user-04.jpg'),
          name: 'Quản lý nhiệm vụ',
          date: '21 hour ago',
          description: 'Có 3 nhiệm vụ cá nhân',
          link: '/app/quan-ly-nhiem-vu?thongbao=true'
        }
      ]
    }
  },
  methods: {
    link (route) {
      this.$router.push({ name: route })
    }
  }
}
</script>
<style scoped>
@import url('../../../assets/css/custom.css');
@import url('../../../assets/css/PriceSlider.css');
.home {
  background: #e8e0eb;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding: 40px 0px;
  height: 100%;
}
.media {
  color: black;
}
h1 {
  color: white;
}
.icon {
  padding: 0px 0px;
  text-align: center;
}
.buttonIcon {
  padding: 20px;
  color: #642e8e;
  font-weight: bold;
  border-radius: 20px;
  height: 175px;
  margin-bottom: 30px
}
.buttonIcon:hover {
  text-decoration-line: underline;
}
.color-purple {
  color: #642e8e;
}
@media (min-width: 992px){
  .acc-home-page {
    position: static;
  }
}
.do-c {
  font-size: 30px;
  font-weight: bold;
  text-align: left
}
.aqi {
  color: #000;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 3px;
  color:  #34a470
}
.item-mess-home {
  border: none;
  background: #f2edff;
  border-left: solid 2px #deb9f3
}
.thong-tin {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: left
}
.lich-hop {
  max-height: 370px;
  overflow-y: auto;
  padding: 10px
}
</style>
