<template>
  <div>
    <Loader />
    <section class="sign-in-page">
      <b-container class="bg-white mt-5 p-0">
        <div class="row no-gutters">
          <div class="col-sm-6 align-self-center">
            <div class="sign-in-from">
              <router-view></router-view>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="sign-in-detail text-white" :style="'background: url('+bgImageURL+') no-repeat 0 0; background-size: cover;'">
              <!-- <a class="sign-in-logo mb-5" href="#"><img :src="logo" class="img-fluid" alt="logo"></a> -->
              <Swiper :options="options">
                <SwiperSlide class="item">
                  <img :src="require('../../assets/images/login/image_2021-04-18_20-44-54.png')" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">A Better Way to Operate</h4>
                  <p>The Smart city business all starts from data. In order to find a better way to operate city, first you need to understand how the city is operating</p>
                </SwiperSlide>
                <SwiperSlide class="item">
                  <img :src="require('../../assets/images/login/photo_2021-04-18_20-46-11.jpg')" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">A Better Way to Operate</h4>
                  <p>The Smart city business all starts from data. In order to find a better way to operate city, first you need to understand how the city is operating</p>
                </SwiperSlide>
                <SwiperSlide class="item">
                  <img :src="require('../../assets/images/login/image_2021-04-18_20-46-18.png')" class="img-fluid mb-4" alt="logo">
                  <h4 class="mb-1 text-white">A Better Way to Operate</h4>
                  <p>The Smart city business all starts from data. In order to find a better way to operate city, first you need to understand how the city is operating</p>
                </SwiperSlide>
              </Swiper>
            </div>
          </div>
        </div>
      </b-container>
    </section>
  </div>
</template>
<script>
import Loader from '../../components/core/loader/Loader'
import logo from '../../assets/images/logo.png'
import { core } from '../../config/pluginInit'
import bgImage from '../../assets/images/login/login-2.jpg'
import Swiper from '../../components/core/slider/Swiper'
import SwiperSlide from '../../components/core/slider/SwiperSlide'
export default {
  name: 'AuthLayout',
  components: {
    Loader,
    Swiper,
    SwiperSlide
  },
  mounted () {
    core.index()
  },
  data () {
    return {
      options: {
        slidesPerView: 1,
        loop: true
      },
      logo: logo,
      bgImageURL: bgImage
    }
  }
}
</script>
<style>
  @import url("../../assets/css/custom.css");
</style>
